@model CMS.ViewModel.ViewModel.SupBank

@{
    ViewBag.Title = "SupBankList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section styles{
    <link href="~/Content/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
}

<div class="content" id="content">
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">List Bank </li>
    </ol>
    <h1 class="page-header">Bank </h1>
    <div class="panel">
        <div class="panel-heading bg-primary">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">List Bank </h4>
        </div>
        <div class="panel-body noPadding">
            <div class="">
                <a class="btn btn-success pull-right form-group m-b-5" href="@Url.Action("SupBank","SupportData")"><i class="fa fa-plus" title="Add"> </i>Add</a>
            </div>
            <br />
            @{ int count = 0;}
            @if (Model.lstSupBank != null)
            {
                <table class="table table-hover table-responsive" id="SupBankList">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Bank Name
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Phone No
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>

                    @foreach (var item in Model.lstSupBank)
                {
                        <tr>
                            <td>
                                @{ count++;}
                                @count
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BANK_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ADDRESS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PHONE)
                            </td>
                            <td>
                                <a href="@Url.Action("SupBank","SupportData",new { sBankId=@item.BANK_ID})"><i class="fa fa-edit text-primary" title="Update"></i></a>
                                <a href="javascript:;" onclick="GetConfirm(@item.BANK_ID)" title="CliCk To Delete"><i class="fa fa-trash text-danger"></i></a>
                            </td>
                        </tr>
                                    }

                </table>
                                    }
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script>
        $("#SupBankList").DataTable();
    </script>
    <script>
        function GetConfirm(ID) {
            if (!confirm('Are you sure to delete ?')) {
                return false;
            } else {
                $.ajax({
                    url: "@Url.Action("DeleteSupBank", "SupportData")",
                    method: "POST",
                    datatype: "json",
                    data: { sBankId: ID },
                    success: function (objResult) {
                        alert(objResult.Message);
                        window.location.reload();
                    }, error: function (error) {
                        alert(error);
                    }
                });
            }
        }
    </script>
}
