@model CMS.ViewModel.ViewModel.TimeTableViewModel

@{
    ViewBag.Title = "ClassWiseTimeTableInfo";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section styles{
    <link href="~/Content/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content" id="content">
        <ol class="breadcrumb pull-right">
            <li><a href="javascript:;">Home</a></li>
            <li><a href="@Url.Action("TimeTableClassWiseList","TimeTable")">List Class Wise Time Table </a></li>
            <li class="active">Add Class Wise Time Table </li>
        </ol>
        <h1 class="page-header">Class Wise Time Table </h1>
        <div class="panel">
            <div class="panel-heading bg-primary">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Add Class Wise Time Table</h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="col-md-12">
                        <div class="col-md-6 col-md-offset-3">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.ClassList, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.ClassList, Model.ClassList, "-- Select --", new { @class = "drop-down form-control input-sm" })
                                    @Html.ValidationMessageFor(model => model.ClassList, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CourseList, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.CourseList, Model.CourseList, "-- Select --", new { @class = "drop-down form-control input-sm" })
                                    @Html.ValidationMessageFor(model => model.CourseList, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.StaffList, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.StaffList, Model.StaffList, "-- Select --", new { @class = "drop-down form-control input-sm" })
                                    @Html.ValidationMessageFor(model => model.StaffList, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DayOrderList, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.DayOrderList, Model.DayOrderList, "-- Select --", new { @class = "drop-down form-control input-sm" })
                                    @Html.ValidationMessageFor(model => model.DayOrderList, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.HourList, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.HourList, Model.HourList, "-- Select --", new { @class = "drop-down form-control input-sm" })
                                    @Html.ValidationMessageFor(model => model.HourList, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SemesterList, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.SemesterList, Model.SemesterList, "-- Select --", new { @class = "drop-down form-control input-sm" })
                                    @Html.ValidationMessageFor(model => model.SemesterList, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.HourType, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.HourType, Model.HourType, "-- Select --", new { @class = "drop-down form-control input-sm" })
                                    @Html.ValidationMessageFor(model => model.HourType, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group pull-right ">
                                <div class="col-md-12">
                                    <a id="btnSubmit" value="SUBMIT" class="btn btn-primary">Submit</a>
                                    <a id="" href="@Url.Action("TimeTableClassWiseList","TimeTable")" value="SUBMIT" class="btn btn-danger">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script src="~/Content/assets/plugins/flot/jquery.flot.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/plugins/select2/dist/js/select2.min.js"></script>
    <script>
        $("#ClassList,#CourseList,#StaffList").select2();
    </script>
    <script>
        $('#ClassList').on('change', function () {
            var ClassId = $('#ClassList').val();
            if (ClassId != null) {
                $.ajax({
                    url: '@Url.Action("GetCourseByClassId", "TimeTable")',
                    data: { sClassId: ClassId },
                    success: function (option) {
                        var ddl = JSON.parse(option);

                        $('#CourseList').empty();
                        $('#CourseList').append('<option value="0">-- select --</option>' + ddl.Course_Id);

                        //$('#ddlStaff').val(sStaffId);
                    },
                    error: function (xhr, textStatus, error) {
                        alert(error + "\n");
                    }
                });
            }
        });
    </script>
    <script>
        $('#CourseList').on('change', function () {
            var CourseId = $('#CourseList').val();
            var ClassId = $('#ClassList').val();
            alert(CourseId);
            if (CourseId != 0) {
                $.ajax({
                    url: '@Url.Action("GetStaffByCourseId", "TimeTable")',
                    data: { sCourseId: CourseId, sClassId: ClassId },
                    success: function (option) {
                        var ddl = JSON.parse(option);
                        $('#StaffList').empty();
                        if ((option.Staff_Id) != 0) {
                            $('#StaffList').append('<option value="0">-- select --</option>' + ddl.Staff_Id);
                        }
                        else {
                            alert('Please assign the staff for this course in class course staff...!!!');
                        }

                        //$('#ddlStaff').val(sStaffId);
                    },
                    error: function (xhr, textStatus, error) {
                        alert(error + "\n");
                    }
                });
            }
        });
    </script>
    <script>
        $("#btnSubmit").on("click", function () {
            var ClassId = $("#ClassList").val();
            var CourseId = $("#CourseList").val();
            var StaffId = $("#StaffList").val();
            var DayOrderId = $("#DayOrderList").val();
            var HourId = $("#HourList").val();
            var SemesterId = $("#SemesterList").val();
            var HourTypeId = $("#HourType").val();
            var JsonData;
            if (JsonData == null) {
                JsonData = '{"Class_Id":"' + ClassId + '","Course_Id":"' + CourseId + '","Staff_Id":"' + StaffId + '","Day_Order_Id":"' + DayOrderId + '","Hour_Id":"' + HourId + '","Semester_Id":"' + SemesterId + '","hourType":"' + HourTypeId + '"}';
            }
            if (ClassId != 0 && StaffId != 0 && DayOrderId != 0 && HourId != 0 && HourTypeId!=0) {
                $.ajax({
                    url: "@Url.Action("SaveClassWiseTimeTable", "TimeTable")",
                    method: "POST",
                    datatype: "html",
                    data: { TimeTableInfo: JsonData },
                    success: function (data) {
                        alert(data);
                    }, error: function (error) {
                        alert('Record not saved try again ..!');
                    }
                });
            }
            else {
                alert('Enter the correct values...!!!');
            }
        });
    </script>
}
