@model CMS.ViewModel.ViewModel.TimeTableViewModel

@{
    ViewBag.Title = "TimeTableSettingList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section styles{
    <link href="~/Content/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
}

<div class="content" id="content">
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">List TimeTable Settings </li>
    </ol>
    <h1 class="page-header">TimeTable Settings </h1>
    <div class="panel">
        <div class="panel-heading bg-primary">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">List TimeTable Settings </h4>
        </div>
        <div class="panel-body noPadding">
            <div class="col-md-12">
                <a class="btn btn-success pull-right form-group m-b-5" href="@Url.Action("TimeTableSetting","TimeTable")"><i class="fa fa-plus" title="Add"> Add</i></a>
            </div>
            @{ int count = 0;}
            @if (Model.lstTimeTableSetting != null)
            {
                <table class="table" id="TimeTableSettingList">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                Setting Name
                            </th>
                            <th>
                                Semester
                            </th>
                            <th>
                                No Of Hours
                            </th>
                            <th>
                                No Of Days
                            </th>
                            <th>
                                Hours For HOD
                            </th>
                            <th>
                                Hours For Staff
                            </th>
                            <th>
                                Academic Year
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.lstTimeTableSetting)
                {
                            <tr>
                                <td>
                                    @{ count++;}
                                    @count
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SETTING_NAME)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.SEMESTER_TYPE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NO_OF_HOURS)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NO_OF_DAYS)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.BASIC_HOURS_FOR_STAFF)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BASIC_HOURS_FOR_HOD)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ACADEMIC_YEAR)
                                </td>

                                <td>
                                    <a href="@Url.Action("EditTimeTableSetting","TimeTable",new { id=@item.SETTING_ID})"><i class="fa fa-edit text-primary" title="Update"></i></a>
                                    <a onclick="GetConfirm(@item.SETTING_ID)"><i class="fa fa-trash text-danger" title="Delete"></i></a>
                                </td>
                            </tr>
                                        }
                    </tbody>
                </table>
                                    }
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script>
        $('#TimeTableSettingList').DataTable();
        
    </script>
    <script>
        function GetConfirm(ID) {
            if (!confirm('Are you sure to delete ?')) {
                return false;
            } else {
                $.ajax({
                    url: "@Url.Action("DeleteTimeTableSetting", "TimeTable")",
                    method: "POST",
                    datatype: "json",
                    data: { sSettingId: ID },
                    success: function (data) {
                        alert(data);
                        window.location.reload();
                    }, error: function (error) {
                        alert(error);
                    }
                });
            }
        }
    </script>
}