@model CMS.ViewModel.ViewModel.TaskManagementViewModel
@{ int count = 0;}
<div class="table-responsive">
    <table class="table table-hover" id="AssignmentList">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    Assignment Title
                </th>
                <th>
                    Academic Year
                </th>
                <th>
                    Assigned Date
                </th>
                <th>
                    Submission Date
                </th>
                <th>
                    Description
                </th>
                <th>
                    Is File Upload
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.liTaskManagementModel != null)
            {
                foreach (var item in Model.liTaskManagementModel)
                {
                    <tr>
                        <td>
                            @{ count++;}
                            @count
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ASSIGNMENT_TITLE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ACADEMIC_YEAR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DATE_FROM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SUBMISSION_DATE)
                        </td>
                        @{HtmlString html = new HtmlString(item.DESCRIPTION);}
                        <td>
                            @html
                        </td>
                        <td>
                            @if (item.IS_FILE_UPLOAD == "1")
                            {
                                <span>Yes</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("EditAssignment", "TaskManagement", new { id = @item.ASSIGNMENT_ID })"><i class="fa fa-edit text-primary" title="Update"></i></a>
                            <a onclick="GetConfirm(@item.ASSIGNMENT_ID)"><i class="fa fa-trash text-danger" title="Delete"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>