@model CMS.ViewModel.ViewModel.CommunicationViewModel

@{ Layout = null;}
<div class="col-lg-12">
    @* <label class="label label-purple">Give the Maximum Days Per Month</label>*@
    <div class="col-lg-5" id="divStfToSelect">
        <div class="table-responsive">
            <table class="table table-hover" id="StaffToSelect">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="myTextEditBox" id="AllchkID" onchange="SelectOrUnselect()" /> Select All
                        </th>
                        <th>Name</th>
                        <th>Class</th>
                        <th>Mobile No</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.LIStaffDetails != null)
                        {
                            foreach (var item in Model.LIStaffDetails)
                            {
                                <tr cms-staffid="@item.USER_ID">
                                    <td>
                                        <input type="checkbox" name="myTextEditBox" id="chkID" cms-staffid="@item.USER_ID" />
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.FIRST_NAME)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CLASS)</td>
                                    <td>@Html.DisplayFor(modelItem => item.MOBILE)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td><p>No records available !!!</p></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
    <h3 id="divArrow" class="col-lg-1"><strong><i class="fa fas fa-angle-double-right" onclick="SendSelectedStaff()"></i></strong></h3>
    <h3 id="leftArrow" class="col-lg-1"><strong><i class="fa fas fa-angle-double-left" onclick="SendBackSelectedStaff()"></i></strong></h3>
    @* <label class="label label-purple">Give the Maximum Days Per Month</label>*@
    <div class="col-lg-5 hidden" id="StaffSelectedTable">
        <div class="table-responsive">
            <table class="table table-hover" id="SelectedStaff">
                <thead>
                    <tr>
                        <th>
                            Select
                        </th>
                        <th>Name</th>
                        <th>Class</th>
                        <th>Mobile No</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function SendBackSelectedStaff() {
        $('#SelectedStaff tbody tr').each(function () {
            var StaffId = $(this).attr("cms-staffid");
            // alert(StudentId);
            $(this).find('td').each(function () {
                var chkBox = $(this).find('input[type="checkbox"]');
                var Class = ($(this).closest('tr').find('td:eq(1)').text());
                var Name = ($(this).closest('tr').find('td:eq(2)').text());
                var Email = ($(this).closest('tr').find('td:eq(3)').text());
                if (chkBox.is(':checked')) {
                    $(this).parents("tr").remove();
                    var createchkBox = '<input type="checkbox" name="myTextEditBox" id="chkID" />';
                    var table = document.getElementById("StaffToSelect");
                    var row = table.insertRow(1);
                    row.setAttribute("cms-staffid", StaffId);
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    cell1.innerHTML = createchkBox;
                    cell2.innerHTML = Class;
                    cell3.innerHTML = Name;
                    cell4.innerHTML = Email;
                }
            });
        });
        $('#lblCount').text($("#SelectedStaff tbody tr").length);
    };
</script>
