<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>St. Mary's College</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/AdmissionContent/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/AdmissionContent/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/AdmissionContent/css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/AdmissionContent/css/magnific-popup.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="~/AdmissionContent/css/flexslider.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/AdmissionContent/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/AdmissionContent/css/owl.theme.default.min.css">
    <link href="~/Content/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
    <!-- Flaticons  -->
    <link rel="stylesheet" href="~/AdmissionContent/fonts/flaticon/font/flaticon.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="~/AdmissionContent/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Modernizr JS -->
    <script src="~/AdmissionContent/js/modernizr-2.6.2.min.js"></script>
</head>
<body style="color:#000;">
    <div class="colorlib-loader"></div>
    <div id="page">
        <nav class="colorlib-nav" role="navigation" style="position:fixed !important;width:100% !important; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);">

            <div class="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/AdmissionContent/images/hcc_logo (1).png" width="300px" />
                        </div>
                        <div class="col-md-8 text-right menu-1" style="padding-top:30px;">
                            <ul>
                                <li class="active"><a href="@Url.Action("hccindex","admission")">Home</a></li>
                                <li>
                                    <a href="@Url.Action("AdmissionCourses","admission")">Programmes</a>
                                </li>
                                
                                <li><a href="@Url.Action("Prospectus","admission")">Prospectus</a></li>
                                <li><a href="@Url.Action("Admissionprocess","admission")">How to Apply</a></li>
                                <li><a href="@Url.Action("HostelAdmission","admission")">Hostel</a></li>
                                <li><a href="@Url.Action("contact","admission")">Contact us </a></li>
                                <li class="btn-cta"><a href="@Url.Action("index","account")"><span>Sign in</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Render Page starts-->
        @RenderBody()
        <footer id="colorlib-footer">
            <div class="container">
                <div class="row ">
                   <div class="col-md-12 col-md-offset-1">
                    <div class="col-md-4 colorlib-widget">
                        <h4>How To Apply</h4>                     
                        <p>
                            <ul class="colorlib-footer-links">
                                @*<li><a href="@Url.Action("Admissionprocess","admission")"><i class="icon-check"></i>How to Apply</a></li>*@

                                <li><a href="@Url.Action("onlineapplication","admission")"><i class="icon-check"></i>Apply Now</a></li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-4 colorlib-widget">
                        <h4>Contact Info</h4>
                        <ul class="colorlib-footer-links">
                            <li>St. Mary's College (Autonomous),  <br> 104, North Beach Road ,</li>
                            <li> Thoothukudi -628001,</li>
                            <li> Tamilnadu, India.</li>
                            <li><a href="#"><i class="icon-phone"></i> + 0461-2320946</a></li>
                            <li><a href="mailto:admission@stmaryscollege.edu.in"><i class="icon-envelope"></i>admission@stmaryscollege.edu.in</a></li>

                        </ul>
                    </div>
                    <div class="col-md-3 colorlib-widget">
                        <h4>Quick Links</h4>
                        <p>
                            <ul class="colorlib-footer-links">
                                <li><a href="@Url.Action("contact","admission")"><i class="icon-check"></i>Contact Us</a></li>
                                
                                <li><a href="@Url.Action("","admission")"><i class="icon-check"></i> Courses</a></li>
                                @*<li><a href="@Url.Action("Admissionprocess","admission")"><i class="icon-check"></i>How to Apply</a></li>*@
                                
                                <li><a href="@Url.Action("onlineapplication","admission")"><i class="icon-check"></i>Apply Now</a></li>
                            </ul>
                        </p>
                    </div>
                    </div>
                    @*<div class="col-md-3 colorlib-widget">
                        <h4>Recent Post</h4>
                        <div class="f-blog">
                            <a href="blog.html" class="blog-img" style="background-image: url(images/blog-1.jpg);">
                            </a>
                            <div class="desc">
                                <h2><a href="blog.html">Creating Mobile Apps</a></h2>
                                <p class="admin"><span>18 April 2018</span></p>
                            </div>
                        </div>
                        <div class="f-blog">
                            <a href="blog.html" class="blog-img" style="background-image: url(images/blog-2.jpg);">
                            </a>
                            <div class="desc">
                                <h2><a href="blog.html">Creating Mobile Apps</a></h2>
                                <p class="admin"><span>18 April 2018</span></p>
                            </div>
                        </div>
                        <div class="f-blog">
                            <a href="blog.html" class="blog-img" style="background-image: url(images/blog-3.jpg);">
                            </a>
                            <div class="desc">
                                <h2><a href="blog.html">Creating Mobile Apps</a></h2>
                                <p class="admin"><span>18 April 2018</span></p>
                            </div>
                        </div>
                    </div>*@
                    
                </div>
            </div>
            <br>
            <div class="copy">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>
                                @*<small class="block">
                                    &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved By HCC
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </small><br>*@
                                        <small class="block">
                                             <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                            @*Copyright ©*@
                                            <script>document.write(new Date().getFullYear());</script> All rights reserved by St. Mary's Admission Team @*| This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>*@
                                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Render Page ends-->

        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
        </div>
        @*<script src="~/AdmissionContent/js/jquery.min.js"></script>*@
        <!-- jQuery -->
        <script src="~/AdmissionContent/js/jquery.min.js"></script>
        <script src="~/Content/assets/js/jquery.crypt.js"></script>
        <!-- jQuery Easing -->
        <script src="~/AdmissionContent/js/jquery.easing.1.3.js"></script>
        <!-- Bootstrap -->
        <script src="~/AdmissionContent/js/bootstrap.min.js"></script>
        <!-- Waypoints -->
        <script src="~/AdmissionContent/js/jquery.waypoints.min.js"></script>
        <!-- Stellar Parallax -->
        <script src="~/AdmissionContent/js/jquery.stellar.min.js"></script>
        <!-- Flexslider -->
        <script src="~/AdmissionContent/js/jquery.flexslider-min.js"></script>
        <!-- Owl carousel -->
        <script src="~/AdmissionContent/js/owl.carousel.min.js"></script>
        <!-- Magnific Popup -->
        <script src="~/AdmissionContent/js/jquery.magnific-popup.min.js"></script>
        <script src="~/AdmissionContent/js/magnific-popup-options.js"></script>
        <!-- Counters -->
        <script src="~/AdmissionContent/js/jquery.countTo.js"></script>
        <!-- Main -->
        <script src="~/AdmissionContent/js/main.js"></script>
        <script src="~/Content/assets/plugins/parsley/dist/parsley.js"></script>

        @RenderSection("scripts", false)
</body>
</html>
