@model CMS.ViewModel.ViewModel.NMEViewModel
<div class="col-lg-12">

    <table id="tblStudentList" border="1" width="100%">

        <tr><th>S.NO</th><th>ADMISSION NO</th><th>REGISTER NO</th><th>FIRST NAME</th><th>COURSE TITLE</th><th>CLASS NAME</th></tr>
        <tbody>
            @{int count = 0;}
            @{if (Model.NMEClassWiseStudents != null)
                {
                    foreach (var Item in Model.NMEClassWiseStudents)
                    {
                        <tr>
                            <td>
                                @{ count++; }
                                @count
                            </td>

                            <td>@Item.ADMISSION_NO</td>
                            <td>@Item.REGISTER_NO</td>
                            <td>@Item.FIRST_NAME</td>
                            <td>@Item.COURSE_TITLE</td>
                            <td>@Item.CLASS_NAME</td>
                        </tr>
                                        }
                                    }
                                    else
                                    {

                                        <tr><td>No Records...</td></tr>
                                    }
            }
        </tbody>

    </table>
</div>