@model CMS.ViewModel.ViewModel.NMEViewModel

@{
    ViewBag.Title = "NMECourseAllotment";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section styles{
    <link href="~/Content/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content" id="content">
        <ol class="breadcrumb pull-right">
            <li><a href="javascript:;">Home</a></li>
            <li><a href="@Url.Action("NMECourseAllotmentList","NME")">List NME Course Allotment </a></li>
            <li class="active">Add NME Course Allotment </li>
        </ol>
        <h1 class="page-header">NME Course Allotment </h1>
        <div class="panel">
            <div class="panel-heading bg-primary">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Add NME Course Allotment</h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="col-md-12">
                        <div class="col-md-6 col-md-offset-3">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.ShiftList, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.ShiftList, Model.ShiftList, "-- Select --", new { @class = "drop-down form-control input-sm" })
                                    @Html.ValidationMessageFor(model => model.ShiftList, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NMECourseList, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.NMECourseList, Model.NMECourseList, "-- Select --", new { @class = "drop-down form-control input-sm" })
                                    @Html.ValidationMessageFor(model => model.NMECourseList, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SaveNMECourseAllotment.ALLOTED_SEATS, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.SaveNMECourseAllotment.ALLOTED_SEATS, new { htmlAttributes = new { @class = "form-control input-sm", type = "Number", placeholder = "Enter Alloted Seats" } })
                                    @Html.ValidationMessageFor(model => model.SaveNMECourseAllotment.ALLOTED_SEATS, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SaveNMECourseAllotment.ACADEMIC_YEAR, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.SaveNMECourseAllotment.ACADEMIC_YEAR, new { htmlAttributes = new { @class = "form-control input-sm",MaxLength="4", placeholder = "Enter Academic Year" } })
                                    @Html.ValidationMessageFor(model => model.SaveNMECourseAllotment.ACADEMIC_YEAR, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group pull-right ">
                                <div class="col-md-12">
                                    <a id="btnSubmit" value="SUBMIT" class="btn btn-primary">Submit</a>
                                    <a id="" href="@Url.Action("NMECourseAllotmentList","NME")" value="SUBMIT" class="btn btn-danger">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
<script src="~/Content/assets/plugins/select2/dist/js/select2.min.js"></script>
<script>
    $("#NMECourseList").select2();
</script>
<script>
        $("#btnSubmit").on("click", function () {
            var Shift = $("#ShiftList").val();
            var NMECourseList = $("#NMECourseList").val();
            var AllotedSeats = $("#SaveNMECourseAllotment_ALLOTED_SEATS").val();
            var AcademicYear = $("#SaveNMECourseAllotment_ACADEMIC_YEAR").val();
            var JsonData;
            if (JsonData == null) {
                JsonData = '{"SHIFT_ID":"' + Shift + '","COURSE_ID":"' + NMECourseList + '","ALLOTED_SEATS":"' + AllotedSeats + '","ACADEMIC_YEAR":"' + AcademicYear + '"}';
            }
            $.ajax({
                url: "@Url.Action("SaveNMECourseAllotment", "NME")",
                method: "POST",
                datatype: "html",
                data: { NMECourseAllotment: JsonData },
                success: function (data) {
                    alert(data);
                }, error: function (error) {
                    alert('Record not saved try again ..!');
                }
            });
        });
</script>
}
