@model CMS.ViewModel.ViewModel.NMEViewModel

@{
    ViewBag.Title = "NMERegisteredStudentList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section styles{
    <link href="~/Content/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
}
<div class="content" id="content">
    @using (Html.BeginForm())
    { @Html.AntiForgeryToken()
        <ol class="breadcrumb pull-right">
            <li><a href="javascript:;">Home</a></li>

            <li class="active">Student NME Registered List </li>
        </ol>
        <h2 class="page-header"> Student NME Registered List  </h2>
        <div class="panel">
            <div class="panel-heading bg-primary">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Student NME Registered List </h4>
            </div>
            <div class="panel-body">
                <div class="form-inline">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-12 row">
                        <div class="col-md-4 ">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ShiftList, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.ShiftList, Model.ShiftList, "-- Select --", new { @class = "drop-down form-control  input-sm" })
                                    @Html.ValidationMessageFor(model => model.ShiftList, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ClassList, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.ClassList, Model.ClassList, "-- Select --", new { @class = "drop-down form-control  input-sm" })
                                    @Html.ValidationMessageFor(model => model.ClassList, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-success pull-right form-group m-b-5" onclick="PushNMERegisteredStudent()"><i class="fa fa-plus" title="Push"> Push</i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 m-b-5">
                    <div id="divNMERegisteredStudent" class="table-responsive">
                        <!--Need to use this fied to bind class course-->
                    </div>
                </div>
            </div>
        </div>

    }
</div>
@section scripts{
    <script src="~/Content/assets/plugins/select2/dist/js/select2.min.js"></script>
    <script>
        $("#ClassList").select2();
    </script>
    <script>
        $('#ShiftList').on('change', function () {
            var ShiftId = $('#ShiftList').val();
            if (ShiftId != 0) {
                $.ajax({
                    url: '@Url.Action("GetClassIdByShiftId", "NME")',
                    data: { sShiftId: ShiftId },
                    success: function (option) {
                        $('#ClassList').empty().append(option).select2();
                    },
                    error: function (xhr, textStatus, error) {
                        alert(error + "\n");
                    }
                });

            } else {
                alert('Please Select Shift !!!');
            }
        });
    </script>
    <script>
        $('#ClassList').on('change', function () {
            loadGird();
        });
        function loadGird() {

            var vClassId = $('#ClassList').val();
            if (vClassId != 0) {
                $.ajax({
                    url: '@Url.Action("BindNMERegisteredStudent", "NME")',
                    data: { sClassId: vClassId },
                    success: function (option) {
                        var dvNMERegisteredStudent = $('#divNMERegisteredStudent');
                        dvNMERegisteredStudent.empty();
                        dvNMERegisteredStudent.append(option);
                    },
                    error: function (xhr, textStatus, error) {
                        alert(error + "\n");
                    }
                });

            } else {
                alert('Please Select Class !!!');
            }
        }
    </script>
    <script>
        function EditNMERegisteredStudent(e) {
            $('#hdNMEStudentRegisteredId').val(e);
            var NMERegiseteredStudent = String(e);
            GetDropDown();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("FetchNMERegisteredStudentById", "NME")',
                data: { sNMERegiseteredStudent: NMERegiseteredStudent },
                dataType: "Json",
                success: function (data) {
                    $('#txtRegistrationId').val(data.REGISTRATION_ID);
                    $('#txtRollNo').val(data.ROLL_NO);
                    $('#txtStudentName').val(data.FIRST_NAME);
                    $('#txtStudentId').val(data.STUDENT_ID);
                    $('#txtClassCode').val(data.CLASS_CODE);
                    $('#txtQuota').val(data.SUMOFQUTOA);
                    $('#txtCourseId').val(data.COURSE_ID);
                    $('#txtClassId').val(data.CLASS_ID);
                    $('#ddlCourse').val(data.COURSE_ID);
                    $('#ddlCourse').append(data.COURSE_ID).trigger('change');
                },
                error: function (xhr, textStatus, error) {
                    alert(error + "\n" + textStatus + error);
                }
            });
        }
    </script>
    <script>
        GetDropDown = function () {
            var ClassId = $('#ClassList').val();
            $.ajax({
                url: "@Url.Action("GetNMECourseListByClassId", "NME")",
                method: "POST",
                data: { sClassId: ClassId },
                datatype: "json",
                success: function (data) {
                    var ddl = JSON.parse(data);
                    $('#ddlCourse').empty();
                    $('#ddlCourse').append('<option value="0">-- select --</option>' + ddl.COURSE_ID);


                }, error: function (error) {
                    alert('No Data Found ...!');
                }
            });
        }
    </script>
    <script>
        GetNMEClassCourseByCoursId = function () {
            var CourseId = $('#ddlCourse').val();
            var ClassId = $('#ClassList').val();
            $.ajax({
                url: "@Url.Action("GetNMEClassCourseQuotaByCourseId", "NME")",
                method: "POST",
                data: { sClassId: ClassId, sCourseId: CourseId },
                datatype: "json",
                success: function (data) {
                    $('#txtQuota').val(data.SUMOFQUTOA);
                    $('#txtAllotedSeats').val(data.ALLOTED_SEATS);
                }, error: function (xhr, textStatus, error) {
                    alert(error + "\n" + textStatus + error);
                }
            });
        }
    </script>
    <script>
        function Validate() {
            var validate = 0;
            if (($('#txtCourseId').val() != ($('#ddlCourse').val()))) {
                if (($('#txtQuota').val() + 1) > $('#txtAllotedSeats').val()) {
                    validate = 1;
                }
            }
            return validate;
        }
    </script>
    <script>
        PushNMERegisteredStudent = function () {
            $.ajax({
                url: "@Url.Action("FetchNMERegisteredStudentAndUpdateStuCourseInfo", "NME")",
                method: "POST",
                datatype: "json",
                success: function (data) {
                    alert(data);
                }, error: function (xhr, textStatus, error) {
                    alert(error + "\n" + textStatus + error);
                }
            });
        }
    </script>

}
