@model CMS.ViewModel.ViewModel.NMEViewModel

@{
    ViewBag.Title = "NMEStudentList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">NME</a></li>
        <li class="active">NME Student List</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">NME Student List<small></small></h1>
    <!-- end page-header -->

    <div class="panel panel-info" id="panel">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" id="btnReload" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">NME Student List</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">

                    <div class="form-group  col-md-12">
                        <div class="col-md-6 " data-step="1" data-intro="Choose Class">
                            @Html.Label("Class List", htmlAttributes: new { @class = "col-md-3 control-label " })
                            <div class="col-md-8">
                                @if (Model.NMEClassList != null)
                                {
                                    @Html.DropDownListFor(m => m.NMEClassList, Model.NMEClassList, "---Select---", new { @class = "form-control  select2" })
                                    @Html.ValidationMessageFor(m => m.NMEClassList, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>
                        @*<div class="col-md-6" data-step="2" data-intro="Choose Course">
                            @Html.Label("Course List", htmlAttributes: new { @class = "col-md-4 control-label " })
                            <div class="col-md-8">
                                @if (Model.CourseList != null)
                                {
                                    @Html.DropDownListFor(m => m.CourseList, Model.CourseList, new { @class = "form-control  select2" })
                                    @Html.ValidationMessageFor(m => m.CourseList, "", new { @class = "text-danger" })
                                }
                            </div>

                        </div>*@
                    </div>
                </div>
                <div class="form-horizontal">
                    <div id="dvNMEbind"></div>
                </div>
            }
           
        </div>

    </div>
</div>
<!-- end #content -->

@section scripts{
    <script src="~/Content/assets/plugins/intro-js/intro.js"></script>
    <script>
        $(document).ready(function () {


        });
        $('#NMEClassList').on('change', function () {
           
            if ($(this).val() != 0) {
                var inp1 = $(this).val();

                $.ajax({
                    url: "@Url.Action("BindNMEStudentList", "NME")",
                    async: false,
                    data: { sClassId: inp1 },
                    success: function (option) {
                      
                        var divHtml = $('#dvNMEbind');
                        divHtml.empty();
                        divHtml.html(option);
                    },
                    error: function (xhr, textStatus, error) {

                        alert();
                        alert(error + "\n");
                        //console.log(xhr.statusText);
                        // console.log(textStatus);
                        //  console.log(error);
                    }

                });
            } else {

                var divHtml = $('#dvNMEbind');
                divHtml.empty();
            }
        });


    </script>
}