@model CMS.ViewModel.ViewModel.NMEViewModel

@{
    ViewBag.Title = "NMESettingsList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section styles{
    <link href="~/Content/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
}

<div class="content" id="content">
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">List NME Settings </li>
    </ol>
    <h1 class="page-header">NME Settings </h1>
    @if (TempData["DeleteSuccess"] != null)
    {
        <div class="alert alert-success fade in m-b-15" id="Success">
            <strong>Success!</strong>
            @TempData["DeleteSuccess"]
            <span class="close" data-dismiss="alert">×</span>
        </div>
    }
    @if (TempData["DeleteError!"] != null)
    {
        <div class="alert alert-danger fade in m-b-15" id="Error">
            <strong>Error!</strong>
            @TempData["DeleteError"]
            <span class="close" data-dismiss="alert">×</span>
        </div>
    }
    <div class="panel">
        <div class="panel-heading bg-primary">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">List Exam Registration </h4>
        </div>
        <div class="panel-body noPadding">
            <div class="">
                <a class="btn btn-success pull-right form-group m-b-5" href="@Url.Action("NMESettings","NME")"><i class="fa fa-plus" title="Add"> Add</i></a>
            </div>
            <br />
            @{ int count = 0;}
            @if (Model.lstNMESettings != null)
            {
                <div class="table-responsive">
                <table class="table table-hover table-responsive" id="NMESettingsList">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Setting Name
                            </th>
                            <th>
                                Class Name
                            </th>
                            <th>
                                Date From
                            </th>
                            <th>
                                Date To
                            </th>
                            <th>
                                Academic Year
                            </th>
                            <th>
                                Semester
                            </th>
                            <th>
                                Registration
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.lstNMESettings)
                        {
                            <tr>
                                <td>
                                    @{ count++;}
                                    @count
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.SETTINGS_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.CLASS_CODE)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.DATE_FROM)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.DATE_TO)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.ACADEMIC_YEAR)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.SEMESTER_NAME)
                                </td>
                                <td>

                                    @if (item.IS_ALLOWED == "0")
                                    {
                                        <label><small>CLOSE</small></label>
                                    }
                                    else
                                    {
                                        <label onclick="ActiveRegistration(@item.SETTINGS_ID);"><small>OPEN</small></label>
                                    }


                                </td>
                                <td>
                                    @if (item.IS_ALLOWED == "1")
                                    {
                                        <a href="@Url.Action("EditNMESettings","NME",new { id=@item.SETTINGS_ID})"><i class="fa fa-edit text-primary" title="Update"></i></a>
                                    }
                                    <a href="@Url.Action("DeleteNMESettings","NME",new { id=@item.SETTINGS_ID})" onclick="return confirm('Are you sure want to delete ?');"><i class="fa fa-trash text-danger" title="Delete"></i></a>
                                </td>
                            </tr>
                                        }
                    </tbody>
                </table>
                    </div>
                                        }
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script>
        $("#NMESettingsList").DataTable();
    </script>
    <script>
        ActiveRegistration = function (ID) {
            if (!confirm('Are you sure to close the Registration ?')) {
                return false;
            }
            $.ajax({
                url: "@Url.Action("UpdateRegistration", "NME")",
                method: "POST",
                datatype: "html",
                data: { sSettingsId: ID },
                success: function (data) {
                    alert(data);
                    window.location.reload();
                }
            });
        }
    </script>
}
