@model CMS.ViewModel.ViewModel.AdmissionViewModel
@{Layout = null; }
@{int count = 0;}
<div class="table-responsive">
    <table class="table table-hover table-bordered" id="AdmittedList">
        <thead>
            <tr>
                <th>#</th>
                <th>Shift</th>
                <th>Application No</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Mark Secured</th>
                <th>Main Subject Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.liApplicant != null)
            {
                foreach (var item in Model.liApplicant)
                {
                    <tr>
                        <td>
                            @{ count++;}@count
                        </td>
                        <td>@item.SHIFT_NAME</td>
                        <td>@item.APPLICATION_NO</td>
                        <td>@item.FIRST_NAME</td>
                        <td>@item.SMS_MOBILE_NO</td>
                        <td>@item.HSTOTAL</td>
                        <td>@item.TOTAL_CUT_OFF_MARK</td>
                        <td><a class="btn btn-primary" href="#" onclick="loadContent('/Admission/AdmittedStudentView?sIssueId=@item.ISSUE_ID&sReceiveId=@item.RECEIVE_ID')"> <i class="icon ion-eye"></i> </a></td>
                    </tr>
                 }
             }
             @*else
             {
                 <tr><td colspan="8" align="center">No Records Available...!!!</td></tr>
             }*@

        </tbody>
    </table>
</div>



