
@model CMS.ViewModel.ViewModel.AdmissionViewModel
@{int count = 0; Layout = null;}

<style>
    .table-border {
        border-width: 1px;
        border-color: black;
        border-style: solid;
        padding: 10px;
    }

    tr, td {
        padding: 3px 15px 5px 3px;
    }

    .vertical-header {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-align: left;
        max-height: 150px;
    }

    tr.border-bottom td {
        border-bottom: 1pt solid black;
    }

    table {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>



@if (Model.liIssuedApplicationRank != null && Model.liIssuedApplicationRank.Count > 0)
{
    <center>
        <h3>ST.MARY'S COLLEGE (AUTONOMOUS), THOOTHUKUDI.</h3><br />
        @if (Model.liIssuedApplicationRank.FirstOrDefault().IS_LATE_APPLICATION == "0")
        {
            <h3>@Model.liIssuedApplicationRank.FirstOrDefault().PROGRAMME_NAME (@Model.liIssuedApplicationRank.FirstOrDefault().PROGRAMME_MODE) - RANK LIST (2024 - 2025)</h3>
        }
        else
        {
            <h3>@Model.liIssuedApplicationRank.FirstOrDefault().PROGRAMME_NAME (@Model.liIssuedApplicationRank.FirstOrDefault().PROGRAMME_MODE) - RANK LIST (2024 - 2025) LATE APPLICATION</h3>
        }

    </center>
    if (ViewBag.AppType == "1")
    {
        <table class="">
            <thead>
                <tr>
                    <th class="table-border ">S.No</th>
                    <th class="table-border ">App.No </th>
                    <th class="table-border">Name</th>
                    <th class="table-border">Mbl_No</th>
                    <th class="table-border">Rel</th>
                    <th class="table-border">Com</th>
                    @if (Model.liIssuedApplicationRank.FirstOrDefault().PROGRAMME_ID != "15" && Model.liIssuedApplicationRank.FirstOrDefault().PROGRAMME_ID != "16")
                    {
                        <th class="table-border">Sub 1</th>
                        <th class="table-border">Sub 2</th>
                        <th class="table-border">Sub 3</th>
                        <th class="table-border">Sub 4</th>
                        <th class="table-border">Cut Off</th>
                    }
                    else
                    {
                        <th class="table-border ">English</th>
                    }
                    <th class="table-border">Ex.Ser</th>
                    <th class="table-border">Diff.Abled</th>
                    @*<th class="table-border">Ext.Act</th>*@
                    <th class="table-border">Sports</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.liIssuedApplicationRank != null && Model.liIssuedApplicationRank.Count > 0)
                {
                    foreach (var item in Model.liIssuedApplicationRank)
                    {
                        decimal total = 0;
                        //var phy_chalaged = "(PC)";
                        //var Is_ex = "(D/E)";
                        <tr>
                            <td>
                                @{ count++;}@count
                            </td>

                            <td>
                                @item.APPLICATION_NO
                            </td>
                            <td>@item.NAME.ToUpper()</td>
                            <td>@item.SMS_MOBILE_NO</td>
                            <td>@item.RELIGION</td>
                            <td>@item.COMMUNITY</td>
                            @*<td>@item.CASTE.ToUpper()</td>*@
                            @if (Model.liIssuedApplicationRank.FirstOrDefault().PROGRAMME_ID != "15" && Model.liIssuedApplicationRank.FirstOrDefault().PROGRAMME_ID != "16")
                            {
                                if (Model.liADMStudentMarks != null && Model.liADMStudentMarks.Count > 0)
                                {

                                    var res = Model.liADMStudentMarks.Where(a => a.RECEIVE_STUID == item.RECEIVE_ID).ToList();
                                    foreach (var i in res)
                                    {
                                        <td>@i.MARK</td>
                                        total = total + Convert.ToDecimal(i.MARK);
                                    }
                                    var sub_count = res.Count();
                                    for (int i = sub_count; i < 4;)
                                    {
                                        <td></td>
                                        i++;
                                    }

                                }
                            }
                            else
                            {
                                <td>@item.MARK</td>

                            }
                            @if (Model.liIssuedApplicationRank.FirstOrDefault().PROGRAMME_ID != "15" && Model.liIssuedApplicationRank.FirstOrDefault().PROGRAMME_ID != "16")
                            {
                                <td>@total</td>
                            }

                            @*@if (Model.liIssuedApplicationRank.FirstOrDefault().PROGRAMME_ID != "15" && Model.liIssuedApplicationRank.FirstOrDefault().PROGRAMME_ID != "16")
                                {
                                    <td>@item.HSPERCENTAGE</td>
                                }*@

                            <td>@item.IS_EXSERVICE_MAN</td>
                            <td>@item.IS_PHYSICALLY_CHALANGED</td>
                            @*<td>@item.EXTRA_CURRICULAR</td>*@
                            <td>@item.IS_SPORTS</td>
                        </tr>

                        <!-- ROW FOR SUBJECT -->
                        if (Model.liIssuedApplicationRank.FirstOrDefault().PROGRAMME_ID != "15" && Model.liIssuedApplicationRank.FirstOrDefault().PROGRAMME_ID != "16")
                        {
                            <tr class="border-bottom">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                                @if (Model.liADMStudentMarks != null && Model.liADMStudentMarks.Count > 0)
                                {

                                    var res = Model.liADMStudentMarks.Where(a => a.RECEIVE_STUID == item.RECEIVE_ID).ToList();
                                    foreach (var i in res)
                                    {
                                        <td>@i.SUB_CODE</td>

                                    }

                                }

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <table class="">
            <thead>
                <tr>
                    <th class="table-border ">S.No</th>
                    <th class="table-border ">App.No</th>
                    <th class="table-border">Name</th>
                    <th class="table-border">Mobile No</th>
                    <th class="table-border">Rel</th>
                    <th class="table-border">Com</th>
                    @*<th class="table-border">Caste</th>*@
                    <th class="table-border">Secured Mark</th>
                    <th class="table-border">Max Mark</th>
                    <th class="table-border">Per %</th>
                    <th class="table-border">Ex.Ser</th>
                    <th class="table-border">Diff.Abled</th>
                    @*<th class="table-border">Ext.Act</th>*@
                    <th class="table-border">Sports</th>

                </tr>

            </thead>
            <tbody>
                @if (Model.liIssuedApplicationRank != null && Model.liIssuedApplicationRank.Count > 0)
                {

                    foreach (var item in Model.liIssuedApplicationRank)
                    {
                        // decimal total = 0;
                        //var phy_chalaged = "(PC)";
                        //var Is_ex = "(D/E)";
                        <tr>
                            <td>
                                @{ count++;}@count
                            </td>
                            <td>
                                @item.APPLICATION_NO
                            </td>
                            <td>@item.NAME.ToUpper()</td>
                            <td>@item.SMS_MOBILE_NO</td>
                            <td>@item.RELIGION</td>
                            <td>@item.COMMUNITY</td>
                            @*<td>@item.CASTE.ToUpper()</td>*@
                            <td>@item.MARK</td>
                            <td>@item.MAX_MARK</td>
                            <td>@item.TOTAL</td>
                            <td>@item.IS_EXSERVICE_MAN</td>
                            <td>@item.IS_PHYSICALLY_CHALANGED</td>
                            @*<td>@item.EXTRA_CURRICULAR</td>*@
                            <td>@item.IS_SPORTS</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }

}


