@model CMS.ViewModel.ViewModel.AdmissionViewModel
@{Layout = null; int Count = 0;}
<div>
    <table class="table table-hover table-bordered" id="tblEntranceExamMark">
        <thead>
            <tr>
                <th>#</th>
                <th>ApplicationNo</th>
                <th>ApplicantName</th>
                <th>MobileNo</th>
                <th>Entrance Exam Mark</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.liIssuedApplictionsInfo != null && Model.liIssuedApplictionsInfo.Count > 0)
            {
                foreach (var item in Model.liIssuedApplictionsInfo)
                {
                    <tr cms_issuedid="@item.ISSUED_ID">
                        <td>@{Count++;}@Count</td>
                        <td>@item.APPLICATION_NO</td>
                        <td>@item.FIRST_NAME</td>
                        <td>@item.SMS_MOBILE_NO</td>
                        <td>
                            <input type="text" name="" class="form-control input-sm" style="width:75px !important;"  value="@item.ENTRANCE_MARK"/>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>