@model CMS.ViewModel.ViewModel.AdmissionViewModel
@{int count = 0;}
<table class="table table-hover" id="TransferList">
    <thead>
        <tr>
            <th>#</th>
            <th>Programme</th>
            <th>App No</th>
            <th>Name</th>
            <th>Total Mark</th>
            <th>Mark Secured</th>
            <th>Village</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.liSelectionProcess != null && Model.liCourses != null)
        {
            foreach (var list in Model.liCourses)
            {
                foreach (var item in Model.liSelectionProcess)
                {
                    //var TempList = Model.liCourses.Where(s => s.PRO_GROUPS_ID == item.PROGRAMME_ID).ToList();
                    if (item.PROGRAMME_ID == list.PRO_GROUPS_ID)
                    {
                        <tr>
                            <td>
                                @{ count++;}@count
                            </td>
                            <td>@list.PROGRAMME_NAME</td>
                            <td>@item.APPLICATION_NO</td>
                            <td>@item.FIRST_NAME</td>
                            <td>@item.MAX_TOTAL</td>
                            <td>@item.TOTAL_SECURED</td>
                            <td>@item.CVILLAGE_AREA</td>
                        </tr>
                                                }
                                            }
                                        }
                                    }

    </tbody>
</table>


