
@model CMS.ViewModel.ViewModel.AdmissionViewModel
@using CMS.Utility
<style type="text/css" media="print">
    /*@@page {
        size: landscape;
    }*/
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>
@if (Model.liSelectionProcess != null && Model.liSelectionProcess.Count > 0)
{
    var GroupList = Model.liSelectionProcess.GroupBy(s => s.PROGRAMME_ID).ToList();
    foreach (var item in GroupList)
    {
        var programme = Model.liSelectionProcess.Where(s => s.PROGRAMME_ID == item.FirstOrDefault().PROGRAMME_ID).ToList();

        <div style="page-break-after:always !important;page-break-inside:avoid !important;">
            <div class="col-md-12">
                <div class="col-md-6"><b>Programme:</b>&nbsp;&nbsp;@programme.FirstOrDefault().PROGRAMME_NAME</div>
                @*<div class="col-md-6"><b>Total:</b>&nbsp;&nbsp;@programme.Count.ToString()</div>*@
            </div>
            <table class="table table-hover table-bordered" id="TransferList">
                <thead>
                    <tr>
                        <th>#</th>
                        <th style="width:12.5%">
                            <input type="checkbox" name="myTextEditBox" id="AllchkID" onchange="SelectOrUnselect()" />
                            Action
                        </th>
                        <th>Application No</th>
                        <th>Name</th>
                        <th>Total Secured Mark</th>
                        <th>Max Mark</th>
                        <th>Total Cut Off Mark</th>
                        <th>Selected By</th>
                    </tr>
                </thead>
                <tbody>
                    @if (programme != null && programme.Count > 0)
                        {
                            int count = 0;

                                foreach (var Student in programme)
                                {
                        <tr>
                            <td>
                                @{ count++;}@count
                            </td>
                            <td>
                                <input type="checkbox" onclick="CheckedCount()" name="myTextEditBox" id="chkID" cms-apptypeid="@Student.APPLICATION_TYPE_ID" cms-receiveid="@Student.RECEIVE_ID" cms-applicationno="@Student.APPLICATION_NO" cms-hstotal="@Student.TOTAL_SECURED" cms-cutoff="@Student.TOTAL_CUT_OFF_MARK" cms-maxmark="@Student.MAX_TOTAL" cms-issuedid="@Student.APP_ID" cms-selectiontype="@Student.SELECTION_TYPE" cms-selectedby="@Student.SELECTED_BY" cms-issports="@Student.IS_SPORTS_QUOTA" />
                            </td>
                            <td>@Student.APPLICATION_NO</td>
                            <td>@Student.FIRST_NAME</td>
                            <td>@Student.TOTAL_SECURED</td>
                            <td>@Student.MAX_TOTAL</td>
                            <td>@Student.TOTAL_CUT_OFF_MARK</td>
                            <td>@Student.STAFF_NAME</td>

                        </tr>
                                                }
                                                }
                                               


                </tbody>
            </table>

        </div>

                                        }
                                    }
                                    else
                                    {
                                        
                                            <div style="page-break-after:always !important;page-break-inside:avoid !important;">
                                                <div class="col-md-12">
                                                    @*<div class="col-md-6"><b>Programme:</b>&nbsp;&nbsp;@programme.FirstOrDefault().PROGRAMME_NAME</div>*@
                                                    @*<div class="col-md-6"><b>Total:</b>&nbsp;&nbsp;@programme.Count.ToString()</div>*@
                                                </div>
                                                <table class="table table-hover table-bordered" id="TransferList">
                                                    <thead><tr></tr></thead>
                                                    <tbody><tr><td colspan="8" class="text-center">No Records Available !</td></tr></tbody>
                                                </table>
                                            </div>
                                    }





