@model CMS.ViewModel.ViewModel.AdmissionViewModel
@{
    ViewBag.Title = "DateWiseVerifiedAndPaidStatus";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section styles{
    <link href="~/Content/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
}
<div class="content" id="content">
    @using (Html.BeginForm())
    { @Html.AntiForgeryToken()
        <ol class="breadcrumb pull-right">
            <li><a href="javascript:;">Home</a></li>

            <li class="active"> Date Wise Fee Paid And Verified Status</li>
        </ol>
        <h2 class="page-header"> Date Wise Fee Paid And Verified Status</h2>
        <div class="panel">
            <div class="panel-heading bg-primary">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Date Wise Fee Paid And Verified Status</h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-12">
                        <div class="form-group col-md-5">
                            @Html.LabelFor(model => model.SelectionProcess.DATE_FROM, "Date From", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                <div class="input-group date" id="datetimepicker1">
                                    @Html.EditorFor(model => model.SelectionProcess.DATE_FROM, new { htmlAttributes = new { @class = "form-control", id = "Datefrom", placeholder = "Pick Starting Date" } })
                                    @Html.ValidationMessageFor(model => model.SelectionProcess.DATE_FROM, "", new { @class = "text-danger" })
                                    <span class="input-group-addon bg-purple"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-5">
                            @Html.LabelFor(model => model.SelectionProcess.DATE_TO, "Date To", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <div class="input-group date" id="datetimepicker1">
                                    @Html.EditorFor(model => model.SelectionProcess.DATE_TO, new { htmlAttributes = new { @class = "form-control", id = "Dateto", placeholder = "Pick Ending Date" } })
                                    @Html.ValidationMessageFor(model => model.SelectionProcess.DATE_TO, "", new { @class = "text-danger" })
                                    <span class="input-group-addon bg-purple"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 pull-right">
                            <a href="javascript:;" id="btnGet" class="btn btn-sm btn-primary m-b-10 pull-right"> Get</a>
                        </div>
                        <div class="col-md-1 pull-right">
                            <a href="javascript:;" id="sPrint" onclick="printDiv('divDayWiseStudentPaidStatus')" class="btn btn-sm btn-success m-b-10 pull-right hidden"><i class="fa fa-print m-r-5"></i> Print</a>
                        </div>
                    </div>
                    <div class="col-md-12 m-b-5">
                        <div id="divDayWiseStudentPaidStatus">
                            <!--Need to use this fied to bind Student List-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
</div>
@section scripts{
    <script src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            handleDatepicker = function () {
                "use strict";
                $("#Datefrom,#Dateto").datepicker({
                    todayHighlight: !0,
                    autoclose: !0,
                    format: "dd/mm/yyyy",
                    orientation: "right bottom"
                    // 'top': top,
                    // 'left': left
                }
                )
            }
            handleDatepicker();
        });

    </script>
    <script>
        function Validate() {
            $("#Dateto").rules('add', { greaterThan: "#Datefrom" });
        }
    </script>
    <script>
        $('#btnGet').on('click', function () {
            var DateFrom = $("#Datefrom").val();
            var DateTo = $("#Dateto").val();
            if (Date.parse(DateFrom) > Date.parse(DateTo)) {
                alert('Date Range is wrong...!!!');
                return false;
            }
            if (DateFrom != '' && DateTo != '') {
                $.ajax({
                    url: '@Url.Action("BindDateWiseVerifiedAndPaidStatus", "Admission")',
                    data: { sDateFrom: DateFrom, sDateTo: DateTo },
                    success: function (option) {
                        var dvDayWiseStudentPaidStatus = $('#divDayWiseStudentPaidStatus');
                        dvDayWiseStudentPaidStatus.empty();
                        dvDayWiseStudentPaidStatus.append(option);
                        $('#sPrint').removeClass('hidden');
                        $("#DayWiseStudentFeePaidStatusList").DataTable({
                            dom: "lBfrtip", buttons: [{
                                extend: "copy", className: "btn-sm"
                            }
                            , {
                                extend: "excel", className: "btn-sm"
                            }
                            , {
                                extend: "pdf", className: "btn-sm"
                            }
                            ], responsive: !0, "paging": false, "ordering": false
                        });
                    },
                    error: function (xhr, textStatus, error) {
                        alert(error + "\n");
                    }
                });
            }
            else {
                alert('Please Select All The Values...!!!');
            }
        });
    </script>
    <script>
        function printDiv(divName) {
            $('.dt-buttons').addClass('hidden');
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
            location.reload();
        }
    </script>
}




