@model CMS.ViewModel.ViewModel.AdmissionViewModel
@{ string sSelected = "selected";
    int count = 0;
}
<table class="table table-bordered table-responsive" id="RelatoinsList">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                Name
            </th>
            <th>
                Occupation
            </th>
            <th>
                Income
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.liADMStudentStudentRelations != null && Model.liADMStudentStudentRelations.Count > 0)
        {
            foreach (var item in Model.liADMStudentStudentRelations)
            {
                
                <tr class="tr_clone" cms-relationid="@item.RELATION_ID">
                    @{count++;}
                    <td>
                        <select class="form-control" id="relation">
                            <option value="">--select--</option>
                            @foreach (var list in Model.liRelation)
                            {
                                <option value="@list.RELATION_ID" @if (list.RELATION_ID == item.RELATION_SHIP) { @sSelected}>@list.RELATION</option>
                            }
                        </select>

                    </td>
                    <td>
                        <input type="text" name="name" value="@item.RELATION_NAME" id="txtName" placeholder="Enter Your Relation's Name" class="form-control" required data-parsley-group="wizard-step-3" />
                    </td>
                    <td>
                        <select class="form-control" id="Occupation">
                            <option value="">--select--</option>
                            @foreach (var dataitem in Model.liOccupation)
                            {
                                <option value="@dataitem.OCCUPATION_ID" @if (dataitem.OCCUPATION_ID == item.OCCUPATION) { @sSelected}>@dataitem.OCCUPATION_NAME</option>
                            }

                        </select>

                    </td>
                    <td>
                        <input type="number" name="name" value="@item.INCOME" id="txtIncome" placeholder="Enter Income" class="form-control" />
                    </td>
                    <td>
                        <a id="btnAdd" onclick="CloneRow()" value="Submit" class="btn btn-primary">Add</a>                       
                        <a id="btnDelete" class="fa fa-trash text-danger" style="cursor:pointer;" onclick="DeleteRow(@item.RELATION_ID);"></a>
                    </td>
                </tr>
                            }
                        }
                        else
                        {
                            <tr class="tr_clone" cms-relationid="">
                                @{count++;}
                                <td>
                                    <select class="form-control" id="relation">
                                        @if (Model.liRelation != null)
                                        {
                                            <option value="">--select--</option>
                                            foreach (var list in Model.liRelation)
                                            {
                                                <option value="@list.RELATION_ID">@list.RELATION</option>
                                            }
                                        }
                                    </select>

                                </td>
                                <td>
                                    <input type="text" name="name" id="txtName" data-parsley-group="wizard-step-3" placeholder="Enter Your Relation's Name" class="form-control" required />
                                </td>
                                <td>
                                    <select class="form-control" id="Occupation">
                                        @if (Model.liOccupation != null)
                                        {
                                            <option value="">--select--</option>
                                            foreach (var dataitem in Model.liOccupation)
                                            {
                                                <option value="@dataitem.OCCUPATION_ID">@dataitem.OCCUPATION_NAME</option>
                                            }
                                        }

                                    </select>

                                </td>
                                <td>
                                    <input type="number" name="name" id="txtIncome" placeholder="Enter Income" class="form-control" required />
                                </td>
                                <td>
                                    <a id="btnAdd" onclick="CloneRow()" value="Submit" class="btn btn-primary">Add</a>                                    
                                    <a class="fa fa-trash text-danger" style="cursor:pointer" onclick="$(this).parent().parent().remove();"></a>
                                </td>
                            </tr>
                                    }
    </tbody>
</table>
