@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HCCAdmissionLayoutPage.cshtml";
}
<style>
    p {
        margin-bottom: 13px !important;
    }
</style>
<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(AdmissionContent/images/slide7.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Online Applications open for Admission </h1>
                                <h1>2025-2026</h1>
                                @*<h2 style="color:white !important">"Education is a Key to Success"</h2>*@
                                <p><a href="@Url.Action("onlineapplication","admission")" class="btn btn-primary btn-lg btn-learn">Apply Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(AdmissionContent/images/slide6.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Online Applications open for Admission  </h1>
                                <h1>2025-2026</h1>
                                @*<h2 style="color:white !important">"Education is the passport to the future, for tomorrow belongs to those who prepare for it today"</h2>*@
                                <p><a href="@Url.Action("onlineapplication","admission")" class="btn btn-primary btn-lg btn-learn">Apply Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(AdmissionContent/images/slide8.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Online Applications open for Admission</h1>
                                <h1>2025-2026</h1>
                                @*<h2 style="color:white !important">"Education is the key to unlock the golden door of freedom"</h2>*@
                                <p><a href="@Url.Action("onlineapplication","admission")" class="btn btn-primary btn-lg btn-learn">Apply Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(AdmissionContent/images/slide9.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Online Applications open for Admission</h1>
                                <h1>2025-2026</h1>
                                @*<h2 style="color:white !important">"Education is the key to unlock the golden door of freedom"</h2>*@
                                <p><a href="@Url.Action("onlineapplication","admission")" class="btn btn-primary btn-lg btn-learn">Apply Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div id="colorlib-intro">
    <div class="container">
        <div class="row">
          
            <div class="col-md-4 intro-wrap">
                <div class="intro-flex">
                    <div class="one-third color-3 animate-box" style="height:300px; margin-top:190px;">
                        <div class="desc2">
                            <h3>Latest News</h3>
                            <marquee direction="up" style="min-height:200px;" onmouseover="this.stop()" onmouseout="this.start();">
                                <img src="~/Content/hcc_img/new_icon.gif" /><a href="@Url.Action("onlineapplication","admission")" style="color:#fff;">Online Application (2025-2026)</a> <br />  <br />
                                @*<iframe class="col-lg-12" src="https://www.youtube.com/watch?v=XxsEB90TVG0" frameborder="0" allow="accelerometer; autoplay; encrypted-media" allowfullscreen="" height="200px" width="500px"></iframe>*@
                                @*<iframe class="col-lg-12" height="200px" width="500px" src="https://www.youtube.com/embed/XxsEB90TVG0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; encrypted-media" allowfullscreen=""></iframe>*@
                                <iframe class="col-lg-12" height="200px" width="500px" src="Content\assets\img\smc_website.mp4" title="video player" frameborder="0" allow="accelerometer; autoplay; encrypted-media" allowfullscreen=""></iframe>
                            </marquee>
                        </div>
                    </div>
                    <div class="one-third color-3 animate-box">
                        <div class="desc2">
                            <h3>Selection List @*- Aided*@</h3>
                            @*<p><a href="@Url.Action("SelectedListCourses","admission")" class="view-more">Click Here</a></p>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="about-desc animate-box">
                    <h2>Welcome to St. Mary's College</h2>
                    <p class="text-justify">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; St. Mary’s College (Autonomous), a premier institution of higher education, was founded by the Congregation of Mother of Sorrows, Servants of Mary, in the year 1948. It has played a significant role in shaping the destiny of countless young coastal women in and around Thoothukudi. With a proud legacy of 77 years, the college has excelled in every discipline, keeping pace with global trends in academia. Enhancing human dignity by empowering women has remained its primary focus. Although it was established primarily to benefit the Catholic minority, the college has made earnest efforts to reach out to the broader society, which is largely economically disadvantaged and socially underprivileged. The growth of the college has been marked by steady progress, giving momentum to women's higher education. The dedicated service of the teaching faculty and supportive staff has brought many laurels to the institution. Quality initiative, quality sustenance, and quality enhancement are the cornerstones of every activity undertaken by the college.
                        
                    </p>
                    <div class="fancy-collapse-panel">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Why choose us?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3>VISION</h3>
                                                <p><b>To make young women agents of an egalitarian society through liberative education.</b></p>
                                                <h3>MISSION</h3>
                                                <p><b>To empower women through regular and non-formal courses to make them economically independent and socially aware so that they make better homes and contribute to family and social progress.</b></p>
                                                <ul style="list-style-type:circle">
                                                    <li>St. Mary's College was Re-accredited by NAAC with 'A+' Grade in May 2019</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            What we do?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">

                                        <ul style="list-style-type:circle">
                                            <li>A good and holistic curriculum with persistent updating at regular intervals suited to global demands.</li>
                                            <li>Committed and dedicated band of teachers bringing in innovations in teaching, learning and evaluation and providing rich theoretical inputs and practical experiences.</li>
                                            <li>Physically and technically sound campus with adequate infrastructure to supplement the teaching learning process.</li>
                                            <li>Regular conduct of resourceful workshops, seminars and orientation programs for staff and students to make them competitive and knowledgeable in accordance to current needs and demands.</li>
                                            <li>Acknowledging the knowledge divide and reinforcing research endeavors by upgrading most departments to become research departments and encouraging the pursuance of major, minor and community oriented research projects, doctoral and M.Phil. programs and publication of papers in high impact journals.</li>
                                            <li>Encourage and establish collaborations and expedite new ventures through wider networking and tie-ups and sign MOU’S with distinct institutions and individuals at the international, national and regional level.</li>
                                            <li>Promote social connect and community involvement of students and staff through multifarious extension activities and outreach programs.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Offer Services
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <!--<p>The College Offers: </p>
    <ul style="list-style:circle">
        <li>17 Under Graduate Programmes</li>
        <li>14 Post Graduate Programmes</li>-->
                                        @*<li>6  M.Phil Programmes</li>*@
                                        <!--<li>6  Ph.D Programmes</li>
    </ul>-->
                                        <img src="~/AdmissionContent/images/smc_add2.jpeg" width="650px"/> <br /><img src="~/AdmissionContent/images/smc_add1.jpeg" width="650px" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="colorlib-services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <span class="icon">
                            <i class="flaticon-books"></i>
                        </span>
                        <a href="@Url.Action("Prospectus","admission")">
                            <div class="desc">
                                <h3>PROSPECTUS</h3>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <span class="icon">
                            <i class="flaticon-professor"></i>
                        </span>
                        <a href="@Url.Action("AdmissionCourses","admission")">
                            <div class="desc">
                                <h3>Programmes Offered</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <span class="icon">
                            <i class="flaticon-book"></i>
                        </span> <a href="@Url.Action("Admissionprocess","admission")">
                            <div class="desc">
                                <h3>How to Apply </h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="colorlib-counter" class="colorlib-counters" style="background-image: url(AdmissionContent/images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-4 col-sm-6 animate-box">
                        <div class="counter-entry">
                            <span class="icon"><i class="flaticon-book"></i></span>
                            <div class="desc">
                                <span class="colorlib-counter js-counter" data-from="0" data-to="30" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="colorlib-counter-label">Programmes</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 animate-box">
                        <div class="counter-entry">
                            <span class="icon"><i class="flaticon-student"></i></span>
                            <div class="desc">
                                <span class="colorlib-counter js-counter" data-from="0" data-to="2583" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="colorlib-counter-label">Students</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 animate-box">
                        <div class="counter-entry">
                            <span class="icon"><i class="flaticon-professor"></i></span>
                            <div class="desc">
                                <span class="colorlib-counter js-counter" data-from="0" data-to="164" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="colorlib-counter-label">Staff</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->

    <div class="modal fade shadow-lg p-3 mb-5 bg-white rounded" id="Admissioninfo">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><b class="text-primary">St. Mary's College ONLINE APPLICATION  2025 - 2026 </b> </h4>
                </div>
                <div class="modal-body ">
                    <div class="btn-group" role="group" aria-label="Basic example" style="float:right;">
                        <a href="@Url.Action("onlineapplication","admission")" class="btn btn-primary" title="Click here for new registration">New Registration</a>
                        <a href="@Url.Action("index","admission")" title="Click here for Login panel .If already registered" class="btn btn-warning">Sign In </a>
                    </div>
                    <table>
                        <tr>
                            <td><center><b>Instructions / வழிமுறைகள் :</b></center></td>
                            <td width="30px"></td>
                            <td><p><a href="~/Content/assets/applicant_dashboard/GuidlinesTamil.pdf#toolbar=0" target="_blank" class="btn btn-success btn-lg btn-learn">தமிழ்</a></p></td>
                            <td width="30px"></td>
                            <td><p><a href="~/Content/assets/applicant_dashboard/GuidlinesEnglish.pdf#toolbar=0" target="_blank" class="btn btn-danger btn-lg btn-learn">English</a></p></td>
                        </tr>
                    </table>
                    @*<iframe src="~/Content/assets/applicant_dashboard/GuidlinesEnglish.pdf#toolbar=0" width="100%" height="800px"></iframe>*@

                </div>
                @*<div class="modal-footer">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="@Url.Action("onlineapplication","admission")" class="btn btn-primary" title="Click here for new registration">New Registration</a>
                        <a href="@Url.Action("index","admission")" title="Click here for Login panel .If already registered" class="btn btn-warning">Sign In </a>
                    </div>
                </div>*@

            </div>
        </div>
    </div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1756.2877733423181!2d78.16101498932034!3d8.811169529645078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b03ef772609af3f%3A0x2cb98fbb678a459a!2sSt.+Mary&#39;s+College!5e0!3m2!1sen!2sin!4v1512726872492" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(() => {
            $('#Admissioninfo').modal('show');
        });

    </script>
}
