@model CMS.ViewModel.ViewModel.AdmissionViewModel
@{
    ViewBag.Title = "HostelRegistration";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section styles{

    <link href="~/Content/assets/plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
    </style>
    <style>
        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }

        #btnImage {
            border: 1px solid gray;
            color: gray;
            background-color: white;
            padding: 7px 15px;
            border-radius: 8px;
            font-size: 15px;
            font-weight: bold;
        }

        .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
    </style>
}
<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">Hostel Registration</li>
    </ol>
    <h1 class="page-header">Hostel Registration</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Hostel Registration</h4>
                </div>
                <div class="panel-body">
                    @if (Model.liApplicant!=null && Model.liApplicant.Count>0)
                    {
                        <form id="devForm" method="POST" data-parsley-validate="true" name="form-wizard" class="form-horizontal">
                            <div id="wizard">
                                <ol>
                                    <li>
                                        Personal Details
                                        <small>Don't leave the fields empty. Fill the columns correctly.</small>
                                    </li>
                                    <li>
                                        Contact Details
                                        <small>If Postal address and Permanent Address same use the check box.</small>
                                    </li>
                                    <li>
                                        Family Details
                                        <small>Please Enter Your Family Members Details.</small>
                                    </li>
                                    <li>
                                        Photo Upload & Declaration
                                        <small>Please submit your application.Don't go back to the previous step.</small>
                                    </li>
                                </ol>
                                <!-- begin wizard step-1 -->
                                <div class="wizard-step-1" id="step-1">
                                    <fieldset>
                                        <legend class="pull-left width-full">Personal Information</legend>
                                        <!-- begin row -->
                                        <div class="row m-b-5">
                                            <!-- begin col-4 -->
                                            <input type="hidden" id="txtReceiveId" />
                                            <input type="hidden" id="txtHostelRegistrationId" />
                                            <div class="col-md-6">
                                                <div class="block1">
                                                    <label>First Name</label>
                                                    @*<label><small>விண்ணப்பதாரரின் பெயர் (பத்தாம் வகுப்பு TC யில் இருப்பது போல்)</small></label>*@
                                                    <input type="text" name="firstname" id="txtFirstName" placeholder="Lenu" class="form-control" data-parsley-group="wizard-step-1" disabled />
                                                </div>
                                            </div>
                                            <!-- end col-4 -->
                                            <!-- begin col-4 -->
                                            <div class="col-md-6">
                                                <div class="">
                                                    <label>Initial</label>
                                                    @*<label><small>தலைப்பெழுத்து</small> </label>*@
                                                    <input type="text" name="middle" id="txtInitial" placeholder="A" class="form-control" data-parsley-group="wizard-step-1" disabled />
                                                </div>
                                            </div>
                                            <!-- end col-4 -->
                                        </div>
                                        <!-- end row -->
                                        <!-- begin row -->
                                        <div class="row m-b-5">
                                            <!-- begin col-4 -->
                                            <div class="col-md-6">
                                                <div class="datepicker">
                                                    <label>Date Of Birth</label>
                                                    @*<label><small>பிறந்த தேதி</small> </label>*@
                                                    <input type="text" id="txtdob" placeholder="dd/mm/yyyy" class="form-control" data-parsley-group="wizard-step-1" disabled />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="block1">
                                                    <label>Major</label>
                                                    <select id="ddlMajor" class="selectpicker form-control" data-live-search="true" data-parsley-group="wizard-step-1" disabled></select>
                                                </div>
                                            </div>
                                            <!-- end col-4 -->
                                        </div>
                                        <!-- end row -->
                                        <div class="row m-b-5">
                                            <!-- begin col-4 -->
                                            <div class="col-md-6">
                                                <div class="block1">
                                                    <label>Talents</label>
                                                    <input type="text" name="ExtraCurricularActivity" id="txtExtraCurricularActivity" placeholder="Dance,Sport." class="form-control" data-parsley-group="wizard-step-1" disabled />
                                                </div>
                                            </div>
                                            <!-- end col-4 -->
                                            <!-- begin col-4 -->
                                            <div class="col-md-6">
                                                <div class="block1">
                                                    <label>Class</label>
                                                    <select id="ddlClass" class="selectpicker form-control" data-live-search="true" data-parsley-group="wizard-step-1" disabled></select>
                                                </div>
                                            </div>
                                            <!-- end col-4 -->
                                        </div>
                                        <!-- end row -->
                                        <!-- begin row -->
                                        <div class="row m-b-5">
                                            <!-- begin col-4 -->
                                            <div class="col-md-6">
                                                <div class="block1">
                                                    <label>Religion</label>
                                                    <select id="ddlReligion" class="selectpicker form-control" data-live-search="true" data-parsley-group="wizard-step-1" disabled></select>
                                                </div>
                                            </div>
                                            <!-- end col-4 -->
                                            <!-- begin col-4 -->
                                            <div class="col-md-6">
                                                <div class="block1">
                                                    <label>Caste</label>
                                                    <select id="ddlCaste" class="selectpicker form-control" data-live-search="true" data-parsley-group="wizard-step-1" disabled></select>
                                                </div>
                                            </div>
                                            <!-- end col-4 -->
                                        </div>
                                        <!-- end row -->
                                        <!-- begin row -->
                                        <div class="row m-b-5">
                                            <!-- begin col-4 -->
                                            <div class="col-md-6">
                                                <div class="block1">
                                                    <label>Blood Group</label>
                                                    <select id="ddlBloodGroup" class="selectpicker form-control" data-live-search="true" data-parsley-group="wizard-step-1" disabled></select>
                                                </div>
                                            </div>
                                            <!-- end col-4 -->
                                            <!-- begin col-4 -->
                                            <div class="col-md-6">
                                                <div class="">
                                                    <label>Relatives in this college / school / or campus.</label>
                                                    <div class="">
                                                        <div class="radio radio-css radio-pink radio-inline">
                                                            <input type="radio" name="Relative_radio" id="IsRelativesYes" data-parsley-required="true" value="1" required data-parsley-group="wizard-step-1" />
                                                            <label for="IsRelativesYes">
                                                                Yes
                                                            </label>
                                                        </div>
                                                        <div class="radio radio-css radio-danger radio-inline">
                                                            <input type="radio" name="Relative_radio" id="IsRelativesNo" value="2" data-parsley-required="true" />
                                                            <label for="IsRelativesNo">
                                                                No
                                                            </label>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end col-4 -->
                                        </div>
                                        <!-- end row -->
                                        <div class="row m-b-5">
                                            <div class="col-md-6">
                                                <div class="">
                                                    <div id="dvImportStudentImage">
                                                        <label>Student Image</label>
                                                        @*<label class="col-md-3 control-label">Photo</label>*@
                                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                                            <div class="thumbnail" style="width: 150px; height: 195px;">
                                                                <img src="" id="img" style="width: 145px; height: 185px;" accesskey=".jpg,.jpeg,.png" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="hidden" id="dvparish">
                                                    <label>Parish Name</label>
                                                    @*<label><small>தலைப்பெழுத்து</small> </label>*@
                                                    <input type="text" name="parishname" id="txtParishName" placeholder="Thoothukudi" class="form-control" data-parsley-group="wizard-step-1" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </fieldset>
                                </div>
                                <!-- end wizard step-1 -->
                                <!-- begin wizard step-2 -->
                                <div class="wizard-step-2">
                                    <fieldset>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="chAddress" name="Address" /> Click If Both Are Same
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <legend class="pull-left width-full">Postal Address</legend>
                                            <!-- begin row -->
                                            <div>
                                                <div class="block1">
                                                    <label>Door No</label>
                                                    <input type="text" name="firstname" id="txtCDoorNo" placeholder="Enter Door No" class="form-control" data-parsley-group="wizard-step-2" disabled />
                                                </div>

                                                <div class="block1">
                                                    <label>Street</label>
                                                    <input type="text" name="firstname" id="txtCStreet" placeholder="Enter Street Name" class="form-control" data-parsley-group="wizard-step-2" disabled />
                                                </div>

                                                <div class="block1">
                                                    <label>City</label>
                                                    <input type="text" name="firstname" id="txtCCity" placeholder="Enter Your City" class="form-control" data-parsley-group="wizard-step-2" disabled />
                                                </div>

                                                <div class="block1">
                                                    <label>Pin Code</label>
                                                    <input type="text" name="firstname" id="txtCPinCode" placeholder="Enter Pin Code" class="form-control" data-parsley-group="wizard-step-2" maxlength="6" />
                                                </div>

                                                <div class="block1">
                                                    <label>Village</label>
                                                    <input type="text" name="firstname" id="txtCVillage" placeholder="Enter Your Village" class="form-control" data-parsley-group="wizard-step-2" disabled />
                                                </div>

                                                <div class="block1">
                                                    <label>Mobile No</label>
                                                    <input type="text" name="firstname" id="txtCMobileNo" placeholder="Enter Your Mobile No" class="form-control" data-parsley-group="wizard-step-2" disabled />
                                                </div>
                                            </div>
                                            <!-- end row -->
                                        </div>
                                        <div class="col-md-6" id="PermanentAddress">
                                            <legend class="pull-left width-full">Permanent Address</legend>
                                            <!-- begin row -->
                                            <div>
                                                <div class="block1">
                                                    <label>Door No</label>
                                                    <input type="text" name="firstname" id="txtPDoorNo" placeholder="Enter Door No" class="form-control" data-parsley-group="wizard-step-2" />
                                                </div>

                                                <div class="block1">
                                                    <label>Street</label>
                                                    <input type="text" name="firstname" id="txtPStreet" placeholder="Enter Street Name" class="form-control" data-parsley-group="wizard-step-2" />
                                                </div>

                                                <div class="block1">
                                                    <label>City</label>
                                                    <input type="text" name="firstname" id="txtPCity" placeholder="Enter Your City" class="form-control" data-parsley-group="wizard-step-2" />
                                                </div>

                                                <div class="block1">
                                                    <label>Pin Code</label>
                                                    <input type="text" name="firstname" id="txtPPinCode" placeholder="Enter Pin Code" class="form-control" data-parsley-group="wizard-step-2" maxlength="6" />
                                                </div>

                                                <div class="block1">
                                                    <label>Village</label>
                                                    <input type="text" name="firstname" id="txtPVillage" placeholder="Enter Your Village" class="form-control" data-parsley-group="wizard-step-2" />
                                                </div>

                                                <div class="block1">
                                                    <label>Mobile No</label>
                                                    <input type="text" name="firstname" id="txtPMobileNo" placeholder="Enter Your Mobile No" class="form-control" data-parsley-group="wizard-step-2" disabled />
                                                </div>
                                            </div>
                                            <!-- end row -->
                                        </div>
                                        <!-- end row -->
                                    </fieldset>
                                </div>
                                <!-- end wizard step-2 -->
                                <!-- begin wizard step-3 -->
                                <div class="wizard-step-3">
                                    <fieldset>
                                        <legend class="pull-left width-full">Family Information</legend>
                                        <div class="col-md-12 table-responsive" id="divStudentRelations">
                                        </div>
                                    </fieldset>
                                </div>
                                <!-- end wizard step-3 -->
                                <!-- begin wizard step-4 -->
                                <div class="wizard-step-4" id="wizard-step-4">
                                    <fieldset>
                                        <legend class="pull-left width-full">Family Photo Upload</legend>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="">
                                                    <div id="dvImportFamilyPhoto">
                                                        <label>Upload FamilyPhoto</label>
                                                        @*<label class="col-md-3 control-label">Photo</label>*@
                                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                                            <div class="fileupload-new thumbnail" style="width: 300px; height: 205px;">
                                                                <img src="" id="img1" style="width: 300px; height: 195px;" accesskey=".jpg,.jpeg,.png" />
                                                            </div>
                                                            <div class="upload-btn-wrapper">
                                                                <button class="btn" id="btnImage">Select Image</button>
                                                                <input type="file" class="btn bg-purple" imageid="img1" name="img1" id="inputimg1" data-parsley-group="wizard-step-4" onchange="encodeImagetoBase64(this,this.name,this.id)" accept=".jpg,.png,.jpeg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <h3 class="pull-left width-full">Declaration</h3>
                                            <div class="checkbox checkbox-css checkbox-inline">
                                                <input type="checkbox" value="" id="chkDeclaration" />
                                                <label for="chkDeclaration">I have carefully gone through the prospectus and promise to abide by the rules of this Hostel.</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 pull-right">
                                            <a id="btnSubmit" value="Submit" class="btn btn-primary">Submit</a>
                                            <a href="javascript:;" id="sPrint" onclick="printDiv('divRegistrationForm')" class="btn btn-success m-b-10 pull-right"><i class="fa fa-print m-r-5"></i>Print</a>
                                        </div>
                                    </fieldset>
                                </div>
                                <!-- end wizard step-4 -->
                                <div class="col-md-12 hidden">
                                    <div id="divRegistrationForm"></div>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="alert alert-danger"><p class="text-center">Your Account is not Created Please wait..!</p></div>
                    }
                   
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Content/assets/plugins/parsley/dist/parsley.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-wizard/js/bwizard.js"></script>
    <script src="~/Content/assets/js/form-wizards-for-hostel-registration.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/assets/plugins/gritter/js/jquery.gritter.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            FormWizardValidation.init();
        });
    </script>
    <script>
        $(document).ready(function () {
            $(document).on("wheel", "input[type=number]", function (e) {
                $(this).blur();
            });
            GetDropDown = function () {
                $.ajax({
                    url: "@Url.Action("FetchSupportDataForDropDown", "Admission")",
                    method: "POST",
                    datatype: "html",
                    success: function (objResult) {
                        var ddl = JSON.parse(objResult);
                        $('#ddlReligion').empty();
                        $('#ddlReligion').append('<option value="">-- select --</option>' + ddl.RELIGION_ID);
                        $('#ddlCaste').empty();
                        $('#ddlCaste').append('<option value="">-- select --</option>' + ddl.CASTE);
                        $('#ddlMajor').empty();
                        $('#ddlMajor').append('<option value="">-- select --</option>' + ddl.PROGRAMME_GROUP_ID);
                        $('#ddlClass').empty();
                        $('#ddlClass').append('<option value="">-- select --</option>' + ddl.CLASS_ID);
                        $('#ddlBloodGroup').empty();
                        $('#ddlBloodGroup').append('<option value="">-- select --</option>' + ddl.BLOOD_GROUP);
                        $('.selectpicker').selectpicker('refresh');
                        FetchAdmissionIssueApplicationById();
                    }, error: function (error) {
                        alert(error);
                    }
                });
            }
            GetDropDown();
        });
        function FetchStudentRelations() {
            $.ajax({
                url: "@Url.Action("FetchRelationsInfo", "Admission")",
                method: "POST",
                datatype: "html",
                async: false,
                success: function (option) {
                    var dvStudentRelations = $('#divStudentRelations');
                    dvStudentRelations.empty();
                    dvStudentRelations.append(option);
                }, error: function (error) {
                    alert(error);
                }
            });
        }
        $("#chAddress").on("click", function () {
            $("#PermanentAddress").toggle();
        });
        CloneRow = function () {
            var newRow = $("#RelatoinsList tbody tr:first").clone();
            //newRow.find("#relation_1").attr("id", "relation_" + sCount);
            //newRow.find("#Occupation_1").attr("id", "Occupation_" + sCount);
            //newRow.find("#txtName_1").attr("id", "txtName_" + sCount);
            //newRow.find("#txtIncome_1").attr("id", "txtIncome_" + sCount);
            //newRow.find("tr").attr("cms-relationid", '15');
            newRow.find("#txtIncome").val('');
            newRow.find("#txtName").val('');
            newRow.find("#Occupation").val('');
            newRow.find("#relation").val('');
            newRow.appendTo('#RelatoinsList');
            $("#RelatoinsList tbody tr:last").attr("cms-relationid", "");       
            newRow.find("#btnDelete").attr('onclick', '$(this).parent().parent().remove()');          
        }
        function DeleteRow(ID) {
            if (!confirm('Are you sure to Delete ?')) {
                return false;
            }                        
            $.ajax({
                url: "@Url.Action("DeleteStudentRelation", "Admission")",
                method: "POST",
                datatype: "html",
                data: { sRelationId: ID },
                async: false,
                success: function (data) {
                    if (data.Message != null && data.Message != '') {
                        if (data.Message == "200") {
                            alert('Record Deleted Successfully..!');
                            FetchStudentRelations();
                           // $(this).parent().parent().remove();
                            //$(this).closest('tr').remove();
                           // $(this).parents("tr").remove();
                        } else
                            alert(data.Message);
                    }
                }, error: function (error) {
                    alert(error);
                }
            });
        }
        function EmptyRelationDelete() {
            if (!confirm('Are you sure to Delete ?')) {
                return false;
            }
            $(this).parent().parent().remove();
        }
        FetchAdmissionIssueApplicationById = function () {
            var sApplicationType;
            var Receive_id;
            var IsSubmitted;
            var IsRomanCatholic;
            var IsRelation;
            $.ajax({
                url: "@Url.Action("FetchHostelRegistrationById", "Admission")",
                method: "POST",
                datatype: "html",
                success: function (objResult) {
                    FetchStudentRelations();
                    if (objResult.Message == null) {
                        $('#txtFirstName').val(objResult[0].FIRST_NAME);
                        $('#txtInitial').val(objResult[0].LAST_NAME);
                        $('#txtdob').val(objResult[0].DOB);
                        $('#txtCMobileNo').val(objResult[0].CONTACT_NO);
                        $('#txtPMobileNo').val(objResult[0].CONTACT_NO);
                        $('#txtReceiveId').val(objResult[0].RECEIVE_ID);
                        Receive_id = objResult[0].RECEIVE_ID;
                        if (Receive_id != null) {
                            IsRomanCatholic = objResult[0].IS_ROMAN_CATHOLIC;
                            IsRelation = objResult[0].COLLEGE_RELATION;
                            $('#txtParishName').val(objResult[0].PARISH_NAME);
                            $('#txtHostelRegistrationId').val(objResult[0].HOSTEL_REGISTRATION_ID);
                            $('#txtCDoorNo').val(objResult[0].CDOORDETAIL);
                            $('#txtPDoorNo').val(objResult[0].PDOORDETAIL);
                            $('#txtCStreet').val(objResult[0].CSTREET);
                            $('#txtPStreet').val(objResult[0].PSTREET);
                            $('#txtCCity').val(objResult[0].CTALUK_CITY);
                            $('#txtPCity').val(objResult[0].PTALUK_CITY);
                            $('#txtCPinCode').val(objResult[0].CPINCODE);
                            $('#txtPPinCode').val(objResult[0].PPINCODE);
                            $('#txtCVillage').val(objResult[0].CVILLAGE_AREA);
                            $('#txtPVillage').val(objResult[0].PVILLAGE_AREA);
                            $('#ddlClass').val(objResult[0].CLASS_ID)
                            $('#txtPlaceOfBirth').val(objResult[0].PLACE_OF_BIRTH);
                            $('#txtExtraCurricularActivity').val(objResult[0].EXTRA_CURRICULAR);
                            $('#ddlCaste').val(objResult[0].CASTE);
                            $('#ddlMajor').val(objResult[0].PROGRAMME_GROUP_ID);
                            $('#img').attr("src", objResult[0].PHOTO_PATH);
                            $('#img1').attr("src", objResult[0].FAMILY_PHOTO);
                            $('#ddlReligion').val(objResult[0].RELIGION_ID);
                            $('#ddlBloodGroup').val(objResult[0].BLOOD_GROUP);
                            IsSubmitted = objResult[0].HOSTEL_SUBMITTED;
                            if (IsSubmitted == '1') {
                                $('#chkDeclaration').attr('checked', true);
                            }
                            if (IsRomanCatholic == '1') {
                                $('#dvparish').removeClass('hidden');
                            }
                            if (IsRomanCatholic == '0') {
                                $('#dvparish').addClass('hidden');
                            }
                            if (IsRelation == '1') {
                                $('#IsRelativesYes').attr('checked', true);
                            }
                            if (IsRelation == '0') {
                                $('#IsRelativesNo').attr('checked', true);
                            }
                        }
                        $('.selectpicker').selectpicker('refresh');
                    }
                    else {
                        myAlert(objResult.Message, 'gritter-danger', '');
                    }
                }, error: function (error) {
                    alert(error);
                }
            });
        }
        var ImputImg;
        var baseimage64;
        var extension;
        function encodeImagetoBase64(element, imageid, id) {
            if (element != null && element != "") {
                var file = element.files[0];
                extension = String(file.value).substr(String(file.value).lastIndexOf('.') + 1);
                var reader = new FileReader();
                reader.onloadend = function () {

                    $(".link").attr("href", reader.result);

                    $(".link").text(reader.result);
                    $('#' + imageid).attr("src", reader.result);
                    //only this is required to send file in ajax
                    baseimage64 = reader.result;
                }
            }
            //this is method call
            reader.readAsDataURL(file);
        }
        function SaveOrUpdateHostelPersonal() {
            var json;
            var IsRelation;
            if ($('#IsRelativesYes').is(":checked"))
                IsRelation = 1;
            else
                IsRelation = 0;
            if ($('#chAddress').is(":checked")) {
                json = '{"PARISH_NAME":"' + $('#txtParishName').val() + '","COLLEGE_RELATION":"' + IsRelation + '","CLASS_ID":"' + $('#ddlClass').val() + '","RECEIVE_ID":"' + $('#txtReceiveId').val() + '","HOSTEL_REGISTRATION_ID":"' + $('#txtHostelRegistrationId').val() + '","CPINCODE":"' + $('#txtCPinCode').val() + '","PDOORDETAIL":"' + $('#txtCDoorNo').val() + '","PSTREET":"' + $('#txtCStreet').val() + '","PTALUK_CITY":"' + $('#txtCCity').val() + '","PPINCODE":"' + $('#txtCPinCode').val() + '","PVILLAGE_AREA":"' + $('#txtCVillage').val() + '","PPHONENO":"' + $('#txtCMobileNo').val() + '"}';
            }
            else {
                json = '{"PARISH_NAME":"' + $('#txtParishName').val() + '","COLLEGE_RELATION":"' + IsRelation + '","CLASS_ID":"' + $('#ddlClass').val() + '","RECEIVE_ID":"' + $('#txtReceiveId').val() + '","HOSTEL_REGISTRATION_ID":"' + $('#txtHostelRegistrationId').val() + '","CPINCODE":"' + $('#txtCPinCode').val() + '","PDOORDETAIL":"' + $('#txtPDoorNo').val() + '","PSTREET":"' + $('#txtPStreet').val() + '","PTALUK_CITY":"' + $('#txtPCity').val() + '","PPINCODE":"' + $('#txtPPinCode').val() + '","PVILLAGE_AREA":"' + $('#txtPVillage').val() + '","PPHONENO":"' + $('#txtPMobileNo').val() + '"}';
            }
            $.ajax({
                url: "@Url.Action("SaveOrUpdateHostelPersonalInfo", "Admission")",
                method: "POST",
                datatype: "html",
                data: { sHostelPersonal: json },
                success: function (ObjJsonData) {
                    myAlert(ObjJsonData.Message, 'gritter-success', '');
                    FetchStudentRelations();
                }, error: function (error) {
                    alert(error);
                }
            });
        }
        function SaveOrUpdateFamilyDetails() {
            var i = 1;
            var RelationJson;
            RelationJson = '{"SAVE_STU_RELATIONS":[';
            $('#RelatoinsList tbody tr').each(function () {
                RelationId = $(this).attr("cms-relationid");
                tdRelation = $(this).find('td').find('#relation option:selected').val();
                tdName = $(this).find('td').find('#txtName').val();
                tdOccupation = $(this).find('td').find('#Occupation option:selected').val();
                tdIncome = $(this).find('td').find('#txtIncome').val();
                RelationJson += '{"RELATION_ID":"' + RelationId + '","RECEIVE_ID":"' + $('#txtReceiveId').val() + '","RELATION_NAME":"' + tdName + '","RELATION_SHIP":"' + tdRelation + '","OCCUPATION":"' + tdOccupation + '","INCOME":"' + tdIncome + '"},';
                i++;
            });
            if (i > 0) {
                RelationJson = RelationJson.slice(0, -1);
            }
            RelationJson += ']}';
            $.ajax({
                url: "@Url.Action("SaveOrUpdateFamilyDetails", "Admission")",
                method: "POST",
                datatype: "html",
                data: { sRelationJson: RelationJson },
                async: false,
                success: function (ObjJsonData) {
                    myAlert(ObjJsonData.Message, 'gritter-success', '');
                    FetchStudentRelations();
                }, error: function (error) {
                    alert(error);
                }
            });
        }
        function SaveOrUpdatedPhotoUploads(e) {
            var IsSubmitted;
            if ($('#chkDeclaration').is(":checked"))
                IsSubmitted = 1;
            else
                IsSubmitted = 0;
            var fileData = new FormData();
            var fileUpload = $("#inputimg1").get(0);
            var files = fileUpload.files;
            // Looping over all files and add it to FormData object
            for (var j = 0; j < files.length; j++) {
                fileData.append(files[j].name, files[j]);
            }
            fileData.append("Is_Submit_Click", e);
            fileData.append("IS_SUBMITTED", IsSubmitted);
            $.ajax({
                url: "@Url.Action("SaveOrUpdatedPhotoUploads", "Admission")",
                method: "POST",
                contentType: false, // Not to set any content header
                processData: false,
                data: fileData,
                async: false,
                success: function (data) {
                    myAlert(data.Message, 'gritter-success', '');
                }, error: function (error) {
                    alert('Try Again!!');
                    return false;
                }

            });
        }
        BindApplicationFormForPrint = function (divName) {
            $.ajax({
                url: "@Url.Action("HostelRegistrationPrintView", "Admission")",
                method: "POST",
                datatype: "html",
                success: function (option) {
                    var dvRegistrationForm = $('#divRegistrationForm');
                    dvRegistrationForm.empty();
                    dvRegistrationForm.append(option);
                    $('#divRegistrationForm').removeClass('hidden');
                    var printContents = document.getElementById(divName).innerHTML;
                    var originalContents = document.body.innerHTML;
                    document.body.innerHTML = printContents;
                    window.print();
                    document.body.innerHTML = originalContents;
                    location.reload();
                }, error: function (error) {
                    alert(error);
                }
            });
        }
        $('#btnSubmit').on('click', function () {
            var FamilyPhoto = $('#img1').attr('src');
            if (FamilyPhoto == "") {
                alert('Please Upload Your Family Photo...!!!');
                return false;
            }
            if ($('#chkDeclaration').is(":checked")) {
                SaveOrUpdatedPhotoUploads(1);
                printDiv('divRegistrationForm');
            } else {
                alert('Please check the box to continue...!!!');
            }
        });
        function printDiv(divName) {
            if ($('#chkDeclaration').is(":checked")) {
                BindApplicationFormForPrint(divName);
            }
            else {
                alert('Please Submit Your Application...!!!');
                return false;
            }
        }
    </script>
}

