@model CMS.ViewModel.ViewModel.AdmissionViewModel

@{
    ViewBag.Title = "ListProgrammeDescription";
    Layout = null;
}
@section styles{
<link href="~/Content/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
}
<div class="content" id="content">
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">Programme Description</li>
    </ol>
    <h1 class="page-header">Programme Description</h1>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h3 class="panel-title">Programme Description</h3>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <a class="btn bg-green pull-right" title="Click to Add" href="@Url.Action("AddProgrammeDescription","Admission")"><i class="fa fa-plus"></i> Add</a>
            </div><br /><br />

            <div class="form-group table-responsive">
                @{ int count = 0;}
                <table class="table table-hover table-bordered" id="tblSupRoom">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Programme</th>
                            <th>Shift</th>
                            <th>Action</th>                           
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.liProgarammeDescription != null)
                        {
                            foreach (var item in Model.liProgarammeDescription)
                            {
                                <tr>
                                    <td>@{count++;}@count</td>
                                    <td>@item.PROGRAMME_NAME</td>
                                    <td>@item.SHIFT_NAME</td>
                                    <td>
                                        <a href="@Url.Action("EditProgrammeDescription","Admission", new { sProgrammeDescriptionId = item.PROGRAMME_DESCRIPTION_ID })" title="Click To Edit" data-><i class="fa fa-edit text-primary"></i></a>
                                        <a href="javascript:;" onclick="GetConfrim(@item.PROGRAMME_DESCRIPTION_ID)" title="Click To Delete"><i class="fa fa-trash text-danger"></i></a>
                                    </td>
                                </tr>
                                            }
                                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{

<script src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="~/Content/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="~/Content/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

<script>   
    $('#tblSupRoom').DataTable({       
    });    
    function GetConfrim(ID) {
        if (!confirm('Are you sure to delete ?')) {
            return false;
        } else {
            $.ajax({
                url: '@Url.Action("DeleteProgrammeDescription", "Admission")',
                method: 'POST',
                datatype: 'json',
                data: { sProgrammeDescriptionId: ID },
                success: function (data) {
                    alert(data.Message);
                    window.location.reload();
                }, error: function (error) {
                    alert('Internal Server Error !');
                }
            });
        }
    }  
</script>    
}


