@model CMS.ViewModel.Model.PayUPost
@{
    ViewBag.Title = "PayApplicationFee";
    Layout = "~/Views/Shared/_AdmissionLayoutPage.cshtml";
}

<div class="content" id="content">
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active"></li>
    </ol>
    <h2 class="page-header"> Payment Details</h2>
    <div class="panel">
        <div class="panel-heading bg-primary">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Payment Details</h4>
        </div>
        <div class="panel-body">
            <form action="@Model.BASE_URL" id="frmPayUPost" method="post" class="col-lg-offset-3 col-lg-6 table-bordered">
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4 class="lead">Payment Information</h4>
                    <hr />
                    @if (!string.IsNullOrEmpty(Model.sMessage))
                    {
                        <div class="alert-danger alert "> @Model.sMessage</div>
                    }

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.key, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.txnid, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.productinfo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.udf1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.udf2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.udf3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.udf4, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.udf5, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.salt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.hash, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.surl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.furl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.curl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.pg, new { htmlAttributes = new { @class = "form-control" } })
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit"  value="Pay Now" class="btn btn-success " />

                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {

            $('#frmPayUPost').submit();
        });
    </script>

        }
