@model CMS.ViewModel.Model.StaffInfo
    @using CMS.Utility;
@{
    ViewBag.Title = "EditStaffInfomation";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section styles{
 <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->

<link href="~/Content/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
<!-- ================== END PAGE LEVEL CSS STYLE ================== -->
}
<div class="content" id="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action("ADMIN","Dashboard")">Home</a></li>
        <li><a href="@Url.Action("ListStaffDetails","Staff")">List Staff Details</a></li>
        <li class="active">Edit Staff Details</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Edit Staff Details</h1>
    <!-- end page-header -->
    <!-- begin panel -->
    <div class="panel panel-default panel-with-tabs" data-sortable-id="ui-unlimited-tabs-2">
        <div class="panel-heading p-0">
            <div class="panel-heading-btn m-r-10 m-t-10">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-inverse" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            </div>
            <!-- begin nav-tabs -->
            <div class="tab-overflow"   data-parsley-validate="true" name="form-wizard">
                <ul class="nav nav-tabs"> 
                    <li class="prev-button"><a href="javascript:;" data-click="prev-tab" class="text-inverse"><i class="fa fa-arrow-left"></i></a></li>
                    <li class="active"><a href="#nav-tab2-1" data-toggle="tab" id="EditPersonal">Personal Details</a></li>
                    <li class="" id="EditAddress"><a href="#nav-tab2-2" data-toggle="tab">Address Details</a></li>
                    <li class="" id="EditServices"><a href="#nav-tab2-3" data-toggle="tab">Services Details</a></li>
                    <li class="" id="EditQualification"><a href="#nav-tab2-4" data-toggle="tab">Qualification Details</a></li>
                    <li class="" id="EditLeaving"><a href="#nav-tab2-5" data-toggle="tab">Leaving Details</a></li>
                    <li class="" id="EditTraning"><a href="#nav-tab2-6" data-toggle="tab">Traning Details</a></li>
                    <li class="" id="EditPaper"><a href="#nav-tab2-7" data-toggle="tab">Paper Details</a></li>
                    <li class="" id="EditCounseling"><a href="#nav-tab2-8" data-toggle="tab">Counseling Details</a></li>
                    <li class="" id="EditPublish"><a href="#nav-tab2-9" data-toggle="tab">Publish Details</a></li>
                    <li class="" id="EditRoles"><a href="#nav-tab2-10" data-toggle="tab">Staff Roles</a></li>
                    <li class="" id="EditFamily"><a href="#nav-tab2-11" data-toggle="tab">Family Details</a></li>
                    <li class="next-button"><a href="javascript:;" data-click="next-tab" class="text-inverse"><i class="fa fa-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="tab-content">

                <div class="tab-pane fade active in" id="nav-tab2-1" data-parsley-validate="true">

                    @Html.Action("EditStaffPersoanlInfo")
                    @*<div id="dvPersonal"></div>*@

                </div>
                <div class="tab-pane fade" id="nav-tab2-2" data-parsley-validate="true">

                    <div id="dvEditAddress"></div>

                    @*@Html.Action("StaffAddressInfo")*@

                </div>
                <div class="tab-pane fade" id="nav-tab2-3" data-parsley-validate="true">

                    <div id="dvEditServices"></div>
                    @*  @Html.Action("StaffServiceInfo")*@

                </div>
                <div class="tab-pane fade" id="nav-tab2-4" data-parsley-validate="true">

                    <div id="dvEditQualification"></div>
                    @*@Html.Action("StaffQualificationInfo")*@

                </div>
                <div class="tab-pane fade" id="nav-tab2-5" data-parsley-validate="true">

                    <div id="dvEditLeaving"></div>
                    @*@Html.Action("StaffLeavingInfo")*@

                </div>
                <div class="tab-pane fade" id="nav-tab2-6" data-parsley-validate="true">

                    <div id="dvEditTraining"></div>
                    @*  @Html.Action("StaffTrainingInfo")*@

                </div>
                <div class="tab-pane fade" id="nav-tab2-7" data-parsley-validate="true">

                    <div id="dvEditPaper"></div>
                    @*@Html.Action("StaffPaperInfo")*@

                </div>
                <div class="tab-pane fade" id="nav-tab2-8" data-parsley-validate="true">

                    <div id="dvEditCounselling"></div>
                    @*  @Html.Action("StaffCounsellingInfo")*@

                </div>
                <div class="tab-pane fade" id="nav-tab2-9" data-parsley-validate="true">

                    <div id="dvEditPublish"></div>
                    @*   @Html.Action("StaffPublishInfo")*@

                </div>
                <div class="tab-pane fade" id="nav-tab2-10" data-parsley-validate="true">

                    <div id="dvEditRoles"></div>
                    @*@Html.Action("StaffRolesInfo")*@

                </div>
                <div class="tab-pane fade" id="nav-tab2-11" data-parsley-validate="true">

                    <div id="dvEditFamily"></div>
                    @*@Html.Action("StaffFamilyInfo")*@

                </div>

            </div>
        </div>
    </div>
    <!-- end panel -->
</div>

@section scripts{

<script src="~/Content/assets/plugins/flot/jquery.flot.min.js"></script>
<script src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/plugins/gritter/js/jquery.gritter.js"></script>
<script src="~/Content/assets/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
<script src="~/Content/assets/js/ui-modal-notification.demo.min.js"></script>

<script src="~/Content/assets/plugins/parsley/dist/parsley.js"></script>
    <script>
        var OldStaffCode;
        $(document).ready(function ()
        {
            HandleDtaePicker=function()
            {
                "use strict";
                $("#DateofBirth,#DateOfJoin").datepicker({
                    todayHighlight: true,
                    autoclose: true,
                    endDate: new Date(),
                    format: "dd/mm/yyyy",
                    orientation: "right bottom"
                    // 'top': top,
                    // 'left': left
                })
            }
            HandleDtaePicker();
            // PersonalInfo
            PersonalInfo = function ()
            {            
                $.ajax({
                    url:"@Url.Action("FetchPersonalInfo", "Staff")",
                    method:"POST",
                    datatype:"html",
                    success:function(data)
                    {
                        $("#FirstName").val(data.FirstName);
                        $("#Lastname").val(data.Lastname);
                        $("#KnowAs").val(data.NickName);
                        $("#PlaceOfBirth").val(data.PlaceOfBirth);
                        $("#DateofBirth").val(data.DateofBirth);
                        $("#DateOfJoin").val(data.DateOfJoin);
                        $("#BloodGroup").val(data.BloodGroup);
                        $("#Community").val(data.Community);
                        $("#Department").val(data.Department);
                        $("#Maritalstatus").val(data.Maritalstatus);
                        $("#MotherTongue").val(data.MotherTongue);
                        $("#Nationality").val(data.Nationality);
                        $("#Religion").val(data.Religion);
                        $("#Gender").val(data.Gender);
                        $("#StaffCode").val(data.StaffCode);
                        $("#Role").val(data.Role);
                        $("#UserType").val(data.UserType);
                    },error:function(error)
                    {
                        alert('Internal Server Error ..!');
                    }
                });
            }
            PersonalInfo();
        });
    </script>

 <!-- #region FetchRecords By ID -->
<script>
  
   
    // Service
    var FetchServices=function (ID)
    {
        $.ajax({
            url:"@Url.Action("FetchSeviceData", "Staff")",
            method:"POST",
            datatype:"html",
            data:{sStaffId:ID},
            success:function(data)
            {
                $("#DATE_OF_APPOINT").val(data.DATE_OF_APPOINT);
                $("#APPOINTMENT_NAME").val(data.APPOINTMENT_NAME);
                $("#DATE_OF_TERMINATION").val(data.DATE_OF_TERMINATION);
                $("#INSTITUTE").val(data.INSTITUTE);
                $("#REMARKS").val(data.REMARKS);
                $("#PLACE").val(data.PLACE);
            }, error: function (error)
            {
                alert('Internal Server Error ..!');
            }
        });
    }
   
</script>
<!-- #endregion -->

<!-- #region Update Details -->
<script>
    // Edit Personal Info
    $("#btnEditPersonalInfo").on("click", function ()
    {
        var isValid = true;
        if ($('#nav-tab2-1').parsley().validate() !== true) isValid = false;
        if (!isValid) { 
            //gritter-info,danger,success,warning,default
            myAlert('Something went wrong ! Please check your inputs !', 'gritter-warning','');
            return false;
        } 
        var FirstName = $("#FirstName").val();
        var LastName = $("#Lastname").val();
        var KnowAs = $("#KnowAs").val();
        var PlaceOfBirth = $("#PlaceOfBirth").val();
        var DateofBirth = $("#DateofBirth").val();
        var DateOfJoin = $("#DateOfJoin").val();
        var BloodGroup = $("#BloodGroup").val();
        var Department = $("#Department").val();
        var Community = $("#Community").val();
        var Gender = $("#Gender").val();
        var Maritalstatus = $("#Maritalstatus").val();
        var MotherTongue = $("#MotherTongue").val();
        var Nationality = $("#Nationality").val();
        var Religion = $("#Religion").val();
        var StaffCode=$("#StaffCode").val();
        var Role=$("#Role").val();
        var UserType=$("#UserType").val();
        var JsonData;
        if (JsonData == null)
        {
            JsonData = '{"UserType":"' + UserType + '","Role":"' + Role + '","StaffCode":"'+StaffCode+'","FirstName":"' + FirstName + '","LastName":"' + LastName + '","NickName":"' + KnowAs + '","PlaceOfBirth":"' + PlaceOfBirth + '","DateofBirth":"' + DateofBirth + '","DateOfJoin":"' + DateOfJoin + '","BloodGroup":"' + BloodGroup + '","Department":"' + Department + '","Community":"' + Community + '","Gender":"' + Gender + '","Maritalstatus":"' + Maritalstatus + '","MotherTongue":"' + MotherTongue + '","Nationality":"' + Nationality + '","Religion":"' + Religion + '"}';
        }
        $.ajax({
            url:"@Url.Action("UpdatePersonal", "Staff")",
            method: "POST",
            datatype: "html",
            data: {str:JsonData},
            success:function(data)
            {
                alert(data);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });
    @*$("#btnUpdateAddress").on("click", function ()
    {
        var CDOORDETAILS = $("#CDOORDETAILS").val();
        var CSTREET = $("#CSTREET").val();
        var CPLACE = $("#CPLACE").val();
        var CCITY = $("#CCITY").val();
        var CPINCODE = $("#CPINCODE").val();
        var CDISTRICT = $("#CDISTRICT").val();
        var CCOUNTRY = $("#CCOUNTRY").val();
        var CVILLAGE = $("#CVILLAGE").val();
        var CPHONENO = $("#CPHONENO").val();
        var CCELLNO = $("#CCELLNO").val();
        var CEMAIL = $("#CEMAIL").val();
        var PDOORDETAILS = $("#PDOORDETAILS").val();
        var PSTREET = $("#PSTREET").val();
        var PPLACE = $("#PPLACE").val();
        var PCITY = $("#PCITY").val();
        var PPINCODE = $("#PPINCODE").val();
        var PDISTRICT = $("#PDISTRICT").val();
        var PCOUNTRY = $("#PCOUNTRY").val();
        var PVILLAGE = $("#PVILLAGE").val();
        var PPHONENO = $("#PPHONENO").val();
        var PCELLNO = $("#PCELLNO").val();
        var PEMAIL = $("#PEMAIL").val();
        var JsonData;
        if (JsonData==null) 
        {
            JsonData = '{"CDOORDETAILS":"' + CDOORDETAILS + '","CSTREET":"' + CSTREET + '","CPLACE":"' + CPLACE + '","CCITY":"' + CCITY + '","CPINCODE":"' + CPINCODE + '","CDISTRICT":"' + CDISTRICT + '","CCOUNTRY":"' + CCOUNTRY + '","CVILLAGE":"' + CVILLAGE + '","CPHONENO":"' + CPHONENO + '","CCELLNO":"' + CCELLNO + '","CEMAIL":"' + CEMAIL + '","PDOORDETAILS":"' + PDOORDETAILS + '","PSTREET":"' + PSTREET + '","PPLACE":"' + PPLACE + '","PCITY":"' + PCITY + '","PPINCODE":"' + PPINCODE + '","PDISTRICT":"' + PDISTRICT + '","PCOUNTRY":"' + PCOUNTRY + '","PVILLAGE":"' + PVILLAGE + '","PPHONENO":"' + PPHONENO + '","PCELLNO":"' + PCELLNO + '","PEMAIL":"' + PEMAIL + '"}';
        }
        
        $.ajax({
            url:"@Url.Action("UpdateAddress", "Staff")",
            method: "POST",
        datatype: "html",
        data: {str:JsonData},
        success:function(data)
        {
            alert(data);
        },error:function(error)
        {
            alert('session time out try again ..!');
        }
    });
    });
    $("#btnUpdateService").on("click", function ()
    {
        var DATE_OF_APPOINT = $("#DATE_OF_APPOINT").val();
        var NAME = $("#APPOINTMENT_NAME").val();
        var DATE_OF_TERMINATION = $("#DATE_OF_TERMINATION").val();
        var INSTITUTE = $("#INSTITUTE").val();
        var REMARKS = $("#REMARKS").val();
        var PLACE = $("#PLACE").val();
        var JsonData;
        if (JsonData==null)
        {
            JsonData = '{"DATEOFAPPOINT":"' + DATE_OF_APPOINT + '","NAME":"' + NAME + '","DATEOFTERMINATION":"' + DATE_OF_TERMINATION + '","INSTITUTE":"' + INSTITUTE + '","REMARKS":"' + REMARKS + '","PLACE":"' + PLACE + '"}';
        }
        
        $.ajax({
            url:"@Url.Action("UpdateStaffServices", "Staff")",
            method: "POST",
        datatype: "html",
        data: {str:JsonData},
        success:function(data)
        {
            alert(data);
        },error:function(error)
        {
            alert('session time out try again ..!');
        }
    });
    });
    $("#btnUpdateCounseling").on("click", function ()
    {
        var DATEOFCOUN = $("#DATEOFCOUN").val();
        var DURATION = $("#DURATION").val();
        var REASON = $("#REASON").val();
        var GIVEN = $("#GIVEN").val();
        var ACTIONTAKEN = $("#ACTIONTAKEN").val();
        var REMARK = $("#REMARK").val();
        var JsonData;
        if (JsonData==null) 
        {
            JsonData='{"DateOfCounsel":"'+DATEOFCOUN+'","DURATION":"'+DURATION+'","REASON":"'+REASON+'","GIVEN":"'+GIVEN+'","ACTIONTAKEN":"'+ACTIONTAKEN+'","REMARK":"'+REMARK+'"}';
        }
        
        $.ajax({
            url:"@Url.Action("UpdateCounseling", "Staff")",
            method: "POST",
        datatype: "html",
        data: {str:JsonData},
        success:function(data)
        {
            alert(data);
        },error:function(error)
        {
            alert('session time out try again ..!');
        }
    });
    });
    $("#btnUpdateSubject").on("click", function ()
    {
        var StaffCode=$("#StaffCode").val();
        var KNOWLEDGEINCOMPUTER = $("#KNOWLEDGEINCOMPUTER").val();
        var MAINSUBJECT = $("#MAINSUBJECT").val(); 
        var QUALIFICATION = $("#QUALIFICATION").val();
        var DESIGNATION = $("#DESIGNATION").val();
        var NONTEACHINGCATEGORY = $("#NONTEACHINGCATEGORY").val();
        var SUBCATEGORY = $("#SUBCATEGORY").val();
        var BOARDMEMBER = $("#BOARDMEMBER").val();
        var SESSIONS = $("#SESSIONS").val();
        var SHIFT = $("#SHIFT").val();
        var JsonData;
        if (JsonData == null)
        {
            JsonData = '{"StaffCode":"'+StaffCode+'","KNOWLEDGEINCOMPUTER":"'+KNOWLEDGEINCOMPUTER+'","MAINSUBJECT":"'+MAINSUBJECT+'","QUALIFICATION":"'+QUALIFICATION+'","DESIGNATION":"'+DESIGNATION+'","NONTEACHINGCATEGORY":"'+NONTEACHINGCATEGORY+'","SUBCATEGORY":"'+SUBCATEGORY+'","BOARDMEMBER":"'+BOARDMEMBER+'","SESSIONS":"'+SESSIONS+'","SHIFT":"'+SHIFT+'"}';
        }
        
        $.ajax({
            url:"@Url.Action("UpdateSubjectDetails", "Staff")",
            method:"POST",
            datatype:"html",
            data:{str:JsonData},
            success:function(data)
            {
                alert(data);
            },error:function(error)
            {
                alert('session time out try again ..!');
            }
        });
    });
    $("#btnUpdateTraining").on("click", function () 
    { 
        var PROGRAMME=$("#PROGRAMME").val();
        var PLACE=$("#txtPlace").val();
        var DATE_FROM=$("#DATE_FROM").val();
        var DATE_TO=$("#DATE_TO").val();
        var TLEVEL=$("#TLEVEL").val();
        var COMMENTS=$("#COMMENTS").val();
        var JsonData;
        if (JsonData==null) 
        {
            JsonData='{"PROGRAMME":"'+PROGRAMME+'","Place":"'+PLACE+'","DateFrom":"'+DATE_FROM+'","DateTo":"'+DATE_TO+'","LEVEL":"'+TLEVEL+'","COMMENTS":"'+COMMENTS+'"}';
        }
        
        $.ajax({
            url:"@Url.Action("UpdateStaffTraining", "Staff")",
            method:"POST",
            datatype:"html",
            data:{str:JsonData},
            success:function(data)
            {
                alert(data);
            },error:function(error)
            {
                alert('session time out try again ..!');
            }
        });
    });
    $("#btnUpdateQualification").on("click", function () 
    { 
        var MAIN_SUBJECT=$("#MAIN_SUBJECT").val();
        var ALLIED_SUBJECT=$("#ALLIED_SUBJECT").val();
        var COMPLETION_YEAR=$("#COMPLETION_YEAR").val();
        var COMPLETION_MONTH=$("#COMPLETION_MONTH").val();
        var INSTITUTE_OF_STUDY=$("#INSTITUTE_OF_STUDY").val();
        var DEGREE=$("#DEGREE").val();
        var UNIVERSITY=$("#UNIVERSITY").val();
        var PERCENTAGE=$("#PERCENTAGE").val();
        var JsonData;
        if (JsonData==null) 
        {
            JsonData='{"MainSubject":"'+MAIN_SUBJECT+'","AilledSubject":"'+ALLIED_SUBJECT+'","CompletionYear":"'+COMPLETION_YEAR+'","CompletionMonth":"'+COMPLETION_MONTH+'","InstituteOfStudy":"'+INSTITUTE_OF_STUDY+'","Degree":"'+DEGREE+'","University":"'+UNIVERSITY+'","Percentange":"'+PERCENTAGE+'"}';
        }
        
        $.ajax({
            url:"@Url.Action("UpdateStaffQualification", "Staff")",
            method:"POST",
            datatype:"html",
            data:{str:JsonData},
            success:function(data)
            {
                alert(data);
            },error:function(error)
            {
                alert('session time out try again ..!');
            }
        });
    });
    $("#btnUpdatePublish").on("click", function () 
    { 
        var BOOKNAME=$("#BOOKNAME").val();
        var PJOURNALNAME=$("#PJOURNALNAME").val();
        var PLEVEL=$("#PLEVEL").val();
        var PUBLISHER=$("#PUBLISHER").val();
        var PYEAR=$("#PYEAR").val();
        var PPUBLISHINGCATEGORY=$("#PPUBLISHINGCATEGORY").val();
        var PVOLUME=$("#PVOLUME").val();
        var EDITION=$("#EDITION").val();
        var JsonData;
        if (JsonData==null) 
        {
            JsonData='{"BOOKNAME":"'+BOOKNAME+'","PJOURNALNAME":"'+PJOURNALNAME+'","PLEVEL":"'+PLEVEL+'","PUBLISHER":"'+PUBLISHER+'","PYEAR":"'+PYEAR+'","PPUBLISHINGCATEGORY":"'+PPUBLISHINGCATEGORY+'","PVOLUME":"'+PVOLUME+'","EDITION":"'+EDITION+'"}';
        }
        
        $.ajax({
            url:"@Url.Action("UpdateStaffPublish", "Staff")",
            method:"POST",
            datatype:"html",
            data:{str:JsonData},
            success:function(data)
            {
                alert(data);
            },error:function(error)
            {
                alert('session time out try again ..!');
            }
        });
    });
    $("#btnUpdatePaper").on("click", function () 
    { 
        var PAPERNAME=$("#PAPERNAME").val();
        var LEVEL=$("#LEVEL").val();
        var PUBLISHINGCATEGORY=$("#PUBLISHINGCATEGORY").val();
        var JOURNALNAME=$("#JOURNALNAME").val();
        var NOOFPAGES=$("#NOOFPAGES").val();
        var PAGESFROM=$("#PAGESFROM").val();
        var PAGESTO=$("#PAGESTO").val();
        var VOLUME=$("#VOLUME").val();
        var YEARPUBLISHED=$("#YEARPUBLISHED").val();
        var JsonData;
        if (JsonData==null) 
        {
            JsonData='{"PAPERNAME":"'+PAPERNAME+'","LEVEL":"'+LEVEL+'","PUBLISHINGCATEGORY":"'+PUBLISHINGCATEGORY+'","JOURNALNAME":"'+JOURNALNAME+'","NOOFPAGES":"'+NOOFPAGES+'","PAGESFROM":"'+PAGESFROM+'","PAGESTO":"'+PAGESTO+'","VOLUME":"'+VOLUME+'","YEARPUBLISHED":"'+YEARPUBLISHED+'"}';
        }
        
        $.ajax({
            url:"@Url.Action("UpdateStaffPaper", "Staff")",
            method:"POST",
            datatype:"html",
            data:{str:JsonData},
            success:function(data)
            {
                alert(data);
            },error:function(error)
            {
                alert('session time out try again ..!');
            }
        });
    });
    $("#btnUpdateLeaving").on("click", function () 
    { 
        var LEAVINGDATE=$("#LEAVINGDATE").val();
        var LEAVINGREMARKS=$("#LEAVINGREMARKS").val();
        var LEAVINGREASON=$("#LEAVINGREASON").val();
        var RETIREMENTDATE=$("#RETIREMENTDATE").val();
        var DEPARTMENT=$("#DEPARTMENT").val();
        var JsonData;
        if (JsonData==null) 
        {
            JsonData='{"LeavingDate":"'+LEAVINGDATE+'","LeavingRemark":"'+LEAVINGREMARKS+'","LeavingReason":"'+LEAVINGREASON+'","RetirementDate":"'+RETIREMENTDATE+'","Department":"'+DEPARTMENT+'"}';
        }
        
        $.ajax({
            url:"@Url.Action("UpdateLeaving", "Staff")",
            method:"POST",
            datatype:"html",
            data:{str:JsonData},
            success:function(data)
            {
                alert(data);
            },error:function(error)
            {
                alert('session time out try again ..!');
            }
        });
    });
    $("#btnEditStaffFamily").on("click",function()
    {
        var Name=$("#Name").val();
        var Relation=$("#Relation").val();
        var DateOfBirth=$("#DateOfBirth").val();
        var JsonData;
        if (JsonData==null) 
        {
            JsonData='{"Name":"'+Name+'","Relation":"'+Relation+'","DateOfBirth":"'+DateOfBirth+'"}';
        }
        
        $.ajax({
            url:"@Url.Action("UpdateFamily", "Staff")",
            method:"POST",
            datatype:"html",
            data:{str:JsonData},
            success:function(data)
            {
                alert(data);
            },error:function(error)
            {
                alert('session time out try again ..!');
            }
        });
    });*@
</script>
<!-- #endregion -->
<!-- #region Load pages-->
<script>
        $('#btnSampleCheck').on('click', function () { alert('Hello World !'); });
        // Address ....
        $('#EditAddress').on('click', function ()
        {
            $.ajax({
                url: "@Url.Action("EditStaffAddressInfo", "Staff")",
                method: "POST",
                datatype: "html",
                success: function (data)
                {

                    $('#dvEditAddress').empty();
                    $('#dvEditAddress').append(data);

                }, error: function (error)
                {
                    alert('Session time out try again ..!');
                }
            });
        });
        // Service ....
      $('#EditServices').on('click', function ()
        {
            $.ajax({
                url: "@Url.Action("EditStaffServiceInfo", "Staff")",
                method: "POST",
                datatype: "html",
                success: function (data)
                {

                    $('#dvEditServices').empty();
                    $('#dvEditServices').append(data);

                }, error: function (error)
                {
                    alert('Session time out try again ..!');
                }
            });
        });
        // Qualification ....
    $('#EditQualification').on('click', function ()
        {
            $.ajax({
                url: "@Url.Action("EditStaffQualificationInfo", "Staff")",
                method: "POST",
                datatype: "html",
                success: function (data)
                {
                    $('#dvEditQualification').empty();
                    $('#dvEditQualification').append(data);

                }, error: function (error)
                {
                    alert('Session time out try again ..!');
                }
            });
        });
        // Leaving ....
    $('#EditLeaving').on('click', function ()
        {
            $.ajax({
                url: "@Url.Action("EditStaffLeavingInfo", "Staff")",
                method: "POST",
                datatype: "html",
                success: function (data)
                {
                    $('#dvEditLeaving').empty();
                    $('#dvEditLeaving').append(data);

                }, error: function (error)
                {
                    alert('Session time out try again ..!');
                }
            });
        });
        // Training ....
    $('#EditTraning').on('click', function ()
        {
            $.ajax({
                url: "@Url.Action("EditStaffTrainingInfo", "Staff")",
                method: "POST",
                datatype: "html",
                success: function (data)
                {
                    $('#dvEditTraining').empty();
                    $('#dvEditTraining').append(data);

                }, error: function (error)
                {
                    alert('Session time out try again ..!');
                }
            });
        });
        // Paper ....
    $('#EditPaper').on('click', function ()
        {
            $.ajax({
                url: "@Url.Action("EditStaffPaperInfo", "Staff")",
                method: "POST",
                datatype: "html",
                success: function (data)
                {
                    $('#dvEditPaper').empty();
                    $('#dvEditPaper').append(data);

                }, error: function (error)
                {
                    alert('Session time out try again ..!');
                }
            });
        });
        // Counselling ....
    $('#EditCounseling').on('click', function ()
        {
            $.ajax({
                url: "@Url.Action("EditStaffCounsellingInfo", "Staff")",
                method: "POST",
                datatype: "html",
                success: function (data)
                {
                    $('#dvEditCounselling').empty();
                    $('#dvEditCounselling').append(data);

                }, error: function (error)
                {
                    alert('Session time out try again ..!');
                }
            });
        });
        // Publish ....
    $('#EditPublish').on('click', function ()
        {
            $.ajax({
                url: "@Url.Action("EditStaffPublishInfo", "Staff")",
                method: "POST",
                datatype: "html",
                success: function (data)
                {
                    $('#dvEditPublish').empty();
                    $('#dvEditPublish').append(data);

                }, error: function (error)
                {
                    alert('Session time out try again ..!');
                }
            });
        });
        // Roles ....
    $('#EditRoles').on('click', function ()
        {
            $.ajax({
                url: "@Url.Action("EditStaffRolesInfo", "Staff")",
                method: "POST",
                datatype: "html",
                success: function (data)
                {
                    $('#dvEditRoles').empty();
                    $('#dvEditRoles').append(data);

                }, error: function (error)
                {
                    alert('Session time out try again ..!');
                }
            });
        });
        // Family ....
    $('#EditFamily').on('click', function ()
        {
            $.ajax({
                url: "@Url.Action("EditStaffFamilyInfo", "Staff")",
                method: "POST",
                datatype: "html",
                success: function (data)
                {
                    $('#dvEditFamily').empty();
                    $('#dvEditFamily').append(data);

                }, error: function (error)
                {
                    alert('Session time out try again ..!');
                }
            });
        });
</script>
<!--#endregion-->
}

   