@model CMS.ViewModel.ViewModel.StaffViewModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal row">
        <div class="col-md-6">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.objStaffPersonalProfile.FIRST_NAME, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.objStaffPersonalProfile.FIRST_NAME, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Enter First Name",id="txtFirstName" } })
                    @Html.ValidationMessageFor(model => model.objStaffPersonalProfile.FIRST_NAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.objStaffPersonalProfile.LAST_NAME, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.objStaffPersonalProfile.LAST_NAME, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Enter Last Name", id = "txtLastName" } })
                    @Html.ValidationMessageFor(model => model.objStaffPersonalProfile.LAST_NAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.objStaffPersonalProfile.STAFF_CODE, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.objStaffPersonalProfile.STAFF_CODE, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Staff Code", id = "txtStaffCode" } })
                    @Html.ValidationMessageFor(model => model.objStaffPersonalProfile.STAFF_CODE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.objStaffPersonalProfile.KNOWN_AS, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.objStaffPersonalProfile.KNOWN_AS, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Enter Nick Name", id = "txtKnownAs" } })
                    @Html.ValidationMessageFor(model => model.objStaffPersonalProfile.KNOWN_AS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.objStaffPersonalProfile.PLACE_OF_BIRTH, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.objStaffPersonalProfile.PLACE_OF_BIRTH, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Enter Place Of Birth", id = "txtPlaceofBirth" } })
                    @Html.ValidationMessageFor(model => model.objStaffPersonalProfile.PLACE_OF_BIRTH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.objStaffPersonalProfile.DATE_OF_BIRTH, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <div class="input-group date" id="datetimepicker1">
                        @Html.EditorFor(model => model.objStaffPersonalProfile.DATE_OF_BIRTH, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Select Date Of Birth",id="Dateofbirth" } })
                        @Html.ValidationMessageFor(model => model.objStaffPersonalProfile.DATE_OF_BIRTH, "", new { @class = "text-danger" })
                        <span class="input-group-addon bg-purple"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.objStaffPersonalProfile.DATE_OF_JOIN, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <div class="input-group date" id="datetimepicker2">
                        @Html.EditorFor(model => model.objStaffPersonalProfile.DATE_OF_JOIN, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Select Date Of Join", id = "Dateofjoin" } })
                        @Html.ValidationMessageFor(model => model.objStaffPersonalProfile.DATE_OF_JOIN, "", new { @class = "text-danger" })
                        <span class="input-group-addon bg-purple"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BLOOD_GROUP, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.BLOOD_GROUP, Model.BLOOD_GROUP, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlBloodGroup" })
                    @Html.ValidationMessageFor(model => model.BLOOD_GROUP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DEPARTMENT, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.DEPARTMENT, Model.DEPARTMENT, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlDepartment" })
                    @Html.ValidationMessageFor(model => model.DEPARTMENT, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.COMMUNITY, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.COMMUNITY, Model.COMMUNITY, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlCommunity" })
                    @Html.ValidationMessageFor(model => model.COMMUNITY, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GENDER, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.GENDER, Model.GENDER, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlGender" })
                    @Html.ValidationMessageFor(model => model.GENDER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MARITAL_STATUS, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.MARITAL_STATUS, Model.MARITAL_STATUS, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlMaritalStatus" })
                    @Html.ValidationMessageFor(model => model.MARITAL_STATUS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MOTHER_TONGUE, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.MOTHER_TONGUE, Model.MOTHER_TONGUE, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlMotherTongue" })
                    @Html.ValidationMessageFor(model => model.MOTHER_TONGUE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NATIONALITY, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.NATIONALITY, Model.NATIONALITY, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlNationality" })
                    @Html.ValidationMessageFor(model => model.NATIONALITY, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RELIGION, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.RELIGION, Model.RELIGION, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlReligion" })
                    @Html.ValidationMessageFor(model => model.RELIGION, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group pull-right">
                <div class="col-md-12 pull-right">
                    <a id="btnEditPersonalProflie" class="btn btn-primary">Submit</a>
                </div>
            </div>
        </div>
    </div>
}


