@model CMS.ViewModel.ViewModel.StaffViewModel
@using CMS.Utility;
@{
    ViewBag.Title = "StaffProfileView";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="content" id="content">
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">View Profile </li>
    </ol>
    <h1 class="page-header">View Proflie </h1>
    <div id="BindEditStaffInformation"></div>
    <div class="panel">
        <div class="panel-heading bg-primary">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Staff Profile</h4>
        </div>
        <div class="panel-body">
            <div class="panel-info sa-info">
                <div class="box-body box-profile">
                    <a id="Edit" value="Submit" href="@Url.Action("EditStaffInfomation", "Staff",new { Id=Session[Common.SESSION_VARIABLES.USER_ID]})" class="btn btn-sm btn-primary pull-right">Edit Profile</a>
                </div>
                <div class="col-md-3 pull-right">
                    <a href="javascript:;" id="sPrint" onclick="printDiv('dvViewProfile')" class="btn btn-sm btn-success m-b-10 pull-right"><i class="fa fa-print m-r-5"></i> Print</a>
                </div>
            </div>
            <div id="dvViewProfile" class="col-md-12">
                <center>
                    <table class="text-center">
                        <tr>
                            <center>
                                <td>
                                    <img src="~/favicon.ico" />
                                </td>
                            </center>
                            <td>

                                <address>
                                    <h4>St. Mary's College</h4>
                                    (AUTONOMOUS)<br />
                                    Affiliated to Bharathidasan University<br />
                                    Nationally Accredited(3<sup>rd</sup>Cycle) With 'A' Grade by NAAC<br />
                                    College With Pontential for Excellence<br />
                                    TRICHIRAPPALLI-620002.
                                </address>

                            </td>
                        </tr>
                    </table>
                </center>


                <br />
                <div class="col-md-offset-8 m-b-5">
                    <img src="@Html.DisplayFor(model => model.StaffProfileView.PHOTO)" class="profile-user-img img-responsive img-circle" width="100" height="102" />
                </div>

                <br />
                <center>
                    <table class="col-md-8 col-md-offset-4">
                        <tr>
                            <td>
                                <h5><b>@Html.DisplayNameFor(model => model.StaffProfileView.FIRST_NAME)</b></h5>
                            </td>
                            <td>
                                <h5>@Html.DisplayFor(model => model.StaffProfileView.FIRST_NAME)</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5><b> @Html.DisplayNameFor(model => model.StaffProfileView.STAFF_CODE)</b></h5>
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.StaffProfileView.STAFF_CODE)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h5><b> @Html.DisplayNameFor(model => model.StaffProfileView.DATE_OF_BIRTH)</b></h5>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.StaffProfileView.DATE_OF_BIRTH)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h5><b>@Html.DisplayNameFor(model => model.StaffProfileView.DATE_OF_JOIN)</b></h5>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.StaffProfileView.DATE_OF_JOIN)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h5><b>@Html.DisplayNameFor(model => model.StaffProfileView.GENDER_NAME)</b></h5>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.StaffProfileView.GENDER_NAME)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h5><b> @Html.DisplayNameFor(model => model.StaffProfileView.DEPARTMENT)</b></h5>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.StaffProfileView.DEPARTMENT)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5><b> @Html.DisplayNameFor(model => model.StaffProfileView.SHIFT_NAME)</b></h5>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.StaffProfileView.SHIFT_NAME)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5><b> @Html.DisplayNameFor(model => model.StaffProfileView.NATIONALITY_NAME)</b></h5>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.StaffProfileView.NATIONALITY_NAME)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h5><b>@Html.DisplayNameFor(model => model.StaffProfileView.QUALIFICATION)</b></h5>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.StaffProfileView.QUALIFICATION)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h5><b>@Html.DisplayNameFor(model => model.StaffProfileView.STF_CATEGORY)</b></h5>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.StaffProfileView.STF_CATEGORY)
                            </td>
                        </tr>
                    </table>
                </center>



                @if (Model.lstStaffServicesProfile != null)
            {
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <center>
                                <caption><h3>Services</h3></caption>
                            </center>
                            <tr>
                                <th>
                                    Apponintment Name
                                </th>
                                <th>
                                    Date Of Appointment
                                </th>
                                <th>
                                    Date Of Termination
                                </th>
                                <th>
                                    Institute
                                </th>
                            </tr>
                            @foreach (var model in Model.lstStaffServicesProfile)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => model.APPOINTMENT_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(m => model.DATE_OF_APPOINT)
                            </td>
                            <td>
                                @Html.DisplayFor(m => model.DATE_OF_TERMINATION)
                            </td>
                            <td>
                                @Html.DisplayFor(m => model.INSTITUTE)
                            </td>
                        </tr>
                        }
                        </table>
                    </div>
                }

                @if (Model.lstStaffPaper != null)
            {
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <center>
                                <caption><h3>Paper Details</h3></caption>
                            </center>
                            <thead>
                                <tr>
                                    <th>
                                        Paper Name
                                    </th>
                                    <th>
                                        Level
                                    </th>
                                    <th>
                                        Publish Category
                                    </th>
                                    <th>
                                        Journal Name
                                    </th>
                                    <th>
                                        No Of Pages
                                    </th>
                                    <th>
                                        Volume
                                    </th>
                                    <th>
                                        Year Of Publishing
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var model in Model.lstStaffPaper)
                        {
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => model.PAPER_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => model.LEVEL)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => model.PUBLISH_CATEGORY)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => model.JOURNAL_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => model.NO_OF_PAGES)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => model.VOLUME)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => model.YEAR_PUBLISHED)
                                </td>
                            </tr>
                        </tbody>
                        }
                        </table>
                    </div>
                }

                @if (Model.lstStaffPublish != null)
            {
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <center>
                                <caption><h3>Publish Details</h3></caption>
                            </center>
                            <thead>
                                <tr>
                                    <th>
                                        Paper Name
                                    </th>
                                    <th>
                                        Level
                                    </th>
                                    <th>
                                        Publish Category
                                    </th>
                                    <th>
                                        Journal Name
                                    </th>
                                    <th>
                                        No Of Pages
                                    </th>
                                    <th>
                                        Volume
                                    </th>
                                    <th>
                                        Year Of Publishing
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var model in Model.lstStaffPublish)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => model.BOOK_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => model.LEVEL)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => model.PUBLISH_CATEGORY)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => model.JOURNAL_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => model.PUBLISHER)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => model.VOLUME)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => model.EDITION)
                                </td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                }
                @if (Model.lstStaffTraining != null)
            {
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <center>
                                <caption><h3>Training Details</h3></caption>
                            </center>
                            <thead>
                                <tr>
                                    <th>
                                        Programme
                                    </th>
                                    <th>
                                        Place
                                    </th>
                                    <th>
                                        Date From
                                    </th>
                                    <th>
                                        Date To
                                    </th>
                                    <th>
                                        Comments
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var model in Model.lstStaffPublish)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => model.BOOK_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => model.LEVEL)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => model.PUBLISH_CATEGORY)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => model.JOURNAL_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => model.PUBLISHER)
                                </td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                }
                @if (Model.lstStaffCounseling != null)
            {
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <center>
                                <caption><h3>Counseling Details</h3></caption>
                            </center>
                            <thead>
                                <tr>
                                    <th>
                                        Date Of Counseling
                                    </th>
                                    <th>
                                        Reason
                                    </th>
                                    <th>
                                        Duration
                                    </th>
                                    <th>
                                        Action Taken
                                    </th>
                                    <th>
                                        Remarks
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var model in Model.lstStaffCounseling)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(m => model.DATE_OF_COUN)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => model.REASON)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => model.DURATION)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => model.ACTION_TAKEN)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => model.REMARK)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
}
@section scripts{
    <script>
    function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
    }
</script>
    }