@model CMS.ViewModel.ViewModel.AcademicsViewModel

@{int count = 0;}
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Shift</th>
            <th>Class Name</th>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Is NME </th>
            <th>Is Allied</th>
            <th>Semester</th>
            <th>Action</th>
        </tr>
    </thead>

    @if (Model.ClassCourseList != null)
    {
        foreach (var item in Model.ClassCourseList)
        {
            <tr>
                <td>
                    @{ count++;}@count
                </td>
                <td>@item.SHIFT_NAME</td>
                <td width="100px;">@item.CLASS_NAME</td>
                <td>@item.COURSE_CODE</td>
                <td>@item.COURSE_TITLE</td>
                <td width="70px;">@item.IS_NME_SUBJECT</td>
                <td width="75px;">@item.IS_ALLIED_SUBJECT</td>
                <td>@item.SEMESTER_NAME</td>
                <td>
                    <a href='javascript:AddOrEditClassCourse(@item.CLASS_COURSE_ID);' onclick="" ><i class="fa fa-pencil-square-o text-primary" title="Edit"></i></a>
                    <a href='#'  onclick="return DeleteFuction(@item.CLASS_COURSE_ID);"><i class="fa fa-trash text-danger" title="Delete"></i></a>                  
                </td>
            </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td><p>No records available !!!</p></td>
                            </tr>
                        }


</table>
