@model CMS.ViewModel.ViewModel.AcademicsViewModel

@{
    Layout = null;
}

@section styles{
    <link href="~/Content/assets/plugins/multi-select/multiselect.css" rel="stylesheet" />
}
@*@{
        ViewBag.Title = "BindStaffsbyClassId";
        Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
    }*@

<div class="body-content">
    <div class="col-md-12 m-t-5 col-sm-12 col-lg-12 table-responsive" style="min-height:450px;">
        @{ int count = 0;}
        <table class="table table-hover" id="CourseWiseStaff">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>Course Code</th>
                    <th>Course Title</th>
                    <th>Semester</th>
                    <th>Hrs Per Week</th>
                    <th>Hours Per Term</th>
                    <th>Staff Name</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.objCourseWiseStaff != null)
                    {
                        foreach (var item in Model.objCourseWiseStaff)
                        {
                            <tr cms-rcourseid="@item.COURSE_ID" 
                                cms-rsemesterid="@item.SEMESTER_ID">
                                <td>
                                    @{count++;}
                                    @count
                                </td>
                                <td>@item.COURSE_CODE</td>
                                <td>@item.COURSE_TITLE</td>
                                <td>@item.SEMESTER_ID</td>
                                <td>@item.HRS_WEEK</td>
                                <td>@item.HRS_TERM</td>
                                @*{
                                    <select id="SemesterId" class="">
                                        @foreach(var semesteritem in Model.Semester_List)
                                        {
                                            string Select = "selected";
                                            <option value="@semesteritem.SUP_SEMESTER_ID" @if (semesteritem.SELECTED) { @Select semesteritem.SELECTED=false;}>@semesteritem.SEMESTER_NAME</option>
                                        }
                                    </select>
                                }</td>*@
                                <td>
                                    @{ 
                                        string sSelect = "selected";
                                        if (!string.IsNullOrEmpty(item.STAFF_ID))
                                        {
                                            string[] sArray = item.STAFF_ID.Split(',');

                                            if (sArray.Length > 0)
                                            {
                                                for (int i = 0; i < sArray.Length; i++)
                                                {
                                                    Model.Staff_List.Where(sl => sl.STAFF_ID == sArray[i]).First().SELECTED = true;
                                                }
                                            }
                                        }


                                    }
                                    <select id="Staff_List" multiple="multiple" class="multiselect" >
                                       
                                        @foreach (var dataitem in Model.Staff_List)
                                        {
                                            <option value="@dataitem.STAFF_ID"  @if (dataitem.SELECTED) { @sSelect dataitem.SELECTED = false; } >@dataitem.STAFF_CODE</option>
                                        }
                                    </select>
                                        </td>
                            </tr>
                                            }
                                        }
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
  
    <script>
        $(document).ready(function () {
          
        });
    </script>
}
