@model CMS.ViewModel.Model.FacultyModel
@using CMS.Utility;

@{
    ViewBag.Title = "EditFacultyInfo";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content" id="content">
        <ol class="breadcrumb pull-right">
            <li><a href="javascript:;">Home</a></li>
            <li><a href="@Url.Action("ListFacultyInfo","Academics")">List Faculty</a></li>
            <li class="active">Edit Faculty</li>
        </ol>
        <h2 class="page-header">Faculty Details</h2>
        <div class="panel">
            <div class="panel-heading bg-primary">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Edit Faculty</h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-offset-3 col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FACULTY, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FACULTY, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Enter Faculty" } })
                                @Html.ValidationMessageFor(model => model.FACULTY, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FACULTY_CODE, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FACULTY_CODE, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Enter Faculty code" } })
                                @Html.ValidationMessageFor(model => model.FACULTY_CODE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FACULTY_ORDER, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FACULTY_ORDER, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Enter Faculty order" } })
                                @Html.ValidationMessageFor(model => model.FACULTY_ORDER, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FAC_SERIES, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FAC_SERIES, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Enter Series" } })
                                @Html.ValidationMessageFor(model => model.FAC_SERIES, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group pull-right">
                            <div class="col-md-12 pull-right">
                                <a id="btnSubmit" value="Submit" class="btn btn-primary">Submit</a>
                                <a id="btnCancel" value="Submit" class="btn btn-danger" href="@Url.Action("ListFacultyInfo","Academics")">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script>
        $(document).ready(function () {
                var ID=@Session[Common.SESSION_VARIABLES.FACULTY_ID].ToString();
                $.ajax({
                    url:"@Url.Action("FetchFacultyInfoById", "Academics")",
                    method: "POST",
                    datatype: "html",
                    data: { sJsonFacultyId: ID },
                    success: function (data) {
                        $("#FACULTY").val(data.FACULTY);
                        $("#FACULTY_CODE").val(data.FACULTY_CODE);
                        $("#FACULTY_ORDER").val(data.FACULTY_ORDER);
                        $("#FAC_SERIES").val(data.FAC_SERIES);
                    }, error: function (error) {
                        alert('No Data Found');
                    }
                });
        });
    </script>
    <script>
        $('#btnSubmit').on("click", function () {
            var Faculty = $('#FACULTY').val();
            var FacutlyCode = $('#FACULTY_CODE').val();
            var FacultyOrder = $('#FACULTY_ORDER').val();
            var FacultySeries = $('#FAC_SERIES').val();
            var JsonData;
            JsonData = '{"FACULTY":"' + Faculty + '","FACULTY_CODE":"' + FacutlyCode + '","FACULTY_ORDER":"' + FacultyOrder + '","FAC_SERIES":"' + FacultySeries + '"}';
            alert(JsonData);
            $.ajax({
                url: "@Url.Action("UpdateFacultyInfo", "Academics")",
                method: "POST",
                datatype: "html",
                data: { sJsonFaculty: JsonData },
                success: function (data) {
                    if (data != 'False') {
                        alert('Record saved successfully..!');
                    } else {
                        alert('Record not saved try again ..!');
                    }

                }, error: function (error) {
                    alert('Record not saved try again ..!');
                }
            });
        });
    </script>
}