@model CMS.ViewModel.Model.CourseWiseStaffModel
@using CMS.Utility;
@{
    ViewBag.Title = "EditCourseWiseStaff";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="content" id="content">
        
            <ol class="breadcrumb pull-right">
                <li><a href="javascript:;">Home</a></li>
                <li><a href="javascript:;">List CoruseWise Staff</a></li>
                <li class="active">Edit CourseWise Staff</li>
            </ol>
            <h1 class="page-header">Edit Course Wise Staff</h1>

        <div class="panel">
            <div class="panel-heading bg-aqua">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Edit Course Wise Staff</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.CLASS_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.CLASS_ID, Model.CLASS_ID, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlClass" })
                                    @Html.ValidationMessageFor(model => model.CLASS_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.COURSE_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.COURSE_ID, Model.COURSE_ID, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlCourse" })
                                    @Html.ValidationMessageFor(model => model.COURSE_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.STAFF_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.STAFF_ID, Model.STAFF_ID, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlStaff" })
                                    @Html.ValidationMessageFor(model => model.STAFF_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.HRS_WEEK, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.HRS_WEEK, new { htmlAttributes = new { @class = "form-control input-sm", id = "txtHrsPerWeek" } })
                                    @Html.ValidationMessageFor(model => model.HRS_WEEK, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.HRS_TERM, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.HRS_TERM, new { htmlAttributes = new { @class = "form-control input-sm", id = "txtHrsPerTerm" } })
                                    @Html.ValidationMessageFor(model => model.HRS_TERM, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SHIFT, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.SHIFT, Model.SHIFT, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlShift" })
                                    @Html.ValidationMessageFor(model => model.SHIFT, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SEMESTER_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.SEMESTER_ID, Model.SEMESTER_ID, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlSemester" })
                                    @Html.ValidationMessageFor(model => model.SEMESTER_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group pull-right">
                                <div class="col-md-12">
                                    <a id="btnSubmit" value="Submit" class="btn btn-primary">Submit</a>
                                    <a id="btnCancel" value="Submit" class="btn btn-danger" href="@Url.Action("ListCourseWiseStaffInfo","Academics")">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script>
        $(document).ready(function () {
            EditCourseWiseStaff = function () {
                var ID=@Session[Common.SESSION_VARIABLES.CLSCRSSTF_ID];
                $.ajax({
                    url:"@Url.Action("FetchCourseWiseStaffById", "Academics")",
                    method:"POST",
                    datatype:"html",
                    data:{id:ID},
                    success:function(data){
                        $("#ddlClass").val(data.CLASS_ID);
                        $("#ddlCourse").val(data.COURSE_ID);
                        $("#ddlStaff").val(data.STAFF_ID);
                        $("#txtHrsPerWeek").val(data.HRS_WEEK);
                        $("#txtHrsPerTerm").val(data.HRS_TERM);
                        $("#ddlShift").val(data.SHIFT);
                        $("#ddlSemester").val(data.SEMESTER_ID);
                        alert(data);
                    },
                    error:function(error){
                        alert('No Data Found');
                    }
                });
            }
            EditCourseWiseStaff();
        });
    </script>
}

