@model IEnumerable<CMS.ViewModel.Model.AcademicCurriculumInfo>


<div class="" id="">

    @{ int count = 0;}
    <div class="table-responsive">
    <table class="table table-hover table-responsive" id="AcademicCurriculumList">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BATCH)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PROGRAMME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.COURSE_ID)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.S_NO)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.SEMESTER)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{count++;}
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BATCH)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PROGRAMME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.COURSE_ID)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.S_NO)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.SEMESTER)
                    </td>
                    <td>

                        <a href="@Url.Action("DeleteCurriculumInfo","Academics",new { id=@item.CURRICULUM_ID})" onclick="return confirm('Are you sure want to delete ?');"><i class="fa fa-trash text-danger" title="Delete"></i></a>
                    </td>
                </tr>
                            }
        </tbody>
    </table>
        </div>
</div>


