@model CMS.ViewModel.ViewModel.ExaminationViewModel
@{int count = 0;}
@if (Model.liCollegeDetails != null)
{
    foreach (var item in Model.liCollegeDetails)
    {
        <center>
            <table>
                <tr>
                    <td><center><strong>@item.COLLEGE_NAME</strong></center></td>
                </tr>
                <tr>
                    <td><b> @item.GRADE</b></td>
                </tr>
                <tr>
                    <td class="text-center">
                        @item.UNIVERSITY
                    </td>
                </tr>
            </table>
        </center>
    }
}
<table class="table table-hover" id="RegularExamRegisteredStudentList">
    <thead>
        <tr>
            <th>#</th>
            <th>Class</th>
            <th>Roll No</th>
            <th>Register No</th>
            <th>Name</th>
            <th>Course Code</th>
            <th>Course Title</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.liExamRegisteredList != null)
        {
            foreach (var item in Model.liExamRegisteredList)
            {
                <tr>
                    <td>@{ count++;}@count</td>
                    <td>@item.CLASS_NAME</td>
                    <td>@item.ROLL_NO</td>
                    <td>@item.REGISTER_NO</td>
                    <td>@item.FIRST_NAME</td>
                    <td>@item.COURSE_CODE</td>
                    <td>@item.COURSE_TITLE</td>
                </tr>
                            }
                        }
    </tbody>
</table>

