@model CMS.ViewModel.ViewModel.ProgrammeHeadsAmount



                    <div class="col-lg-12 table-responsive">
                        <table class="table table-hover table-bordered" id="tblProgrammeHeads">
                            <thead>

                                <tr>
                                    <th>S.No</th>
                                    <th>Batch</th>
                                    <th>Program</th>
                                    <th>Course Code</th>
                                    <th>HEAD</th>
                                    <th>SEMESTER</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int count = 0; }
                                @if (Model.CourseHeadsList != null)
                                {
                                    foreach (var item in Model.CourseHeadsList)
                                    {
                                        <tr>
                                            <td>@{count++;}@count</td>
                                            <td>@item.BATCH</td>
                                            <td>@item.PROGRAMME_NAME</td>
                                            <td>@item.COURSE_CODE</td>
                                            <td>@item.HEAD</td>
                                            <td>@item.SEMESTER  </td>
                                            <td>@item.AMOUNT</td>
                                            <td><a onclick="DeleteProgram('@item.COURSE_HEAD_ID')"><i class="fa fa-trash text-danger"></i></a></td>
                                        </tr>
                                                    }


                                                }
                                                else
                                                {

                                                    <tr>
                                                        <td>No records Found...</td>
                                                    </tr>}

                            </tbody>
                        </table>
                    </div>


  





