@model CMS.ViewModel.ViewModel.ExaminationViewModel
   @using CMS.Utility;
<div class="invoice" style="background-color:#F6F6F6 !important;">
        <div class="invoice-company">
            St. Mary's College (AUTONOMOUS),<small>
    INTERNAL ASSESSMENT (CIA) - MARK SHEET(@{if (Session[Common.SESSION_VARIABLES.ACADEMIC_YEAR_NAME] != null) { @Session[Common.SESSION_VARIABLES.ACADEMIC_YEAR_NAME] } })

</small>
</div>
        
   <small></small>
   <table cellpadding="10" cellspacing="10">
       <tr>
           <td><b>Course Name &nbsp;&nbsp;&nbsp; : </b></td>
           <td class="semi-bold"> @Model.liCIA_Staff_Info.FirstOrDefault().COURSE_TITLE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
           <td></td> <td></td>
           <td><b>Staff Name(s) &nbsp;&nbsp;&nbsp; : </b></td>
           <td class="semi-bold">@Model.liCIA_Staff_Info.FirstOrDefault().STAFF_NAME </td>
       </tr>
       <tr>
           <td><b>Course Code &nbsp;&nbsp;&nbsp;&nbsp; : </b></td>
           <td class="semi-bold">@Model.liCIA_Staff_Info.FirstOrDefault().COURSE_CODE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
           <td></td><td></td>
           <td><b>Semester &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </b></td>
           <td class="semi-bold" id="sSemester">@Model.liCIA_Staff_Info.FirstOrDefault().SEMESTER_ID</td>
       </tr>
       <tr>
           <td><b>Department &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b></td>
           <td class="semi-bold">@Model.liCIA_Staff_Info.FirstOrDefault().DEPARTMENT &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>  
           <td></td><td></td>
           <td><b>Class Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b></td>
           <td class="semi-bold">@Model.liCIA_Staff_Info.FirstOrDefault().CLASS_NAME</td>
       </tr>
   </table>

    <div class="col-md-12 m-t-5 col-sm-12 col-lg-12 table-responsive invoice-content">
        @{int count = 0;}
        <table class="table table-hover " id="ciaMarkList">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Admission No</th>
                    <th>Register No</th>
                    <th>Name of the Candidate</th>
                    <th>CIA Marks (@Model.liCIA_Staff_Info.FirstOrDefault().INTERNAL)</th>
                </tr>
            </thead>
            <tbody>
                @{if (Model.liCIA_Total != null)
                    {
                        foreach (var ciaItem in Model.liCIA_Total)
                        {
                            <tr>
                                <td>
                                    @{ count++; }
                                    @count
                                </td>
                                <td>@ciaItem.ADMISSION_NO</td>
                                <td>@ciaItem.REGISTER_NO</td>
                                <td>@ciaItem.NAME</td>
                                <td>@ciaItem.TOTAL</td>
                            </tr>
                          }
                      }
                      else
                      {  
                            <tr><td>No Records...</td></tr>
                       }
                }
            </tbody>
            <tfoot>
                <tr></tr>
            </tfoot>
        </table>
        <div class="col-lg-12">
            
            <hr />
            <label class="col-lg-4" >Class Teacher</label>
            <label class="col-lg-4" style="text-align:center; padding-left:200px; "><center>Head</center></label>
            <label class="col-lg-4 text-right" style="float:right; " >Principal</label>
            <hr />
            <p class="text-center m-b-5">
               
            </p>
        </div>
        
    </div>
    </div>

