@model CMS.ViewModel.ViewModel.ProgrammeHeadsAmount
    @using CMS.Utility
<table class="table table-hover table-bordered" id="tblProgrammeHeads">
    <thead>
        <tr>
            <td>S.No</td>
            <td>Head</td>
            <td>Subject Type</td>
            <td>Amount</td>            
        </tr>
    </thead>
    <tbody>
        @{ int count = 0;string selected = "selected"; }
        @if (Model.programme != null)
        {
            foreach (var item in Model.programme)
            {
                <tr cms-programmeheadid="@item.PROGRAMME_HEAD_ID" cms-headid="@item.HEAD_ID" cms-semester="@Model.sSemester" cms-academicyear="@Session[Common.SESSION_VARIABLES.ACADEMIC_YEAR]">
                    <td>@{count++;}@count</td>
                    <td>@item.HEAD</td>
                    <td>
                        <select class="selectpicker form-control">
                            <option value="0">--Select--</option>
                            @foreach (var stype in Model.SubjectType)
                            {
                                <option value="@stype.SUBJECT_TYPE_ID" @if (stype.SUBJECT_TYPE_ID == item.SUBJECT_TYPE) {@selected }>@stype.SUBJECT_TYPE</option>
                            }
                        </select>
                     </td>
                    <td><input type="number" class="form-control" name="name" value="@item.AMOUNT" placeholder="Enter Amount" /></td>
                </tr>
                            }


                        }
                        else {

                        <tr><td>No records Found...</td>
        </tr>}

    </tbody>
</table>
