@model CMS.ViewModel.ViewModel.ExaminationViewModel
@using CMS.ViewModel.Model

@{
    Layout = null;
}

<div class="body-content">
    <div class="col-md-12 m-t-5 col-sm-12 col-lg-12">
        <div class="col-xs-6">
            <label>Course Name : </label><span class="semi-bold"> @Model.liCIACourse_Info.FirstOrDefault().COURSE_TITLE</span><br />
            <label>Course Code &nbsp; : </label><span class="semi-bold"> @Model.liCIACourse_Info.FirstOrDefault().COURSE_CODE</span><br />
            <label>Course Type&nbsp; &nbsp;: </label><span class="semi-bold" id="sCourseType"> @Model.liCIACourse_Info.FirstOrDefault().COURSE_TYPE</span><br />
            <h5><label class="badge badge-primary badge-square"> Use `-1` For Absentees</label></h5>
        </div>
        <div class="col-xs-6">
            <label>SEMESTER   : </label><span class="semi-bold" id="sSemester"> @Model.liCIACourse_Info.FirstOrDefault().SEMESTER_ID</span><br />
            <label>Class Name : </label><span class="semi-bold"> @Model.liCIACourse_Info.FirstOrDefault().CLASS_NAME</span><br />
            <label> Total Students &nbsp; : </label><span class="semi-bold">

                @if (Model.liCIA_Total != null)
                {
                    @Model.liCIA_Total.Count
                }

            </span><br />
            <input type="hidden" value="@Model.liCIACourse_Info.FirstOrDefault().COURSE_ROOT_ID" id="hdCourseId" />
            <input type="hidden" value="@Model.liCIACourse_Info.FirstOrDefault().CLASS_ID" id="hdClassId" />
            @*<label>Course Type&nbsp; &nbsp;: </label><span class="semi-bold"> @Model.liCIACourse_Info.FirstOrDefault().COURSE_TYPE</span><br />*@
        </div>
    </div>

    <div class="col-md-12 m-t-5 col-sm-12 col-lg-12 table-responsive">
        <table class="table table-hover" id="ciaMarkList">
            <thead>
                <tr>
                    <th>Register No</th>
                    <th>Student Name</th>
                    @{
                        //int cCount = Model.liCIACourse_Info.Count();
                        foreach (var item in Model.liCIA_Component)
                        {
                            <th>@item.COMPONENT-@item.MAX_MARK  </th>
                        }
                    }
                    @*<th>Total</th>*@
                </tr>
            </thead>
            <tbody>
                @{

                    if (Model.liCIA_Marks_Info != null)
                    {
                        foreach (var ciaItem in Model.liCIA_Total)
                        {
                            var Individual_Marks = Model.liCIA_Marks_Info.Where(o => o.STUDENT_ID == ciaItem.STUDENT_ID).ToList();
                            <tr cms-rstudentid="@ciaItem.STUDENT_ID">
                                @if (Individual_Marks.Count != 0 && Individual_Marks.Count > 0)
                                {
                                    <td>@Individual_Marks.FirstOrDefault().REGISTER_NO</td>
                                    <td>@Individual_Marks.FirstOrDefault().NAME</td>
                                    foreach (var item in Model.liCIA_Component)
                                    {
                                        var Marks = Individual_Marks.Where(s => s.ORDER_ID == item.ORDER_ID).ToList();
                                        @*if (item.COMPONENT == "Attendance")
                                        {
                                            if (Model.liAttendanceInfo != null)
                                            {
                                                var AttedancePercentage = Model.liAttendanceInfo.Where(s => s.STUDENT_ID == Marks.FirstOrDefault().STUDENT_ID).ToList();
                                                var AttendanceMarks = ((Convert.ToInt32(AttedancePercentage.FirstOrDefault().PERCENTAGE) / 100) * (Convert.ToInt32(Marks.FirstOrDefault().MAX_MARK)));
                                                //var Attendance= Math.(AttendanceMarks);
                                                <td>
                                                    <input type="number" style="width:75px !important;" step=".01" maxlength="5" max="@Marks.FirstOrDefault().MAX_MARK" value="@AttendanceMarks" cms-cmark="@Marks.FirstOrDefault().COURSE_GROUP_MARK"
                                                           cms-studentid="@Marks.FirstOrDefault().STUDENT_ID"
                                                           cms-component="@Marks.FirstOrDefault().COMPONENT"
                                                           cms-courseid="@Marks.FirstOrDefault().COURSE_ROOT_ID"
                                                           cms-ciagroupid="@Marks.FirstOrDefault().CIA_GROUP_ID"
                                                           cms-ciagroupmarkid="@Marks.FirstOrDefault().CIA_GROUP_MARK_ID"
                                                           cms-coursegroupid="@Marks.FirstOrDefault().COURSE_GROUP_ID"
                                                           onfocusout="Validate()"
                                                           @if (item.COMPONENT == "Attendance") { item.DISABLED = "disabled"; } @item.DISABLED />
                                                </td>
                                            }
                                        }
                                        else
                                        {*@
                                            <td>
                                                <input type="number" style="width:75px !important;" step=".01" maxlength="5" max="@Marks.FirstOrDefault().MAX_MARK" value="@Marks.FirstOrDefault().COURSE_GROUP_MARK" cms-cmark="@Marks.FirstOrDefault().COURSE_GROUP_MARK"
                                                       cms-studentid="@Marks.FirstOrDefault().STUDENT_ID"
                                                       cms-component="@Marks.FirstOrDefault().COMPONENT"
                                                       cms-courseid="@Marks.FirstOrDefault().COURSE_ROOT_ID"
                                                       cms-ciagroupid="@Marks.FirstOrDefault().CIA_GROUP_ID"
                                                       cms-ciagroupmarkid="@Marks.FirstOrDefault().CIA_GROUP_MARK_ID"
                                                       cms-coursegroupid="@Marks.FirstOrDefault().COURSE_GROUP_ID"
                                                       onfocusout="Validate()"
                                                       @*@if (item.COMPONENT == "Attendance") { item.DISABLED = "disabled"; } @item.DISABLED*@ />
                                            </td>
                                        //}
                                    }
                                                @*<td><input id="@ciaItem.STUDENT_ID" cms-ciac="CIA_TOTAL" value="@ciaItem.TOTAL" cms-studentid="@ciaItem.STUDENT_ID" disabled style="width:75px !important;" name="" type="text" /></td>*@
                                                }

</tr>
                        }
                    }
                    @*else
                    {
                        <tr>
                            <td>No records...</td>
                        </tr>
                    }*@
                    @*else if (Model.liCIA_Marks_Info != null)
                        {
                            foreach (var ciaItem in Model.liCIA_Marks_Info)
                            {
                                <tr cms-rstudentid="@ciaItem.STUDENT_ID">
                                    <td>@ciaItem.REGISTER_NO</td>
                                    <td>@ciaItem.NAME</td>
                                    @foreach (var item in Model.liCIA_Component)
                                    {
                                        <td>
                                            <input type="number" style="width:75px !important;" step=".01" maxlength="5" max="@item.MAX_MARK" value="@ciaItem.COURSE_GROUP_MARK" cms-cmark="@ciaItem.COURSE_GROUP_MARK"
                                                   cms-studentid="@ciaItem.STUDENT_ID"
                                                   cms-component="@item.COMPONENT"
                                                   cms-courseid="@ciaItem.COURSE_ROOT_ID"
                                                   cms-ciagroupid="@item.CIA_GROUP_ID"
                                                   cms-ciagroupmarkid="@ciaItem.CIA_GROUP_MARK_ID"
                                                   cms-coursegroupid="@item.CIA_GROUP_COMPONENT_ID"
                                                   onfocusout="Validate()"
                                                   @if (item.COMPONENT == "Attendance") { item.DISABLED = "disabled"; } @item.DISABLED />
                                        </td>
                                    }
                                    @*<td><input id="@ciaItem.STUDENT_ID" cms-ciac="CIA_TOTAL" value="0.0" cms-studentid="@ciaItem.STUDENT_ID" disabled style="width:75px !important;" name="" type="text" /></td>
                                </tr>
                            }
                        }*@
                }
            </tbody>

        </table>
    </div>
</div>
