
@model CMS.ViewModel.ViewModel.ProgrammeHeadsAmount
@using CMS.Utility
<div class="table-responsive">
    <table class="table table-hover table-bordered" id="tblProgrammeHeads">
        <thead>
            <tr>
                <td>S.No</td>
                <td>Course Code</td>
                <td>Course Type</td>
                <td>Course Title</td>
                <td>Head</td>
                <td>Subject Type</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody>
            @{ int count = 0; string selected = "selected"; }
            @if (Model.academicCurriculum != null)
            {
                foreach (var item in Model.academicCurriculum)
                {
                    <tr cms-courseheadid="@if(!string.IsNullOrEmpty(item.COURSE_HEAD_ID)){ @item.COURSE_HEAD_ID}"
                        cms-coursecode="@item.COURSE_CODE"
                        cms-examsettingid="@if(!string.IsNullOrEmpty(item.EXAM_SETTING_ID)) { @item.EXAM_SETTING_ID}">
                        <td>@{count++;}@count</td>
                        <td>@item.COURSE_CODE</td>
                        <td>@item.COURSE_TYPE</td>
                        <td>@item.COURSE_TITLE</td>

                        <td>
                            <select class="form-control selectpicker show-menu-arrow show-tick" data-live-search="true">
                                <option value="0">--Select--</option>
                                @if (Model.programeList != null && Model.programeList.Count > 0)
                                {
                                    foreach (var option in Model.programeList)
                                    {
                                        <option value="@option.PROGRAMME_HEAD_ID" @if(option.PROGRAMME_HEAD_ID == item.HEAD) { @selected}>@option.HEAD</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>@item.SUBJECT_TYPE</td>
                        <td>@item.AMOUNT </td>


                    </tr>
                                }


                            }
                            else
                            {

                                <tr>
                                    <td>No records Found...</td>
                                </tr>}

        </tbody>
    </table>


</div>
