@model CMS.ViewModel.ViewModel.ExaminationViewModel

@{
    ViewBag.Title = "CIAMarksReports";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section styles{
    @*<link href="~/Content/assets/plugins/intro-js/introjs.css" rel="stylesheet" />*@
    <link href="~/Content/assets/printout.css" media="print" rel="stylesheet" />

}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Examination</a></li>
        <li class="active">Internal Assessment</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">CIA Marks<small></small></h1>
    <!-- end page-header -->

    <div class="panel panel-info" id="panel">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" id="btnReload" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">CIA Marks</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">

                    <div class="form-group  col-md-12">
                        <div class="col-md-6 " data-step="1" data-intro="Choose Class">
                            @Html.Label("Class List", htmlAttributes: new { @class = "col-md-3 control-label " })
                            <div class="col-md-8">
                                @if (Model.ClassList != null)
                                {
                                    @Html.DropDownListFor(m => m.ClassList, Model.ClassList, "---Select---", new { @class = "form-control  select2" })
                                    @Html.ValidationMessageFor(m => m.ClassList, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>
                        <div class="col-md-6" data-step="2" data-intro="Choose Course">
                            @Html.Label("Course List", htmlAttributes: new { @class = "col-md-4 control-label " })
                            <div class="col-md-8">
                                @if (Model.CourseList != null)
                                {
                                    @Html.DropDownListFor(m => m.CourseList, Model.CourseList, new { @class = "form-control  select2" })
                                    @Html.ValidationMessageFor(m => m.CourseList, "", new { @class = "text-danger" })
                                }
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12" style="z-index:1">

                    <span class="pull-right hidden-print ">
                        @*<a href="@Url.Action("PrintOptions","Feedback")" title="Click to Export Option" id="sExport" class="btn btn-sm btn-success m-b-10 disabled"><i class="fa fa-download m-r-5"></i> Export Options</a>*@
                        <a href="javascript:;" id="sPrint" onclick="printDiv('dvCIAbind')" class="btn btn-sm btn-success m-b-10 disabled"><i class="fa fa-print m-r-5"></i> Print</a>
                    </span>

                </div>
                <div class="form-horizontal">
                    <div class="col-lg-12" id="dvCIAbind"></div>
                </div>
            }
        </div>

    </div>
</div>
<!-- end #content -->

@section scripts{
    @*<script src="~/Content/assets/plugins/intro-js/intro.js"></script>

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                introJs().start();
            }, 500);

        });
    </script>*@

    <script>

        $('#ClassList').on('change', function () {
            var inp = $('#ClassList').val();
            $.ajax({
                url: "@Url.Action("GetCourseListByClassIdAndStaffId", "Examination")",
                async: false,
                data: { sClassId: inp },
                success: function (option) {
                    var select = $('#CourseList');
                    select.empty();
                    select.append('<option value="0" >---Select---</option>' + option);

                },
                error: function (ex) {
                    alert(ex);
                }

            });
        });

        $('#CourseList').on('change', function () {
           
            $('#sPrint').addClass('disabled');
            var inp1 = $('#ClassList').val();
            var inp2 = $('#CourseList').val();
            $.ajax({
                url: "@Url.Action("BindCIAMarkList", "Examination")",
                async: false,
                data: { sClassId: inp1, sCourseId: inp2 },
                success: function (option) {
                    var divHtml = $('#dvCIAbind');
                    divHtml.empty();
                    divHtml.html(option);
                    $('#sPrint').removeClass('disabled');
                   
                },
                error: function (ex) {
                    alert(ex);
                }

            });

        });

        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
location.reload();
        }

       
    </script>

  

}






