@model IEnumerable<CMS.ViewModel.Model.ExamControllerPrint>

@{
    ViewBag.Title = "ExaminationControllerPrint";
}

<br /><br />
<div class="form-group">
    <h2 class="text-center">St. Mary's College EXAM REGISTRATION </h2>
</div>


<p>
   @{int count = 0; }
</p>
<table class="table table-hover" id="ExaminationResult">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Register No</th>
            <th>Roll No</th>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Status</th>
            <th>Batch</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@{count++;} @count</td>
                    <td>@Html.DisplayFor(modelItem => item.ROLL_NO)</td>
                    <td>@Html.DisplayFor(modelItem => item.REGISTER_NO)</td>
                    <td>@Html.DisplayFor(modelItem => item.COURSE_CODE)</td>
                    <td>@Html.DisplayFor(modelItem => item.COURSE_TITLE)</td>
                    <td>@Html.DisplayFor(modelItem => item.STATUS)</td>
                    <td>@Html.DisplayFor(modelItem => item.BATCH)</td>
                </tr>
             }
         }
         else
         {
             <tr>
                 <td>No data found ...!</td>
             </tr>
         }
    </tbody>

</table>
