@model CMS.ViewModel.ViewModel.ExaminationViewModel

@{
    ViewBag.Title = "ExamRegisteredList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section styles{
    <link href="~/Content/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
}
<div class="content" id="content">
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">List Exam Registered Student </li>
    </ol>
    <h1 class="page-header">Exam Registered Student</h1>
    <div class="panel">
        <div class="panel-heading bg-primary">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">List Exam Registered Student </h4>
        </div>
        <div class="panel-body noPadding">
            <div class="">
                <a class="btn btn-success pull-right form-group m-b-5" href="@Url.Action("","")"><i class="fa fa-plus" title="Add"> Add</i></a>
            </div>
            <br />
            @{ int count = 0;}
            @if (Model.liExamRegisteredList != null)
            {
                <table class="table" id="ExamRegisteredList">
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                            Course Title
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>

                    @foreach (var item in Model.liExamRegisteredList)
                {
                <tr>
                    <td>
                        @{ count++;}
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIRST_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.COURSE_TITLE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.STATUS)
                    </td>
                    <td>
                        <a href="@Url.Action("EditNMESettings","NME",new { id=@item.REGISTRATION_ID})"><i class="fa fa-edit text-primary" title="Update"></i></a>
                        <a href="@Url.Action("DeleteNMESettings","NME",new { id=@item.REGISTRATION_ID})" onclick="return confirm('Are you sure want to delete ?');"><i class="fa fa-trash text-danger" title="Delete"></i></a>
                    </td>
                </tr>
                }

                </table>
            }
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script>
        $("#ExamRegisteredList").DataTable();
    </script>
}