@model CMS.ViewModel.ViewModel.ExaminationViewModel


<br />

<div class="form-horizontal">
    <div class="col-md-3">
        <lable><b>College Roll No :</b> &nbsp;&nbsp;
       
            @Model.liExamRegistrationModel.FirstOrDefault().ROLL_NO
        
        </lable>
    </div>

    <div class="col-md-3 pull-right">
        <lable><b>Exam.Reg.No :</b> &nbsp;&nbsp;
           @Model.liExamRegistrationModel.FirstOrDefault().REGISTER_NO
        
        </lable>
    </div>
    <div class="text-center">
        @*<img class="image" />*@
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="@Url.Content("~/Content/assets/img/hcc-img/hcclogo.jpg")" style="width:100px; height:100px"/>
    </div>
    <div class="text-center">
        
            <h3>@Model.liCollegeDetails.FirstOrDefault().COLLEGE_NAME &nbsp;&nbsp; @Model.liCollegeDetails.FirstOrDefault().PLACE .</h3>
            <h4>@Model.liCollegeDetails.FirstOrDefault().UNIVERSITY.</h4>
            <h5>
                @Model.liCollegeDetails.FirstOrDefault().GRADE <br />
                EXAMINATION APPLICATION FORM<br />
                SEMESTER &nbsp;<b>@Model.liExamRegistrationList.FirstOrDefault().SEMESTER_ID</b> &nbsp;&nbsp; MONTH & YEAR &nbsp;&nbsp; <b>@Model.liExamRegistrationModel.FirstOrDefault().MONTH</b>
            </h5>
        
            
    </div>
</div>

<div class="col-md-12">
    <table style="font-family:'Times New Roman', Times, serif; font:bold; font-size:small">
        <tbody>
            <tr>
                <td><b>Name of the Candidate : </b></td>
                <td> &nbsp;&nbsp; @Model.liExamRegistrationModel.FirstOrDefault().NAME</td>
                <td> &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;<b>Major : </b> &nbsp;&nbsp; @Model.liExamRegistrationModel.FirstOrDefault().DEPARTMENT</td>
                <td> </td>
            </tr>

            <tr>
                <td><b>Permanent Address :</b></td>
                <td> @Model.liExamRegistrationModel.FirstOrDefault().ADDRESS1</td>
            </tr>
            <tr>
                <td></td>
                <td> @Model.liExamRegistrationModel.FirstOrDefault().ADDRESS2</td>
                <td> &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;<b>Date of Birth : </b> &nbsp;&nbsp; @Model.liExamRegistrationModel.FirstOrDefault().DATE_OF_BIRTH</td>
            </tr>

            <tr>
                <td><b>Phone No:</b></td>
                <td>@Model.liExamRegistrationModel.FirstOrDefault().MOBILE_NO</td>
                <td><b> &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;Total Fee Paid:&nbsp;&nbsp;</b></td>
            </tr>
        </tbody>
    </table>

    <br />
    <div id="Registration">
        <div>
            @{int count = 0;}
            <label id="Title">PAPERS FOR WHICH APPEARING :</label>
            <table class="table" id="RegularList">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Semester</th>
                        <th>Course Code</th>
                        <th>Title of the Paper</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.liExamRegistrationList != null)
                    {
                        foreach (var item in Model.liExamRegistrationList)
                        {
                             <tr cms-acyear="@item.AC_YEAR" cms-course-code="@item.COURSE_CODE">
                                 <td>
                                     @{count++; } @count
                                 </td>
                                 <td>
                                     <div class="hidden">@Html.DisplayFor(modelItem => item.COURSE_ROOT_ID)</div>
                                     <span>@Html.DisplayFor(modelItem => item.SEMESTER_ID)</span>
                                 </td>
                                 <td>
                                     @Html.DisplayFor(modelItem => item.COURSE_CODE)
                                 </td>
                                 <td>
                                     @Html.DisplayFor(modelItem => item.COURSE_TITLE)
                                 </td>

                                 <td>
                                     <b>@Html.DisplayFor(modelItem => item.RESULT)</b>
                                 </td>
                             </tr>
                          }
                       }
                       else
                      {
                             <tr>
                                 <td>No Data Found ...!</td>
                             </tr>
                      }
                </tbody>
            </table>
        </div>

        <div>
            @{int no = 0; }
            <label id="Tittle">ARREAR LIST:</label>

            <br /><br />
            <table class="table" id="ArrearList">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Select</th>
                        <th>Semester</th>
                        <th>Course Code</th>
                        <th>Title of the Paper</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.liSemesterList != null)
                    {
                    foreach (var item in Model.liSemesterList)
                    {
                          <tr cms-acyear="@item.AC_YEAR" cms-course-code="@item.COURSE_CODE">
                              <td>
                                  @{no++; } @no
                              </td>
                              <td><input type="checkbox" id="chkBox" /></td>
                              <td>
                                  @Html.DisplayFor(modelItem => item.SEMESTER)
                                  <div class="hidden">@Html.DisplayFor(modelItem => item.COURSE_ROOT_ID)</div>
                              </td>
                              <td>
                                  @Html.DisplayFor(modelItem => item.COURSE_CODE)
                              </td>
                              <td>
                                  @Html.DisplayFor(modelItem => item.COURSE_TITLE)
                              </td>
                              <td>
                                  <b>@Html.DisplayFor(modelItem => item.RESULT)</b>
                              </td>
                          </tr>
                     }
                  }
                  else
                  {
                           <tr>
                               <td>No Data Found ...!</td>
                           </tr>
                  }
                </tbody>
            </table>
        </div>
    </div>
</div>
