@model IEnumerable<CMS.ViewModel.Model.LIST_QUIZ>

<div>@{int count = 0;}</div>
<div class="table-responsive">
    <table class="table table-hover" id="ListQuiz">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Class</th>
                <th>Quiz Question</th>
                <th>Answer</th>
                <th>Name Of The Staff</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@{count++;} @count</td>
                        <td>@Html.DisplayFor(modelItem => item.CLASS_NAME)</td>
                        <td>@Html.DisplayFor(modelItem => item.QUESTION)</td>
                        <td>@Html.DisplayFor(modelItem => item.ANSWER)</td>
                        <td>@Html.DisplayFor(modelItem => item.FIRST_NAME)</td>
                        <td>
                            <a href="@Url.Action("EditQuizQuestion","Examination",new {id=@item.QUESTION_ID})" title="Click To Edit"><i class="fa fa-edit text-primary"></i></a>
                            <a href="javascript:;" onclick="GetConfirm(@item.QUESTION_ID)" title="CliCk To Delete"><i class="fa fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                 }
             }
             else
             {
                 <tr>
                     <td>No data found ..!</td>
                 </tr>
             }
        </tbody>
    </table>
</div>


