@model IEnumerable<CMS.ViewModel.Model.EXAM_REGISTRATION>

<br /><br /><br /><br />
<div class="invoice" style="background-color:#F6F6F6 !important;">
    <div class="invoice-company">
        Print Exam Registration
    </div>

    <div class="invoice-header">
        <div class="form-group">
            @{int count = 0; }
            <div class="col-md-3">
                <lable class="col-md-4">Roll No</lable>
                <label class="col-md-2">@ViewData["Roll_No"]</label>
            </div>

            <div class="col-md-3 pull-right">
                <lable class="col-md-4">Reg No</lable>
                <label class="col-md-2">@ViewData["Exam_Reg_No"]</label>
            </div>

            <div class="text-center">
                <img src="~/favicon.ico" />
            </div>

            <div class="text-center">
                <label>
                    St. Mary's College (AUTONOMOUS) TIRUCHIRAPPALLI - 620 002 .<br />
                    (Affiliated to Bharathidasan University, Tiruchirappalli 620 024.)<br />
                    NATIONALLY RE-ACCREDITED WITH 'A' GRADEBY NAAC <br />
                    B.A/B.Sc./B.Com./B.R.Sc./B.C.A./B.B.A./BASLP DEGREE & DIPLOMA COURSES <br /><br />
                    EXAMINATION APPLICATION FORM<br />
                    SEMESTER &nbsp; @ViewData["Semester"] &nbsp;&nbsp; MONTH & YEAR &nbsp;&nbsp; @ViewData["Year"]
                </label>
            </div> <br />

            <div class="col-md-6 pull-left">
                <label class="col-md-4">Name of the Candidate :</label>
                <label class="col-md-6"><b>@ViewData["Name"]</b></label>
            </div>

            <div class="col-md-6 pull-right">
                <label class="col-md-4">Major :</label>
                <label class="col-md-6">@ViewData["Department"]</label>
            </div> <br />

            <div class="col-md-12">
                <label class="col-md-4">Date of Birth (in Christian era):</label>
                <label class="col-md-6">@ViewData["DOB"]</label>
            </div>

            <div class="col-md-12">
                <label class="col-md-4">Permanent Address :</label>
                <label class="col-md-8">@ViewData["Address1"]</label>
                <label class="col-md-8">@ViewData["Address2"]</label>
            </div>

            <div class="col-md-3">
                <label class="col-md-6">Phone No:</label>
                <label class="col-md-6">@ViewData["M_No"]</label>
            </div>

            <div class="col-md-3">
                <label class="col-md-8">Total Fee Paid: Rs</label>
                <label class="col-md-4">@ViewData["M_No"]</label>
            </div>

            <div class="col-md-3">
                <label class="col-md-6">Date :</label>
                <label class="col-md-6">@ViewData["M_No"]</label>
            </div>
        </div>
    </div>

    <div class="invoice-content">
        <br /><br /><br /><br />
        <table class="table">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>
                        Title of the Paper
                    </th>
                    <th>
                        Subject Code
                    </th>
                </tr>
            </thead>
            <tbody>
             @if (Model != null)
            {
                foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @{count++; } @count
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.COURSE_TITLE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.COURSE_CODE)
                            </td>
                        </tr>
                }
            }
            else
            {
                <tr>
                    <td>No Data Found ...!</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
   
   

