@model CMS.ViewModel.ViewModel.ExaminationViewModel

@{
    Layout = null;
}

@{
    if (Model.liQuizAnswer != null)
    {
         <!-- begin page-header -->
        <h1 class="text-muted">@Model.liQuizAnswer.FirstOrDefault().FIRST_NAME <small>@Model.liQuizAnswer.FirstOrDefault().COURSE_TITLE</small></h1>
        <!-- end page-header -->
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Total Question &nbsp;&nbsp;&nbsp;&nbsp;<b class="label label-primary">&nbsp;&nbsp;&nbsp;&nbsp;@Model.liQuizAnswer.FirstOrDefault().COUNT&nbsp;&nbsp;&nbsp;&nbsp;</b></li>
                <li class="list-group-item">Correct Answer &nbsp;&nbsp;&nbsp;&nbsp;<b class="label label-success">&nbsp;&nbsp;&nbsp;&nbsp;@Model.Correct_Answer&nbsp;&nbsp;&nbsp;&nbsp;</b></li>
                <li class="list-group-item">Wrong Answer &nbsp;&nbsp;&nbsp;&nbsp;<b class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;@Model.Wrong_Answer&nbsp;&nbsp;&nbsp;&nbsp;</b></li>
                <li class="list-group-item">Percentage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="label label-warning">@{var percentage = 100 / Model.Count * Model.Correct_Answer;}  @percentage %</b></li>
            </ul>
        </div>
      }
}
<div class="form-horizontal">
    @{
        if (Model.liQuizAnswer != null)
        {
            int i = 1;
            foreach (var item in Model.liQuizAnswer)
            {
                <div style="border-bottom:solid">
                    <ul class="chats">
                        <li class="left">
                            <span class="date-time">@item.DATE</span>
                            <a class="name">@i &nbsp;&nbsp; @item.QUESTION</a>
                            <br />
                           
                                @if (item.STATUS != "1")
                                {
                                    <h1 class="image text-danger fa fa-times" style="font-size:xx-large"></h1>
                                    <div class="message">
                                        <h4 style="font:bold">Your Answer : &nbsp;&nbsp;<b class="text-danger">@item.SELECTED_ANSWER</b></h4>
                                        <h4 style="font:bold">Correct Answer : &nbsp;&nbsp;<b class="text-success">@item.ANSWER</b></h4>
                                    </div>
                                }
                                else
                                {
                                    <h1 class="image text-success fa fa-check" style="font-size:xx-large"></h1>
                                    <div class="message">
                                        <h4 style="font:bold">Your Answer : &nbsp;&nbsp;<b class="text-success">@item.SELECTED_ANSWER</b></h4>
                                        <h4 style="font:bold">Correct Answer : &nbsp;&nbsp;<b class="text-success">@item.ANSWER</b></h4>
                                    </div>
                                }
                           
                           
                            @{ i++;}
                        </li>
                    </ul><br /><br />
                </div>
                <br /><br />
                  }
              }
              else
              {
                  <div class="alert alert-warning fade in m-b-15">
                      <strong>Warning!</strong>
                      You Have Choosen Nothing ...!
                      <span class="close" data-dismiss="alert">×</span>
                  </div>
              }
    }

</div>