@model CMS.ViewModel.ViewModel.FeeTransactionViewModel
@{int count = 0;}
@{ var Status = 0;}
@if (Model.liCollegeDetails != null)
{
    foreach (var item in Model.liCollegeDetails)
    {
        <center>
            <table>
                <tr>
                    <td><center><strong>@item.COLLEGE_NAME</strong></center></td>
                </tr>
                <tr>
                    <td><b> @item.GRADE</b></td>
                </tr>
                <tr>
                    <td class="text-center">
                        @item.UNIVERSITY
                    </td>
                </tr>
            </table>
        </center>
    }
}
        @*<table class="table-condensed" cellpadding="5">
                @if (Model.liCreditAndDebit != null)
                {
                    foreach (var list in Model.liCreditAndDebit)
                    {
                        <tr>
                            <td><b>Total Amount</b></td>
                            <td></td>
                            <td>@list.CREDIT</td>
                        </tr>
                        <tr>
                            <td><b>Paid Amount</b></td>
                            <td></td>
                            <td>@list.DEBIT</td>
                        </tr>
                                    }
                                }
            </table>*@
        <table class="table table-hover" id="ClassWiseStudentFeePaidStatusList">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Register No</th>
                    <th>Roll No</th>
                    <th>Name</th>                    
                    <th>Balance</th>
                    <th>Total Amount</th>
                    <th>Paid</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.liFeeTransaction != null)
                {
                    foreach (var item in Model.liFeeTransaction)
                    {
                        if (item.TOTAL_AMOUNT == "0")
                        {
                            item.TOTAL_AMOUNT = null;
                        }
                        if (item.COLLECTED == "0")
                        {
                            item.COLLECTED = null;
                        }
                <tr>
                    @{int TotalAmount = Convert.ToInt32(item.TOTAL_AMOUNT);}
                    @{int Collected = Convert.ToInt32(@item.COLLECTED);}
                    @{Status = (TotalAmount - Collected);}
                    <td>
                        @{ count++;}@count
                    </td>
                    <td>@item.REGISTER_NO</td>
                    <td>@item.ROLL_NO</td>
                    <td>@item.FIRST_NAME</td>

                    <td>@item.BALANCE</td>
                    <td>@item.TOTAL_AMOUNT</td>
                    <td>@item.COLLECTED</td>
                    @if (@item.TOTAL_AMOUNT == null)
    {
                <td>Not Yet Registered</td>
}
else
{
if (Status == 0)
{
                <td>Paid</td>
}
else
{
                <td>UnPaid</td>
}
}
                </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>No Records Available...!!!</td>
                                        </tr>
                                    }

            </tbody>
        </table>
