@model CMS.ViewModel.ViewModel.FeeTransactionViewModel
@{int count = 0;}
<table class="table table-hover" id="DayWiseStudentFeePaidStatusList">
    <thead>
        <tr>
            <th>#</th>
            <th>Month</th>
            <th>Date</th>
            <th>Particulars</th>
            <th>Amount</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.liFeeTransaction != null && Model.liMonth != null)
        {
            foreach (var item in Model.liMonth)
            {
                foreach (var list in Model.liFeeTransaction)
                {
                    var TempList = Model.liMonth.Where(s => s.MONTH == list.MONTH).ToList();
                    if (item.MONTH == list.MONTH)
                    {
                        <tr>
                            <td>@{ count++;}@count</td>
                            <td>@list.MONTH</td>
                            <td>@list.PAYMENT_DATE</td>
                            <td>@list.FREQUENCY_NAME</td>
                            <td>@list.COLLECTED</td>
                            <td></td>
                        </tr>
                                    }

                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>@item.COLLECTED</td>
                                </tr>
                                    }
                                }                                
    </tbody>
</table>

