@model CMS.ViewModel.ViewModel.FeeStructureViewModel

@{
    Layout = null;
    int count = 0;
}
<table class="table table-hover table-bordered" id="FeeStructureList" width="100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Fee Category</th>
            <th>Main Head</th>
            <th>Head</th>
            <th>Bank</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.lstFeeStructure != null)
        {
            foreach (var item in Model.lstFeeStructure)
            {
                <tr cms-feestructureid="@item.FEE_STRUCTURE_ID" cms-headid="@item.HEAD_ID" cms-fee-category-id="@item.FEE_CATEGORY_ID" cms-fee-main-head-id="@item.FEE_MAIN_HEAD_ID" cms-bank-account-id="@item.BANK_ACCOUNT_ID">
                    <td>
                        @{ count++;}@count
                    </td>
                    <td>
                        @item.FEE_CATEGORY_NAME
                    </td>
                    <td>
                        @item.MAIN_HEAD
                    </td>
                    <td>
                        @item.HEAD
                    </td>
                    <td>
                        @item.PASSBOOK_NO
                    </td>
                    <td>
                        <input id="txtAmount" type="number" style="width:75px !important;" step=".01" value="@item.AMOUNT" />
                    </td>
                </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        No Records Available...!!!
                                    </td>
                                </tr>
                            }
    </tbody>
</table>

