@model CMS.ViewModel.ViewModel.FeeTransactionViewModel
@{
    ViewBag.Title = "BindAccountWiseSettlementByDate";
    Layout = null;
    int count = 0;
}

<table class="table table-hover table-bordered" id="tblSettlementGroupDate" border="1">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Programme</th>
            <th>Date</th>
            <th>TotalAmount</th>
            <th>Account Name</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.liFeeReport != null)
        {
            foreach (var item in Model.liFeeReport)
            {

                <tr>
                    <td>
                        @{ count++;}@count
                    </td>
                    <td>@item.FIRST_NAME</td>
                    <td>@item.PROGRAMME_NAME</td>
                    <td>@item.PAYMENT_DATE</td>
                    <td> <i class="fa fa-inr"></i> @item.AMOUNT</td>
                    <td>@item.ACCOUNT_NAME</td>

                </tr>
                            }
                            <tr>
                                <td colspan="4"><b>Total</b></td>
                                <td><b><i class="fa fa-inr"></i> @Model.liFeeReport.Sum(O => Convert.ToDouble(O.AMOUNT))</b></td>
                                <td></td>
                            </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>No Records Available...!!!</td>
                                </tr>
                            }

    </tbody>
</table>

<div>
    <a href="javascript:;" onclick="LoadGroupDateSettlement()" class="btn-primary btn pull-right">Back</a>
</div>

