@model CMS.ViewModel.ViewModel.FeeTransactionViewModel
@{int count = 0;}
<table class="table table-hover" id="DayWiseFeePaidStatus">
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Frequency</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.liFeeTransaction != null)
        {
            foreach (var list in Model.liFeeTransaction)
            {
                <tr>
                    <td>@{ count++;}@count</td>
                    <td>@list.PAYMENT_DATE</td>
                    <td>@list.FREQUENCY_NAME</td>
                    <td><i class="fa fa-inr"></i> @list.COLLECTED</td>
                    <td>
                        <a @*href="@Url.Action("ViewPaymentDetailsByDate","Fee",new { sPaymentDate=list.PAYMENT_DATE,sDateFrom=Model.FeeTransaction.DATE_FROM,sDateTo=Model.FeeTransaction.DATE_TO})"*@ href="#" @*onclick="loadContent('/Fee/ViewPaymentDetailsByDate?sPaymentDate=@list.PAYMENT_DATE&sFrequency=@list.FREQUENCY')"*@ onclick="BindStudentFeeDetails(sPaymentDate='@list.PAYMENT_DATE.ToString()',sFrequency='@list.FREQUENCY')" title="View"><i class="glyphicon glyphicon-eye-open text-primary"></i></a>
                    </td>
                </tr>
                            }
                        }
    </tbody>
</table>


