@model CMS.ViewModel.ViewModel.FeeTransactionViewModel
@{int count = 0;}
@{ var Status = 0;}
    <table class="table table-hover" id="BulkFeeCollectionList">
        <thead>
            <tr>
                <th>#</th>
                <th style="width:120px">
                    <input type="checkbox" name="myTextEditBox" id="AllchkID" onchange="SelectOrUnselect()" /> Select All
                </th>
                <th>Roll No</th>
                <th>Name</th>
                <th>Payment Mode</th>
                <th>Total Amount</th>
                <th>Paid</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.liFeeTransaction != null)
        {
            foreach (var item in Model.liFeeTransaction)
            {
                if (item.TOTAL_AMOUNT == "0")
                {
                    item.TOTAL_AMOUNT = null;
                }
                if (item.COLLECTED == "0")
                {
                    item.COLLECTED = null;
                }
                <tr>
                    @{int TotalAmount = Convert.ToInt32(item.TOTAL_AMOUNT);}
                    @{int Collected = Convert.ToInt32(@item.COLLECTED);}
                    @{Status = (TotalAmount - Collected);}
                    <td>
                        @{ count++;}@count
                    </td>
                    @if (@item.TOTAL_AMOUNT == null)
                    {
                        <td></td>
                    }
                    else
                    {
                        if (Status == 0)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td><input type="checkbox" name="myTextEditBox" id="chkID" cms-balance="@item.BALANCE" cms-studentid="@item.STUDENT_ID" /></td>
                        }
                    }
                    <td>@item.ROLL_NO</td>
                    <td>@item.FIRST_NAME</td>
                    <td>@item.PAYMENT_MODE</td>
                    <td>@item.TOTAL_AMOUNT</td>
                    <td>@item.COLLECTED</td>
                    @if (@item.TOTAL_AMOUNT == null)
                    {
                        <td>Not Yet Registered</td>
                    }
                    else
                    {
                        if (Status == 0)
                        {
                            <td>Paid</td>
                        }
                        else
                        {
                            <td>UnPaid</td>
                        }
                    }
                    @if (@item.TOTAL_AMOUNT == null)
                    {
                        <td></td>
                    }
                    else
                    {
                        if (Status == 0)
                        {
                            <td><a href="javascript:;" onclick="GenerateReceipt(@item.STUDENT_ID)" id="btnGet" cms-studentidforreceipt="@item.STUDENT_ID" class="btn btn-sm btn-primary pull-left"> Get Receipt</a></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>No Records Available...!!!</td>
                                </tr>
                            }
        </tbody>
    </table>