@model CMS.ViewModel.ViewModel.FeeDiscountAllotmentviewModel
@{int count = 0;}

    <div class="">
        <a class="btn bg-green pull-right m-b-5" title="Add Discount Allotment"  data-toggle="modal" style="cursor:pointer" href="#Head-dialog"><i class="fa fa-plus"></i> Add</a>
    </div>
    <table class="table table-hover table-bordered" id="DiscountAllotmentList">
        <thead>
            <tr>
                <th>#</th>
                <th>Roll No</th>
                <th>Name</th>
                <th>Discount Name</th>
                <th>Discount Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.lstFeeDiscountAllotment != null)
            {
                foreach (var item in Model.lstFeeDiscountAllotment)
                {
                    <tr>
                        <td>
                            @{ count++;}@count
                        </td>
                        <td>
                            @item.ROLL_NO
                        </td>
                        <td>
                            @item.FIRST_NAME
                        </td>
                        <td>
                            @item.DISCOUNT_NAME
                        </td>
                        <td>
                            @item.DISCOUNT_VALUE
                        </td>
                        <td>
                            <a href="javascript:;" onclick="GetConfirm(@item.DISCOUNT_ALLOTMENT_ID)" title="CliCk To Delete"><i class="fa fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            No Records Available...!!!
                                        </td>
                                    </tr>
                                }
        </tbody>
    </table>