@model CMS.ViewModel.ViewModel.FeeMainHeadViewModel
@{  
    Layout = null;
}
@{ string sSelected = "selected"; int count = 0;}
<table class="table table-hover table-bordered" id="tblFeeMainHead" width="100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Main Head</th>
            <th>Sub Head</th>
            <th>Fee Category</th>
            <th>Bank Account</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.FeeMainHeadList != null)
            {
                foreach (var item in Model.FeeMainHeadList)
                {
                <tr cms-feemainheadid="@item.FEE_MAIN_HEAD_ID" cms-headid="@item.HEAD_ID">
                    <td>
                        @{ count++;}@count
                    </td>
                    <td>
                        @item.MAIN_HEAD
                    </td>
                    <td>
                        @item.HEAD
                    </td>
                    <td>
                        <select class="selectpicker form-control  input-sm" data-live-search="true" id="ddlFeeCategory">
                            <option class="special" value="">--Select--</option>
                            @foreach (var list in Model.FeeCategory)
                            {
                                <option value="@list.FEE_CATEGORY_ID" @if (list.FEE_CATEGORY_ID == item.FEE_CATEGORY_ID) { @sSelected     }>@list.FEE_CATEGORY</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select class="selectpicker form-control  input-sm" data-live-search="true" data-size="5" id="ddlBankAccount">
                            <option class="special" value="">--select--</option>
                            @foreach (var dataitem in Model.LiSupBankAccount)
                            {
                                <option value="@dataitem.BANK_ACCOUNT_ID" @if (dataitem.BANK_ACCOUNT_ID == item.BANK_ACCOUNT_ID) { @sSelected    }>@dataitem.PASSBOOK_NO</option>
                            }
                        </select>
                    </td>
                </tr>
                                }
                            }
    </tbody>
</table>

