@model CMS.ViewModel.ViewModel.FeeTransactionViewModel
@{int count = 0;}

<table class="table-condensed" cellpadding="5">
    @if (Model.lstStudentPersonalInfo != null)
    {
        foreach (var list in Model.lstStudentPersonalInfo)
        {
            <tr>
                <td><b>Name</b></td>
                <td><b>@list.FIRST_NAME</b></td>
                <td><b>Total Amount</b></td>
                <td>@Model.liCreditAndDebit.FirstOrDefault().CREDIT</td>
            </tr>
            <tr>
                <td><b>Register No</b></td>
                <td>@list.REGISTER_NO</td>
                <td><b>Paid Amount</b></td>
                <td>@Model.liCreditAndDebit.FirstOrDefault().DEBIT</td>
            </tr>
            <tr>
                <td><b>Class</b></td>
                <td>@list.CLASS_CODE</td>
            </tr>
        }
    }
</table>
@*<table class="table-condensed" cellpadding="5">
    @if (Model.liCreditAndDebit != null)
    {
        foreach (var list in Model.liCreditAndDebit)
        {
            <tr>
                <td><b>Total Amount</b></td>
                <td></td>
                <td>@list.CREDIT</td>
            </tr>
            <tr>
                <td><b>Paid Amount</b></td>
                <td></td>
                <td>@list.DEBIT</td>
            </tr>
                        }
                    }
</table>*@
<table class="table table-hover table-bordered" id="StudentAccountList">
    <thead>
        <tr>
            <th>#</th>
            <th>Head</th>
            <th>Amount</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.liFeeStudentAccount != null)
            {
                foreach (var item in Model.liFeeStudentAccount)
                {
                <tr cms-studentid="@item.STUDENT_ID" cms-headid="@item.HEAD_ID">
                    <td>
                        @{ count++;}@count
                    </td>
                    <td>@item.HEAD</td>
                    <td class="text-right"><i class="fa fa-inr"></i>@item.CREDIT</td>
                    <td><input class="txtCal text-right" cms-balance="@item.BALANCE" onfocusout="Sum()" type="number" value="@item.BALANCE" disabled/> </td>
                </tr>
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Total</td>
                                <td><input id="total_sum_value" class="text-right" type="number" value="@Model.liCreditAndDebit.FirstOrDefault().BALANCE" disabled /></td>
                            </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><p>No records available !!!</p></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }

    </tbody>
</table>

