@model CMS.ViewModel.ViewModel.FeeMainHeadViewModel
@using CMS.Utility;
@{
    ViewBag.Title = "CollegeFeeMainHead";
    // Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
    Layout = null;
}


<link href="~/Content/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />

<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a onclick="loadContent('/Fee/ListFeeMainHead')"style="cursor:pointer">College HeadList</a></li>
        <li class="active">College FeeMainHead</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">College FeeMainHead<small></small></h1>
    <!-- end page-header -->

    <div class="panel panel-primary">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">College FeeMainHead</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">FeeRoot</label>
                            <div class="col-md-8">
                                @Html.DropDownList("FeeRoot", (Model.LiSupFeeRoot != null) ? new SelectList(Model.LiSupFeeRoot, Common.SUP_FEE_ROOT.FEE_ROOT_ID, Common.SUP_FEE_ROOT.FEE_ROOT, Common.FeeRoot.CollegeFee) : Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "form-control selectpicker show-menu-arrow show-tick", @data_live_search = "true", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">ApplicationType</label>
                            <div class="col-md-8">
                                @Html.DropDownList("ApplicationType", (Model.LiApplicationType != null) ? new SelectList(Model.LiApplicationType, Common.SUP_APPLICATION_TYPE.APPLICATION_TYPE_ID, Common.SUP_APPLICATION_TYPE.APPLICATION_TYPE) : Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "form-control selectpicker show-menu-arrow show-tick", @data_live_search = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">Shift</label>
                            <div class="col-md-8">
                                @Html.DropDownList("Shift", (Model.SupShift != null) ? new SelectList(Model.SupShift, Common.SUP_SHIFT.SHIFT_ID, Common.SUP_SHIFT.SHIFT_NAME) : Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "form-control selectpicker show-menu-arrow show-tick", @data_live_search = "true" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">Programme Mode</label>
                            <div class="col-md-8">
                                @Html.DropDownList("ProgrammeMode", (Model.SupProgrammeMode != null) ? new SelectList(Model.SupProgrammeMode, Common.SUP_PROGRAMME_MODE.PROGRAMME_MODE_ID, Common.SUP_PROGRAMME_MODE.PROGRAMME_MODE) : Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "form-control selectpicker show-menu-arrow show-tick", @data_live_search = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">Fee Name</label>
                            <div class="col-md-8">
                                @Html.DropDownList("FeeMode", (Model.SupFrequency != null) ? new SelectList(Model.SupFrequency, Common.SUP_FEE_FREQUENCY.FREQUENCY_ID, Common.SUP_FEE_FREQUENCY.FREQUENCY_NAME) : Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "form-control selectpicker show-menu-arrow show-tick", @data_live_search = "true" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">Main Head</label>
                            <div class="col-md-8">
                                @Html.DropDownList("MainHead", (Model.MainHeads != null) ? new SelectList(Model.MainHeads, Common.SUP_FEE_MAIN_HEAD.MAIN_HEAD_ID, Common.SUP_FEE_MAIN_HEAD.MAIN_HEAD) : Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "form-control selectpicker show-menu-arrow show-tick", @data_live_search = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">Subhead</label>
                            <div class="col-md-8">
                                @Html.DropDownList("SubHead", (Model.SubHeads != null) ? new SelectList(Model.SubHeads, Common.SUP_HEAD.HEAD_ID, Common.SUP_HEAD.HEAD) : Enumerable.Empty<SelectListItem>(), new { @class = "form-control selectpicker show-menu-arrow show-tick", @multiple = "multiple", @data_live_search = "true", data_actions_box = "true", data_selected_text_format = "count" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <a class="btn btn-primary pull-right" title="Add Sup Head" id="btnGetCollegeMainHead">Get</a>
                        </div>
                    </div>
                    <div class="col-lg-12 table-responsive">
                        <div id="dvFeeMainhead">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <a href="#" class="btn btn-success disabled  pull-right" id="btnSubmit">Submit</a>
                        @*<a href="@Url.Action("FeeStructure","Fee")" href="javascript:;" onclick="loadContent('/Fee/FeeMainHeadList')" class="btn-primary btn pull-right">Back</a>*@
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="~/Content/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="~/Content/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Content/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/assets/plugins/gritter/js/jquery.gritter.js"></script>
<script src="~/Content/assets/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
<script src="~/Content/assets/js/ui-modal-notification.demo.min.js"></script>
<script>
    $('#ApplicationType').on("change", function myfunction() {
        $("#MainHead").val($("#MainHead option:first").val());       
        $('.selectpicker').selectpicker('refresh');
    })
    $('#Shift').on("change", function myfunction() {
        $("#MainHead").val($("#MainHead option:first").val());
        $('.selectpicker').selectpicker('refresh');
    })
    $('#ProgrammeMode').on("change", function myfunction() {
        $("#MainHead").val($("#MainHead option:first").val());
        $('.selectpicker').selectpicker('refresh');
    })
    $('#FeeMode').on("change", function myfunction() {
        $("#MainHead").val($("#MainHead option:first").val());
        $('.selectpicker').selectpicker('refresh');
    })
    $('.selectpicker').selectpicker({
        size: 4
    });

    //Get On Click
    $('#btnGetCollegeMainHead').on("click", function () {
        if ($('#ApplicationType').val() && $('#Shift').val() && $('#ProgrammeMode').val() && $('#FeeMode').val() && $('#MainHead').val())
        {
            var SubHeadIds = String($('#SubHead').val());      
            $.ajax({
                url: "@Url.Action("BindCollegeFeeMainHead", "Fee")",
                method: "POST",
                datatype: "json",
                data: { sFeeRoot: $('#FeeRoot').val(), sApplicationType: $('#ApplicationType').val(), sShift: $('#Shift').val(), sProgrammeMode: $('#ProgrammeMode').val(), sFeeMode: $('#FeeMode').val(), sMainHead: $('#MainHead').val(), sSubHeads: SubHeadIds },
                success: function (data) {
                    var dvFeeMainheadBind = $('#dvFeeMainhead');
                    dvFeeMainheadBind.empty();
                    dvFeeMainheadBind.append(data);
                    $('#btnSubmit').removeClass("disabled");
                    $('.selectpicker').selectpicker('refresh');
                }, error: function (error) {
                    alert('Internal Server Error !');
                }
            });
        } else {
            alert('Please Choose the All the Fields...!!!');
        }        
    });

    $('#MainHead').change(function () {
        if ($("#Shift").val() == '' || $('#ProgrammeMode').val() == '' || $("#FeeMode").val() == '') {
            alert('Please Select Shift,Programme Mode And Fee Mode...!!!');
            $("#MainHead").val($("#MainHead option:first").val());
            $('.selectpicker').selectpicker('refresh');
            return false;
        }
        $.ajax({
            url: "@Url.Action("LoadSubheads", "Fee")",
            async: false,
            data: { sMainHead: $(this).val(), sShiftId: $("#Shift").val(), sProgrammeModeId: $('#ProgrammeMode').val(), sFrequencyId: $("#FeeMode").val(), sFeeRootId: $("#FeeRoot").val(), sApplicationTypeId: $("#ApplicationType").val() },
            success: function (objResult) {
                $('#SubHead').empty().append(objResult.sResult).selectpicker('refresh');
            },
            error: function (xhr, textStatus, error) {
                alert(error + "\n");
            }
        })
    });

    //Submitclick
    $('#btnSubmit').on('click', function () {
        var FeeMainHeadId;
        var FeeRoot = $('#FeeRoot').val();
        var ApplicationType = $('#ApplicationType').val();
        var Shift = $('#Shift').val();
        var ProgrammeMode = $('#ProgrammeMode').val();
        var Frequency = $("#FeeMode").val();
        var MainHead = $('#MainHead').val();
        if (true) {
            var sJson = '{"JSON_FEE_MAIN_HEAD":[';
            $('#tblFeeMainHead tbody tr').each(function () {
                FeeMainHeadId = $(this).attr("cms-feemainheadid");
                var HeadId = $(this).attr("cms-headid");
                var FeeCategory = $(this).find('#ddlFeeCategory').val();
                var BankAccount = $(this).find('#ddlBankAccount').val();
                sJson += '{"FEE_MAIN_HEAD_ID":"' + FeeMainHeadId + '","FREQUENCY_ID":"' + Frequency + '","APPLICATION_TYPE_ID":"' + ApplicationType + '","MAIN_HEAD_ID":"' + MainHead + '","HEAD_ID":"' + HeadId + '","FEE_CATEGORY_ID":"' + FeeCategory + '","BANK_ACCOUNT_ID":"' + BankAccount + '","PROGRAMME_MODE":"' + ProgrammeMode + '","SHIFT":"' + Shift + '","FEE_ROOT_ID":"' + FeeRoot + '"},'
            });
            sJson = sJson.slice(0, -1) + ']}';
            $.ajax({
                url: "@Url.Action("SaveOrUpdateFeeMainHead", "Fee")",
                method: "POST",
                data: { sJsonFeeMainHeads: sJson },
            success: function (objResult) {
                myAlert(objResult.Message, 'gritter-success', '');
                $('#btnGetCollegeMainHead').click();
            }, error: function (error) {
                alert('Record not saved try again ..!');
            }
        });
    }
    else {
                alert('Please Enter Correct Values...!!!');
    return false;
    }
    });

</script>
