@model CMS.ViewModel.ViewModel.FeeTransactionViewModel
@{int count = 0;}
@{

    Layout = null;
}
@if (!string.IsNullOrEmpty(Model.sMessage))
{
    <div class="alert alert-danger">@Model.sMessage</div>
}

<div class="col-md-8 col-lg-offset-2">
    <div class="pull-left">
        <h6>
            <label>Receipt No:</label>
        </h6>
    </div>
    <div class="pull-right">
        <label>Date:</label>@DateTime.Now.Date.ToShortDateString()
    </div>
</div>
<div class="col-md-8 col-lg-offset-2">
    <center>
        <address>
            <strong>St. Mary's College(AUTONOMOUS)</strong><br />
            Thoothukudi-620 002
        </address>
    </center>
</div>
<div class="col-md-8 col-lg-offset-2">
    @if (Model.lstStudentPersonalInfo != null)
    {
        <table class="table-condensed" cellpadding="5">
            @foreach (var item in Model.lstStudentPersonalInfo)
            {
                <tr>
                    <td><b>Name</b></td>
                    <td><b>@item.FIRST_NAME</b></td>
                </tr>
                <tr>
                    <td><b>Register No</b></td>
                    <td>@item.REGISTER_NO</td>
                    <td><b>Class</b></td>
                    <td>@item.CLASS_CODE</td>
                </tr>
            }
        </table>
    }
</div>
<div class="col-md-8 col-lg-offset-2">
    <table class="table table-hover table-bordered">
        @if (Model.liFeeStudentAccount != null)
            {
            <tr>
                <th width="50px">#</th>
                <th>
                    PARTICULARS
                </th>
                <th>
                    AMOUNT
                </th>
            </tr>
            foreach (var item in Model.liFeeStudentAccount)
            {
                <tr>
                    <td width="50px">
                        @{ count++;}@count
                    </td>
                    <td>@item.HEAD</td>
                    <td class="text-right">@item.BALANCE</td>
                </tr>
                            }
                            <tr>
                                <td></td>
                                <td class="text-right">TOTAL</td>
                                <td class="text-right"><i class="fa fa-inr"></i> @Model.liFeeStudentAccount.Sum(o => Convert.ToInt32(o.BALANCE))</td>
                            </tr>
                            }
    </table>
</div>
<div class="col-md-8 col-lg-offset-2">
    <div class="col-md-4 col-lg-offset-1">
        <div class="m-b-10 pull-left">Cashier</div>
    </div>
    <div class="col-md-4 col-lg-offset-1">
        <div class="m-b-10 pull-right">Asst.Manager</div>
    </div>
</div>


