@model CMS.ViewModel.ViewModel.FeeTransactionViewModel
@{int count = 0;}
@{

    Layout = null;
}
<div style="page-break-after:avoid !important;page-break-inside:avoid !important;">
    <div class="col-md-8 col-lg-offset-2">
        <div class="pull-left">
            <h6>
                <label>Receipt No:</label>@Model.liFeeTransaction.FirstOrDefault().RECEIPT_NO
            </h6>
        </div>
        <div class="pull-right">
            <label>Date:</label>@Model.liFeeTransaction.FirstOrDefault().PAYMENT_DATE
        </div>
    </div>
    <div class="col-md-8 col-lg-offset-2">
        @if (Model.liCollegeDetails != null)
        {
            foreach (var item in Model.liCollegeDetails)
            {
        <center>
            <table>
                <tr>
                    <td><center><strong>@item.COLLEGE_NAME</strong></center></td>
                </tr>
                <tr>
                    <td><b> @item.GRADE</b></td>
                </tr>
                <tr>
                    <td class="text-center">
                        @item.UNIVERSITY
                    </td>
                </tr>
            </table>
        </center>
            }
        }
    </div>
    <div class="col-md-8 col-lg-offset-2">
        @if (Model.lstStudentPersonalInfo != null)
    {
        <table class="table-condensed" cellpadding="5">
            @foreach (var item in Model.lstStudentPersonalInfo)
            {
        <tr>
            <td><b>Name</b></td>
            <td><b>@item.FIRST_NAME</b></td>
            <td><b>Register No</b></td>
            <td>@item.REGISTER_NO</td>
        </tr>
        <tr>
            <td><b>Payment Type</b></td>
            <td>
                @if (Model.liFeeTransaction!=null&& Model.liFeeTransaction.Count>0)
                        {
                    @Model.liFeeTransaction.FirstOrDefault().PAYMENT_MODE
                        }
            </td>
            <td><b>Class</b></td>
            <td>@item.CLASS_CODE</td>
        </tr>
            }
        </table>
    }
    </div>
    <div class="col-md-8 col-lg-offset-2">
        <table class="table table-hover table-bordered">
            @if (Model.liFeeStudentAccount != null)
            {
            <tr>
                <th width="50px">#</th>
                <th>
                    PARTICULARS
                </th>
                <th>
                    AMOUNT
                </th>
            </tr>
            foreach (var item in Model.liFeeStudentAccount)
            {
            <tr>
                <td width="50px">
                    @{ count++;}@count
                </td>
                <td>@item.HEAD</td>
                <td class="text-right"><i class="fa fa-inr"></i>@item.DEBIT</td>
            </tr>
                            }
            <tr>
                <td></td>
                <td class="text-right">TOTAL</td>
                <td class="text-right"><i class="fa fa-inr"></i>@Model.liFeeTransaction.FirstOrDefault().COLLECTED</td>
            </tr>
                            }
        </table>
    </div>
    <div class="col-md-8 col-lg-offset-2" style="page-break-inside:avoid;">
        <div class="col-md-4 col-lg-offset-1">
            <div class="m-b-10 pull-left">Cashier</div>
        </div>
        <div class="col-md-4 col-lg-offset-1">
            <div class="m-b-10 pull-right">Asst.Manager</div>
        </div>
    </div>
</div>
<hr />
<div style="page-break-after:always !important;page-break-inside:avoid !important;page-break-before:avoid !important;">
    <div class="col-md-8 col-lg-offset-2">
        <div class="pull-left">
            <h6>
                <label>Receipt No:</label>@Model.liFeeTransaction.FirstOrDefault().RECEIPT_NO
            </h6>
        </div>
        <div class="pull-right">
            <label>Date:</label>@Model.liFeeTransaction.FirstOrDefault().PAYMENT_DATE
        </div>
    </div>
    <div class="col-md-8 col-lg-offset-2">
        @if (Model.liCollegeDetails != null)
        {
            foreach (var item in Model.liCollegeDetails)
            {
        <center>
            <table>
                <tr>
                    <td><center><strong>@item.COLLEGE_NAME</strong></center></td>
                </tr>
                <tr>
                    <td><b> @item.GRADE</b></td>
                </tr>
                <tr>
                    <td class="text-center">
                        @item.UNIVERSITY
                    </td>
                </tr>
            </table>
        </center>
            }
        }
    </div>
    <div class="col-md-8 col-lg-offset-2">
        @if (Model.lstStudentPersonalInfo != null)
    {
        <table class="table-condensed" cellpadding="5">
            @foreach (var item in Model.lstStudentPersonalInfo)
            {
            <tr>
                <td><b>Name</b></td>
                <td><b>@item.FIRST_NAME</b></td>
                <td><b>Register No</b></td>
                <td>@item.REGISTER_NO</td>
            </tr>
            <tr>
                <td><b>Payment Type</b></td>
                <td>
                    @if (Model.liFeeTransaction != null && Model.liFeeTransaction.Count > 0)
                        {
                        @Model.liFeeTransaction.FirstOrDefault().PAYMENT_MODE
                        }
                </td>
                <td><b>Class</b></td>
                <td>@item.CLASS_CODE</td>
            </tr>
            }
        </table>
    }
    </div>
    <div class="col-md-8 col-lg-offset-2">
        <table class="table table-hover table-bordered">
            @if (Model.liFeeStudentAccount != null)
            {
            <tr>
                <th width="50px">#</th>
                <th>
                    PARTICULARS
                </th>
                <th>
                    AMOUNT
                </th>
            </tr>
            foreach (var item in Model.liFeeStudentAccount)
            {
            <tr>
                <td width="50px">
                    @{ count++;}@count
                </td>
                <td>@item.HEAD</td>
                <td class="text-right"><i class="fa fa-inr"></i>@item.DEBIT</td>
            </tr>
                            }
            <tr>
                <td></td>
                <td class="text-right">TOTAL</td>
                <td class="text-right"><i class="fa fa-inr"></i>@Model.liFeeTransaction.FirstOrDefault().COLLECTED</td>
            </tr>
                            }
        </table>
    </div>
    <div class="col-md-8 col-lg-offset-2">
        <div class="col-md-4 col-lg-offset-1">
            <div class="m-b-10 pull-left">Cashier</div>
        </div>
        <div class="col-md-4 col-lg-offset-1">
            <div class="m-b-10 pull-right">Asst.Manager</div>
        </div>
    </div>
</div>
