@model CMS.ViewModel.Model.PayUPost

@{
    ViewBag.Title = "Payment Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="content" id="content">
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active"></li>
    </ol>
    <h2 class="page-header"> Payment Details</h2>
    <div class="panel">
        <div class="panel-heading bg-primary">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Payment Details</h4>
        </div>
        <div class="panel-body">
            <form action="@Model.BASE_URL" id="frmPayUPost" method="post" class="col-lg-offset-3 col-lg-6 table-bordered">
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4 class="lead">Give Us Following Details</h4>
                    <hr />
                    @if (!string.IsNullOrEmpty(Model.sMessage))
                    {

                        <div class="alert-danger alert "> @Model.sMessage</div>
                    }
                    <input type="hidden" name="name" id="hdClientMessage" value="@Model.sMessage" />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.key, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.txnid, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control" } })

                    <div class="form-group">
                        @Html.LabelFor(model => model.amount, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control disabled", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.productinfo, new { htmlAttributes = new { @class = "form-control" } })
                    <div class="form-group">
                        @Html.LabelFor(model => model.firstname, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control disabled", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="email" name="email" value="@Model.email" required class="form-control" id="email" />
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.udf1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.udf2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.udf3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.udf4, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.udf5, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.salt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.hash, new { htmlAttributes = new { @class = "form-control" } })
                    <div class="form-group">
                        @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" name="phone" value="@Model.phone" class="form-control" id="phone" required max="10" min="10" pattern="[0-9]{10}" />
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.surl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.furl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.curl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.pg, new { htmlAttributes = new { @class = "form-control" } })
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" id="submit" value="Pay Now" class="btn btn-success " />
                            <a href='@Url.Action("ExamRegistration","Examination")' class="btn btn-default ">Back</a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


@section scripts{
    <script>
        $('#frmPayUPost').submit(function (e) {
            $.ajax({
                url: '@Url.Action("GetHashValue", "Fee")',
                data: { sStudentId: $('#udf1').val(), sFrequencyId: $('#udf2').val(), sEmail: $('#email').val(), sMobile: $('#phone').val(), sTxnid: $('#txnid').val() },
                method: 'post',
                async: false,
                success: function (objResultData) {
                    if (objResultData.ErrorCode == '200') {                        
                        $('#hash').val(objResultData.sResult);                        
                        var json = '{"key":"' + $('#key').val() + '","txnid":"' + $('#txnid').val() + '","amount":"' + $('#amount').val() + '","productinfo":"' + $('#productinfo').val() + '","firstname":"' + $('#firstname').val() + '","email":"' + $('#email').val() + '","phone":"' + $('#phone').val() + '","lastname":"' + $('#lastname').val() + '","address1":"' + $('#address1').val() + '","address2":"' + $('#address2').val() + '","city":"' + $('#city').val() + '","state":"' + $('#state').val() + '","country":"' + $('#country').val() + '","zipcode":"' + $('#zipcode').val() + '","udf1":"' + $('#udf1').val() + '","udf2":"' + $('#udf2').val() + '","udf3":"' + $('#udf3').val() + '","udf4":"' + $('#udf4').val() + '","udf5":"' + $('#udf5').val() + '","pg":"' + $('#pg').val() + '","hash":"' + $('#hash').val() + '"}';
                        $.ajax({
                            url: '@Url.Action("PayURequest", "Fee")',
                            data: { objInput: json },
                            method: 'post',
                            async: false,
                            success: function (objResult) {
                                if (objResult.Message == '') {
                                    return true;
                                } else {
                                    alert(objResult.Message);
                                    e.preventDefault();
                                }
                            },
                            error: function (xhr, textStatus, error) {
                                alert(error + "\n" + textStatus + error);
                                e.preventDefault();
                            }
                        });
                    } else {
                        alert(objResultData.Message);
                        e.preventDefault();
                    }
                },
                error: function (xhr, textStatus, error) {
                    alert(error + "\n" + textStatus + error);
                    e.preventDefault();
                }
            });
        });
        $(document).ready(function () {
            if ($('#hdClientMessage').val() != '') {
                $('#submit').hide();
            }

        });
        function  saveRequest() {
            
        }
    </script>


}
