@model IEnumerable<CMS.ViewModel.Model.fee_payu_response>

@{
    ViewBag.Title = "PayURefundList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section styles{
    <link href="~/Content/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Fee</a></li>
        <li class="active">PayU Refund List</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">PayU Refund List<small></small></h1>
    <!-- end page-header -->

    <div class="panel panel-info" id="panel">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" id="btnReload" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">PayU Refund List</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="payUtable">
                    <thead>
                        <tr>
                            <th>
                                #@{int count = 0;}
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.txnid)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.productinfo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.firstname)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.phone)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.udf2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.udf3)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.udf4)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.bank_ref_num)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.name_on_card)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.addedon)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
    {
                    <tr>
                        <td>@{ count++;}@count</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.txnid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.productinfo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.firstname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.phone)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.udf2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.udf3)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.udf4)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.bank_ref_num)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.name_on_card)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.addedon)
                        </td>

                    </tr>
}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    
    <script>
        $(document).ready(function () {

            $("#payUtable").DataTable();
        });
        
    </script>

}


