@model CMS.ViewModel.Model.fee_payu_response
@using CMS.Utility
@{
    ViewBag.Title = "PayU Repsponse";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="content" id="content">
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">Payment Details</li>
    </ol>
    <h2 class="page-header"> Payment Details</h2>
    <div class="panel">
        <div class="panel-heading bg-primary">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Payment Details</h4>
        </div>
        <div class="panel-body">
            <div class="col-lg-offset-3 col-lg-6 table-bordered" id="divPrint">
                <div class="form-horizontal">
                    <h4 class="lead"><img src="~/Content/assets/img/hcc-img/hcclogo.jpg" width="70px" style="box-shadow:1px 1px #eee;" class="img-circle img" alt="HCC Logo" /> St. Mary's College,Thoothukudi-620002</h4>
                    <hr />
                    <table class="table table-bordered">
                        <tr>
                            <td>Name</td>
                            <td>@Model.firstname</td>
                        </tr>
                        <tr>
                            <td>Register No</td>
                            <td>@Model.udf4</td>
                        </tr>
                        <tr><td>Payment Mode </td><td>@Model.PG_TYPE</td></tr>
                        <tr><td>Head </td><td>@Model.productinfo</td></tr>
                        <tr>
                            <td>Paid Amount  </td>
                            <td>@Model.amount</td>
                        </tr>
                        <tr>
                            <td> Status</td>
                            <td>
                                @if (Model.status.ToLower() != "success")
                            {
                                <label class="label label-danger lead" style="font-size:12px;">@Model.status</label>
                            }
                            else
                            {
                                <label class="label label-success lead" style="font-size:12px;">@Model.status</label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Message</td>
                        <td>
                            @if (Model.status.ToLower() != "success")
                        {
                            <label class="label label-danger lead" style="font-size:12px;">@Model.error_Message</label>
                        }
                        else
                        {
                            <label class="label label-success lead" style="font-size:12px;">@Model.error_Message</label>
                        }
                    </td>
                </tr>
                <tr><td>Transaction Id </td><td>@Model.txnid</td></tr>
            </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-6 p-l-0 p-t-5">
            <input type="button" id="submit" value="Print" class="btn btn-success " onclick="printDiv('divPrint')" />
            <a href='@Url.Action("ExamRegistration","Examination")' class="btn btn-default ">Back</a>
        </div>
    </div>
</div>
</div>
</div>
@section Scripts{
    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;

        }
    </script>
}
