@model List<CMS.ViewModel.Model.FEE_STUDENT_ACCOUNT>

@{
    ViewBag.Title = "RazorPayPaymentResponse";
    //  Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
    Layout = null;
}

<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Fee</a></li>
        <li class="active">Payment Response</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Payment Response<small></small></h1>
    <!-- end page-header -->
    <div class="form-horizontal">
        <div class="panel panel-primary">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Payment Response</h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="col-md-8 col-lg-offset-2">
                        @{
                            if (Model != null && Model.Count > 0)
                            {
                                var feeFrequencies = Model.GroupBy(x => x.TRANSACTION_ID);

                                foreach (var frequencyItem in feeFrequencies)
                                {
                                    var feeTransactions = Model.Where(x => x.TRANSACTION_ID == frequencyItem.FirstOrDefault().TRANSACTION_ID);
                                    <div style="page-break-after:always !important;page-break-inside:avoid !important;">
                                        <div class="col-md-10">
                                            <center>
                                                <img src="/Content/assets/img/hcc-img/hcclogo.jpg" width="75px;" class=" ">
                                                <table>
                                                    <tr>
                                                        <td><center><strong>St. Mary's College(Autonomous), Thoothukudi</strong></center></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b><center>Re-accredited with 'A+' Grade by NAAC</center></b></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">(Affiliated to Manonmaniam Sundaranar  University, Tirunelveli)</td>
                                                    </tr>

                                                </table>
                                            </center>
                                        </div>
                                        <table class="table table-bordered table-hover" width="100%">
                                            <tr>
                                                <td>Name</td>
                                                <td>@feeTransactions.FirstOrDefault().FIRST_NAME.ToUpper()</td>
                                            </tr>

                                            <tr><td>Receipt No </td><td>@feeTransactions.FirstOrDefault().RECEIPT_NO</td></tr>
                                            <tr><td>Transaction Date </td><td>@feeTransactions.FirstOrDefault().TRANSACTION_DATE</td></tr>
                                            <tr><td>Programme Name </td><td>@feeTransactions.FirstOrDefault().PROGRAMME_NAME</td></tr>
                                            <tr><td>Status </td><td><b>@feeTransactions.FirstOrDefault().STATUS</b></td></tr>
                                            @*@if (feeTransactions.FirstOrDefault().UDF2 == CMS.Utility.Common.FrequencyType.AdmissionApplicationFee)
                                            {
                                                <tr><td>@feeTransactions.FirstOrDefault().HEAD_NAME </td><td><i class="fa fa-rupee"></i>@feeTransactions.Sum(o => Convert.ToDouble(o.BALANCE))</td></tr>
                                            }
                                            else
                                            {*@
                                                @foreach (var item in feeTransactions)
                                                {
                                                    <tr><td>@item.HEAD_NAME  </td><td><i class="fa fa-rupee"></i> @item.BALANCE</td></tr>
                                                }
                                            @* } *@
                                            <tr><td>Total </td><td><b><i class="fa fa-rupee"></i> @feeTransactions.Sum(o => Convert.ToDouble(o.BALANCE))</b></td></tr>
                                        </table>
                                    </div>
                                }
                            }
                            else
                            { <table class="table table-bordered table-hover" width="100%">
                                    <tr><td>Erorr Message</td><td>Your Account is not available, Please meet software admin. </td></tr>
                                </table>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-8 col-lg-offset-4">
                    <div class="btn-group col-md-2" role="group" aria-label="Basic example">
                        <a href="#" onclick="loadContent('/Fee/FeeBalanceList')" title="Click here for your payment receipt" class="btn btn-primary">View Receipt</a>
                    </div>
                    <div class="btn-group col-md-2" role="group" aria-label="Basic example">
                        <a href="#" onclick="loadContent('/DASHBOARD/Applicant')" class="btn btn-primary" title="Click here for your application status">Dashboard</a>
                    </div>
                    <div class="btn-group col-md-3" role="group" aria-label="Basic example">
                        <a href="#" onclick="loadContent('/Admission/index')" title="Click here for your application form" class="btn btn-primary">Application Form </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function ContentLoad() {

    }
</script>


