@model CMS.ViewModel.ViewModel.FeeViewModel

@{
    ViewBag.Title = "SupHeadList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section styles{
    <link href="~/Content/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
}


<div is="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action("Staff","Dashboard")">Home</a></li>
        <li class="active">List Head</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">List Head</h1>
    <!-- end page-header -->

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h3 class="panel-title">List Head</h3>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <a class="btn bg-green pull-right" title="Add Sup Head" data-toggle="modal" href="#Head-dialog"><i class="fa fa-plus"></i> Add</a>
            </div><br /><br />
            
            <div class="form-group">
                @{ int count = 0;}
                <table class="table table-hover table-responsive" id="Sup_Head">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Head Name</th>
                            <th>Fee Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.liSup_Head != null)
                        {
                            foreach (var item in Model.liSup_Head)
                            {
                                <tr>
                                    <td>@{count++;} @count</td>
                                    <td>@Html.DisplayFor(modelItem => item.HEAD)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FEE_CATEGORY)</td>
                                    <td>
                                        <a href="#Head-dialog" data-toggle="modal" onclick="HeadDetails(@item.HEAD_ID)" title="Click To Edit"><i class="fa fa-edit text-primary"></i></a>
                                        <a href="javascript:;" onclick="GetConfirm(@item.HEAD_ID)" title="CliCk To Delete"><i class="fa fa-trash text-danger"></i></a>
                                    </td>
                                </tr>
                               }
                           }
                           else
                           {
                               <tr>
                                   <td>No Data Found ...</td>
                               </tr>
                           }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="~/Content/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="~/Content/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Content/pagejs/supportdata/supheadlist.js"></script>  
    <script>
        $(document).ready(function () {
            init();
        });
    </script>
}

<div class="modal fade" id="Head-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add / Edit</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <label class="control-label col-md-3">Head Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-sm" id="Name" placeholder="Enter Head Name" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Fee Category</label>
                            <div class="col-md-9">
                                <select id="Category" class="form-control">
                                    <option value="0">-- Select --</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="btnSave" class="btn btn-sm btn-primary" data-dismiss="modal">Save</a>
                <a href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>