@model CMS.ViewModel.ViewModel.StudentViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<section class="content-header">
    <h1>   

        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Pace page</li>
    </ol>
</section>

<section class="body-content">

    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Student Admission</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("Save", "Student", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row col-md-12">
                            <b>  Official Details</b>
                            <hr />
                            <div class="row">

                                <div class="form-group col-md-4">
                                    <div class=" ">
                                        @Html.LabelFor(model => model.objStudent.REGISTER_NO, htmlAttributes: new { @class = "small" })
                                        <div class="">
                                            @Html.EditorFor(model => model.objStudent.REGISTER_NO, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.objStudent.REGISTER_NO, "", new { @class = "text-danger" })                                                                                             
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.ADMISSION_DATE, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.ADMISSION_DATE, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.ADMISSION_DATE, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.COURSE_TYPE, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.DropDownList("ddlCourseType", Model.CourseTypeItems, "---Select---", new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(model => model.objStudent.COURSE_TYPE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.BATCH_ID, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.BATCH_ID, new { htmlAttributes = new { @class = "form-control", data_toggle = "tooltip", data_placement = "top", title = "" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.BATCH_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group col-md-4">
                                    @Html.Label("Shift", htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.COURSE_TYPE, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.COURSE_TYPE, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.DEPARTMENT_ID, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.DEPARTMENT_ID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.DEPARTMENT_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.COURSE_ID, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.COURSE_ID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.COURSE_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>





                                <div class="form-group col-md-4">

                                    @Html.LabelFor(model => model.objStudent.ROLL_NO, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.ROLL_NO, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.ROLL_NO, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="row col-md-12">
                            <b>Personal Details</b>
                            <hr />
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.FIRST_NAME, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.FIRST_NAME, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.FIRST_NAME, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.LAST_NAME, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.LAST_NAME, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.LAST_NAME, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.GENDER_ID, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.GENDER_ID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.GENDER_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.DOB, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.DOB, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.DOB, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.BLOOD_GROUP_ID, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.BLOOD_GROUP_ID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.BLOOD_GROUP_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.BIRTH_PLACE, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.BIRTH_PLACE, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.BIRTH_PLACE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.RELIGION_ID, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.RELIGION_ID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.RELIGION_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!--Mother tongue,Nationality, cast , community-->
                            </div>
                        </div>

                        <div class="row col-md-12">
                            <b>Contact Details</b>
                            <hr />
                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.objStudent.PERMANENT_ADDRESS, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.PERMANENT_ADDRESS, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.PERMANENT_ADDRESS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.objStudent.PRESENT_ADDRESS, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.PRESENT_ADDRESS, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.PRESENT_ADDRESS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.COUNTRY, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.COUNTRY, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.COUNTRY, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.STATE, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.STATE, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.STATE, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.CITY, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.CITY, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.CITY, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.PINCODE, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.PINCODE, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.PINCODE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.STUDENT_MOBILE, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.STUDENT_MOBILE, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.STUDENT_MOBILE, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.EMAIL, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.EMAIL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.IMG_PATH, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.IMG_PATH, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.IMG_PATH, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row col-md-12">
                            <b>Parent's Details</b>
                            <hr />
                            <div class="row">

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.FATHER_NAME, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.FATHER_NAME, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.FATHER_NAME, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.FATHER_MOBILE, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.FATHER_MOBILE, new { htmlAttributes = new { @class = "form-control", @title = "Enter Father's mobile number" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.FATHER_MOBILE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.FARTHER_EMAIL, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.FARTHER_EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.FARTHER_EMAIL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.MOTHER_NAME, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.MOTHER_NAME, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.MOTHER_NAME, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.MOTHER_MOBILE, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.MOTHER_MOBILE, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.MOTHER_MOBILE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.MOTHER_EMAIL, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.MOTHER_EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.MOTHER_EMAIL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.IS_GUARDIAN_AVAILABLE, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.IS_GUARDIAN_AVAILABLE, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.IS_GUARDIAN_AVAILABLE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.GUARDIAN_NAME, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.GUARDIAN_NAME, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.GUARDIAN_NAME, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.GUARDIAN_MOBILE, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.GUARDIAN_MOBILE, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.GUARDIAN_MOBILE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.GUARDIAN_EMAIL, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.GUARDIAN_EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.GUARDIAN_EMAIL, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.ANNUAL_INCOME, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.ANNUAL_INCOME, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.ANNUAL_INCOME, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <b>Other Details</b>
                            <hr />
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.IS_FIRST_LEARNER, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.IS_FIRST_LEARNER, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.IS_FIRST_LEARNER, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.IS_PHYSICALLY_CHALLENGED, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.IS_PHYSICALLY_CHALLENGED, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.IS_PHYSICALLY_CHALLENGED, "", new { @class = "text-danger" })
                                    </div>
                                </div>



                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.LAST_STUDIED_SCHOOL, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.LAST_STUDIED_SCHOOL, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.LAST_STUDIED_SCHOOL, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.PERSONAL_MARK1, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.PERSONAL_MARK1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.PERSONAL_MARK1, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.PERSONAL_MARK2, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.PERSONAL_MARK2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.PERSONAL_MARK2, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.objStudent.CONDUCT_INFO, htmlAttributes: new { @class = "small" })
                                    <div class="">
                                        @Html.EditorFor(model => model.objStudent.CONDUCT_INFO, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.objStudent.CONDUCT_INFO, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <div class=" ">
                                <input type="submit" value="Save" class="btn btn-success" />
                                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
                            </div>
                        </div>

                    </div>
                }

                <div>

                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

    </section>


</section>

<script>
    alert();
    $('#objStudent_ADMISSION_DATE').datepicker({
        dateFormat: "dd/mm/yyyy",
        changeMonth: true,
        changeYear: true,
        yearRange: "-60:+0",
        autoclose: true,
        orientation:"down"

    });

</script>

