@model IEnumerable<CMS.ViewModel.Model.StudentIssueEtc>

<div id="dvTCIssue">
    <div class="row">
        <div class="form-group pull-right">
            <a href="#TCIssue-dialog" class="btn btn-sm btn-success pull-right" data-toggle="modal"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <div class="table-responsive row">
        @{int count = 0;}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>TC produce Number</th>
                    <th>TC Produce Date</th>
                    <th>TC Issue Number</th>
                    <th>TC Issue Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                 <tr>
                     <td>@{count++;} @count</td>
                     <td>@Html.DisplayFor(modelItem => item.TCproduceNumber)</td>
                     <td>@Html.DisplayFor(modelItem => item.TCProduceDate)</td>
                     <td>@Html.DisplayFor(modelItem => item.TCIssueNumber)</td>
                     <td>@Html.DisplayFor(modelItem => item.TCIssueDate)</td>
                     <td>
                         <a href="#TCIssue-dialog" onclick="GetTCIssueValues(@item.sTCIssueId)" data-toggle="modal" class="fa fa-edit text-primary"></a>
                         <a href="javascript:;" onclick="GetConfirm(@item.sTCIssueId)" class="fa fa-trash text-danger"></a>
                     </td>
                 </tr>
                 }
             }
             else
             {
                 <tr>
                     <td>No Data Found ...!</td>
                 </tr>
             }

            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $("#btnEditTCIssue").hide();
            ////FormMultipleUpload.init();
            handleDatePicker = function () {
                "use strict";
                $("#TCProduceDate,#TCIssueDate").datepicker({
                    todayHighlight: true,
                    autoclose: true,
                    endDate: new Date(),
                    format: "dd/mm/yyyy",
                    orientation: "right bottom"
                    // 'top': top,
                    // 'left': left
                });
            }
            handleDatePicker();
        });


        // Bind Issue Values ...
        GetTCIssueValues=function(ID)
        {
            $.ajax({
                url:"@Url.Action("BindIssueEtc", "Student")",
                method:"POST",
                datatype:"json",
                data: { sTCIssueId: ID },
                success:function(data)
                {
                    $("#TCproduceNumber").val(data.TCproduceNumber);
                    $("#TCProduceDate").val(data.TCProduceDate);
                    $("#TCIssueNumber").val(data.TCIssueNumber);
                    $("#TCIssueDate").val(data.TCIssueDate);
                    $("#btnEditTCIssue").show();
                    $("#btnTCIssue").hide();
                }, error: function (Error)
                {
                    alert(Error);
                }
            });
        }

        // Fetch Student TCIssue ...
        GetStuTcIssue = function ()
        {
            $.ajax({
                url:"@Url.Action("AddStuTcIssueInfo", "Student")",
                method:"POST",
                datatype:"json",
                success:function(data)
                {
                    $("#dvTCIssue").empty();
                    $("#dvTCIssue").append(data);
                },error:function(error)
                {
                    alert(error);
                }
            });
        }

        // Delete TCIssue ...
        function GetConfirm(ID)
        {
            if (!confirm('Are you sure to delete ?'))
            {
                return false;
            } else
            {
                $.ajax({
                    url:"@Url.Action("DeleteIssueEtc", "Student")",
                    method: "POST",
                    datatype:"json",
                    data: { sTCIssueId: ID },
                    success:function(data)
                    {
                        alert(data);
                        GetStuTcIssue();
                    },error:function(error)
                    {
                        alert(error);
                    }
                });
            }
        }

        // Insert TCIssueEtc ...
        $("#btnTCIssue").on("click", function ()
        {
            var isValid = true;
            if ($('#nav-tab1-14').parsley().validate() !== true) isValid = false;
            if (!isValid) {
                //gritter-info,danger,success,warning,default
                myAlert('Something went wrong ! Please check your inputs !', 'gritter-warning', '');
                return false;
            }
            var TCproduceNumber = $("#TCproduceNumber").val();
            var TCProduceDate = $("#TCProduceDate").val();
            var TCIssueNumber = $("#TCIssueNumber").val();
            var TCIssueDate = $("#TCIssueDate").val();
            var JsonData;
            if (JsonData == null)
            {
                JsonData = '{"TCproduceNumber":"' + TCproduceNumber + '","TCProduceDate":"' + TCProduceDate + '","TCIssueNumber":"' + TCIssueNumber + '","TCIssueDate":"' + TCIssueDate + '"}';
            }
        
            $.ajax({
                url:"@Url.Action("InsertIssueEtc", "Student")",
                method: "POST",
                datatype: "html",
                data: { JsonTCIssue: JsonData },
                success:function(data)
                {
                    alert(data);
                    GetStuTcIssue();
                }, error: function (error)
                {
                    alert('Session time out try again ...!');
                }
            });
        });

        // Update TCIssueEtc ...
        $("#btnEditTCIssue").on("click", function ()
        {
            var isValid = true;
            if ($('#nav-tab1-14').parsley().validate() !== true) isValid = false;
            if (!isValid) {
                //gritter-info,danger,success,warning,default
                myAlert('Something went wrong ! Please check your inputs !', 'gritter-warning', '');
                return false;
            }
            var TCproduceNumber = $("#TCproduceNumber").val();
            var TCProduceDate = $("#TCProduceDate").val();
            var TCIssueNumber = $("#TCIssueNumber").val();
            var TCIssueDate = $("#TCIssueDate").val();
            var JsonData;
            if (JsonData == null)
            {
                JsonData = '{"TCproduceNumber":"' + TCproduceNumber + '","TCProduceDate":"' + TCProduceDate + '","TCIssueNumber":"' + TCIssueNumber + '","TCIssueDate":"' + TCIssueDate + '"}';
            }
        
            $.ajax({
                url:"@Url.Action("UpdateIssueEtc", "Student")",
                method: "POST",
                datatype: "html",
                data: { JsonTCIssue: JsonData },
                success:function(data)
                {
                    alert(data);
                    GetStuTcIssue();
                }, error: function (error)
                {
                    alert('Session time out try again ...!');
                }
            });
        });
    </script>
</div>


<div class="modal fade" id="TCIssue-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Tc Issue Details</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="form-horizontal">

                            <div class="col-md-12">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label class="control-label col-md-3">TC produce Number</label>
                                    <div class="col-md-9">
                                        <input type="text" placeholder="TC Produce Number" id="TCproduceNumber" class="form-control input-sm" data-parsley-required="true" data-parsley-length="[1,15]" data-parsley-type="alphanum"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">TC produce Date</label>
                                    <div class="col-md-9">
                                        <div class="input-group date" id="datetimepicker1">
                                            <input type="text" placeholder="TC Produce Date" id="TCProduceDate" class="form-control input-sm" data-parsley-required="true"/>
                                            <span class="input-group-addon bg-purple"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">TC Issue Date</label>
                                    <div class="col-md-9">
                                        <div class="input-group date" id="datetimepicker1">
                                            <input type="text" placeholder="TC Issue Date" id="TCIssueDate" class="form-control input-sm" data-parsley-required="true"/>
                                            <span class="input-group-addon bg-purple"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">TC Issue Number</label>
                                    <div class="col-md-9">
                                        <input type="text" placeholder="TC Issue Number" id="TCIssueNumber" class="form-control input-sm" data-parsley-required="true" data-parsley-length="[1,15]" data-parsley-type="alphanum"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="btnTCIssue" class="btn btn-sm btn-primary" data-dismiss="modal">Submit</a>
                <a href="javascript:;" id="btnEditTCIssue" class="btn btn-sm btn-primary" data-dismiss="modal">Update</a>
                <a href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>