@model IEnumerable<CMS.ViewModel.Model.StudentActivity>

<div id="dvActivity" class="form-horizontal row">
    <div class="row">
        <div class="form-group pull-right">
            <div class="col-md-12 pull-right">
                <a href="#Activity-dialog" class="btn btn-sm btn-success" data-toggle="modal"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        @{int count = 0; }
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Post Held</th>
                    <th>Initiative Shown</th>
                    <th>Participation</th>
                    <th>Date From</th>
                    <th>Date To</th>
                    <th>Extra Activity</th>
                    <th>Position Obtained</th>
                    <th>Student Activity</th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.ActivityImg1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ActivityImg2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ActivityImg3)
                        </th>*@
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@{count++;} @count</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostHeld)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InitiativeShown)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Participation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateFrom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExtraActivity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.positionObtained)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StuActivity)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.ActivityImg1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActivityImg2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActivityImg3)
                            </td>*@
                            <td>
                                <a href="#Activity-dialog" onclick="BindControles(@item.ActivityId)" data-toggle="modal"><i class="fa fa-edit text-primary"></i></a>
                                <a href="#" onclick='return GetConfirmation(@item.ActivityId);'><i class="fa fa-trash text-danger"></i></a>
                                @*<a id='liBtnActive' href='AcademicYearList?active={0}' onclick='return GetConfirmation(this);'><i class='fa {1}'></i></a>";*@
                            </td>
                        </tr>
                     }
                 }
                 else
                 {
                     <tr>
                         <td>No Data Found ...!</td>
                     </tr>
                 }

            </tbody>
        </table>

        <script>
            $(document).ready(function ()
            {
                    $("#btnEditActivity").hide();
                    ////FormMultipleUpload.init();
                    handleDatePicker = function ()
                    {
                        "use strict";
                        $("#DateTo,#DateFrom").datepicker({
                            todayHighlight: true,
                            autoclose: true,
                            endDate: new Date(),
                            format: "dd/mm/yyyy",
                            orientation: "right bottom"
                            // 'top': top,
                            // 'left': left
                        });
                    }
                    handleDatePicker();

                    GetDDLActivity = function ()
                    {
                        $.ajax({
                            url: "@Url.Action("BindActivityDDL", "Student")",
                            method: "POST",
                            datatype: "json",
                            success: function (option)
                            {
                                $("#ddlActivity").empty();
                                $("#ddlActivity").append('<option value="">-- select --</option>' + option);

                            }, error: function (error)
                            {
                                alert(error);
                            }
                        });
                    }
                    GetDDLActivity();
            });

            // Delete Confirm ...
            function GetConfirmation(ID)
            {
                if (!confirm('Are you sure to delete ?'))
                {
                    return false;
                }else {
                    $.ajax({
                        url:"@Url.Action("DeleteActivity", "Student")",
                        method:"POST",
                        datatype: "json",
                        data: { sActivityId: ID },
                        success:function(data)
                        {
                            alert(data);
                            GetActivityList();
                        },error:function(error)
                        {
                            alert(error);
                        }
                    });
                }
            }
                // Get Family List
                GetActivityList=function()
                {
                    $.ajax({
                        url:"@Url.Action("AddStuActivityInfo", "Student")",
                        method:"POST",
                        datatype:"json",
                        success:function(data)
                        {
                            $("#dvActivity").empty();
                            $("#dvActivity").append(data);
                        },error:function(error)
                        {
                            alert('No Data Found ...!');
                        }
                    });
                }
           

                //Bind Activity Details ...
                var BindControles = function (ID) {                    
                    $.ajax({
                        url: "@Url.Action("FetchActivity", "Student")",
                        method: "POST",
                        datatype: "json",
                        data: { sStudentID: ID },
                        success: function (data) {
                            $("#ddlPostHeld").val(data.PostHeld);
                            $("#txtInitiativeShown").val(data.InitiativeShown);
                            $("#txtParticipation").val(data.Participation);
                            $("#ddlActivity").val(data.StuActivity);
                            $("#DateFrom").val(data.DateFrom);
                            $("#DateTo").val(data.DateTo);
                            $("#ExtraActivity").val(data.ExtraActivity);
                            $("#ddlPositionObtained").val(data.positionObtained);
                            $("#ActivityImage1").val(data.ActivityImg1);
                            $("#ActivityImage2").val(data.ActivityImg2);
                            $("#ActivityImage3").val(data.ActivityImg3);
                            $("#btnEditActivity").show();
                            $("#btnStuActivity").hide();
                        }, error: function (error) {
                            alert('Server Error ...!');
                        }
                    });
                }
            // Add Activity ...
            $("#btnStuActivity").on("click", function ()
            {
                var isValid = true;
                if ($('#nav-tab1-5').parsley().validate() !== true) isValid = false;
                if (!isValid) {
                    //gritter-info,danger,success,warning,default
                    myAlert('Something went wrong ! Please check your inputs !', 'gritter-warning', '');
                    return false;
                }
               var PostHeld = '';
               PostHeld = $("#ddlPostHeld").val();
               var InitiativeShown = $("#txtInitiativeShown").val();
               var participation = $("#txtParticipation").val();
               var Activity = $("#ddlActivity").val();
               var DateFrom = $("#DateFrom").val();
               var DateTo = $("#DateTo").val();
               var ExtraActivity = $("#ExtraActivity").val();
               var PositionObtained = $("#ddlPositionObtained").val();
               var ActivityImg1 = $("#ActivityImage1").val();
               var ActivityImg2 = $("#ActivityImage2").val();
               var ActivityImg3 = $("#ActivityImage3").val();
               var JsonData;
               if (JsonData==null) 
               {
                   JsonData = '{"PostHeld":"' + PostHeld + '","InitiativeShown":"' + InitiativeShown + '","participation":"' + participation + '","StuActivity":"' + Activity + '","DateFrom":"' + DateFrom + '","DateTo":"' + DateTo + '","ExtraActivity":"' + ExtraActivity + '","PositionObtained":"' + PositionObtained + '","ActivityImg1":"' + ActivityImg1 + '","ActivityImg2":"' + ActivityImg2 + '","ActivityImg3":"' + ActivityImg3 + '"}';
               }
               $.ajax({
                   url: "@Url.Action("InsertStudentActivity", "Student")",
                   method: "POST",
                   datatype: "json",
                   data: { str: JsonData },
                   success:function(data)
                   {
                       alert(data);
                       GetActivityList();
                   },error:function(error)
                   {
                       alert(error);
                   }
               });
            });

            // Edit Activity ...
            $("#btnEditActivity").on("click", function ()
            {
                var isValid = true;
                if ($('#nav-tab1-5').parsley().validate() !== true) isValid = false;
                if (!isValid) {
                    //gritter-info,danger,success,warning,default
                    myAlert('Something went wrong ! Please check your inputs !', 'gritter-warning', '');
                    return false;
                }
                var PostHeld =$("#ddlPostHeld").val();
                var InitiativeShown = $("#txtInitiativeShown").val();
                var participation = $("#txtParticipation").val();
                var Activity = $("#ddlActivity").val();
                var DateFrom = $("#DateFrom").val();
                var DateTo = $("#DateTo").val();
                var ExtraActivity = $("#ExtraActivity").val();
                var PositionObtained = $("#ddlPositionObtained").val();
                var ActivityImg1 = $("#ActivityImage1").val();
                var ActivityImg2 = $("#ActivityImage2").val();
                var ActivityImg3 = $("#ActivityImage3").val();
                var JsonData;
                if (JsonData==null) 
                {
                    JsonData = '{"PostHeld":"' + PostHeld + '","InitiativeShown":"' + InitiativeShown + '","participation":"' + participation + '","StuActivity":"' + Activity + '","DateFrom":"' + DateFrom + '","DateTo":"' + DateTo + '","ExtraActivity":"' + ExtraActivity + '","PositionObtained":"' + PositionObtained + '","ActivityImg1":"' + ActivityImg1 + '","ActivityImg2":"' + ActivityImg2 + '","ActivityImg3":"' + ActivityImg3 + '"}';
                }
                $.ajax({
                    url: "@Url.Action("EditActivity", "Student")",
                    method: "POST",
                    datatype: "json",
                    data: { str: JsonData },
                    success:function(data)
                    {
                        alert(data);
                        GetActivityList();
                    },error:function(error)
                    {
                        alert(error);
                    }
                });
            });
        </script>
    </div>
</div>


<div class="modal fade" id="Activity-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Student Activity</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="form-horizontal">
                            <div class="col-md-12">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @*<div class="form-group">
                                    <label class="control-label col-md-3">Post Held</label>
                                    <div class="col-md-8">
                                        <select class="form-control input-sm" id="ddlPostHeld">
                                            <option value="0"> -- select --</option>
                                        </select>
                                    </div>
                                </div>*@

                                <div class="form-group">
                                    <label class="control-label col-md-3">Initiative Shown</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" id="txtInitiativeShown" placeholder="Initiative Shown" data-parsley-length="[3,50]" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">Participation</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" id="txtParticipation" placeholder="Participation" data-parsley-length="[3,50]" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">Activity</label>
                                    <div class="col-md-8">
                                        <select class="form-control input-sm" id="ddlActivity" data-parsley-required="true">
                                            <option value=""> -- select --</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">Date From</label>
                                    <div class="col-md-8">
                                        <div class="input-group date" id="datetimepicker1">
                                            <input type="text" class="form-control input-sm" id="DateFrom" placeholder="Select Date" data-parsley-required="true" />
                                            <span class="input-group-addon bg-purple"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">Date To</label>
                                    <div class="col-md-8">
                                        <div class="input-group date" id="datetimepicker1">
                                            <input type="text" class="form-control input-sm" id="DateTo" placeholder="Select Date" data-parsley-required="true" />
                                            <span class="input-group-addon bg-purple"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">Extra Activity</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" id="ExtraActivity" placeholder="Extra Extra" data-parsley-length="[3,50]" />
                                    </div>
                                </div>

                                   @*<div class="form-group">
                                    <label class="control-label col-md-3">Position Obtained</label>
                                    <div class="col-md-8">
                                        <select class="form-control input-sm" id="ddlPositionObtained">
                                            <option value="0"> -- select --</option>
                                        </select>
                                    </div>
                                </div>*@

                                 @*<div class="form-group">
                                    <label class="control-label col-md-3">Activity Image1</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" id="ActivityImage1" placeholder="Activity Image" required />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">Activity Image2</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" id="ActivityImage2" placeholder="Activity Image" required />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class = "control-label col-md-3">Activity Image3</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" id="ActivityImage3" placeholder="Activity Image" required />
                                    </div>
                                </div>*@

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="btnStuActivity" class="btn btn-sm btn-primary" data-dismiss="modal">Submit</a>
                <a href="javascript:;" id="btnEditActivity" class="btn btn-sm btn-primary" data-dismiss="modal">Update</a>
                <a href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>