@model CMS.ViewModel.ViewModel.StudentViewModel

@{int count = 0;}
<table class="table table-responsive table-hover" id="ClassList">
    <thead>
        <tr>
            <th>#</th>
            <th>Current Class</th>
            <th class="hidden">Current ClassId</th>
            <th>Class For Promotion</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model.lstStudentPromotion)
            {
                <tr>
                    <td>
                        @{ count++;}@count
                    </td>
                    <td>@item.CLASS_CODE</td>
                    <td class="hidden" cms-cclassid="@item.CLASS_ID">@item.CLASS_ID</td>
                    <td>
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.ClassList, Model.ClassList, "-- Select --", new { @class = "form-control input-sm", id = "ddlClassForPromotion" })
                            @Html.ValidationMessageFor(model => model.ClassList, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
                                }
                            }
    </tbody>
</table>
