@model CMS.ViewModel.Model.BonafideCertificate

@{
    ViewBag.Title = "BonafideCertificate";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section styles{
    <link href="~/Content/assets/plugins/multi-select/multiselect.css" rel="stylesheet" />
}

<div class="content" id="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action("STUDENT","DashBoard")">Home</a></li>
        <li class="active">Bonafide Certificate</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Bonafide Certificate</h1>
    <!-- end page-header -->
    <div class="panel panel-primary" data-sortable-id="ui-general-1">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Bonafide Certificate</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group pull-right">
                        <a href="#Bonafide-dialog" class="btn btn-sm btn-success pull-right" data-toggle="modal"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div id="Bonafide">
                        <div class="modal fade" id="Bonafide-dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title">Bonafide Certificate</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ROLL_NO, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.ROLL_NO, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Student Roll No" } })
                                                @Html.ValidationMessageFor(model => model.ROLL_NO, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Student Name" } })
                                                @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FATHER_NAME, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.FATHER_NAME, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Father Name" } })
                                                @Html.ValidationMessageFor(model => model.FATHER_NAME, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CLASS, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.CLASS, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Class" } })
                                                @Html.ValidationMessageFor(model => model.CLASS, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DURING_YEAR, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.DURING_YEAR, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "During Year" } })
                                                @Html.ValidationMessageFor(model => model.DURING_YEAR, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.Student_Id, new { htmlAttributes = new { @class = "form-control input-sm hidden" } })
                                                @Html.ValidationMessageFor(model => model.Student_Id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <a id="btnSubmit" class="btn btn-primary">Submit</a>
                                        <a id="btnPrint" class="btn btn-success " data-dismiss="modal">Print View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <br /><br /><br />
                    <div class="form-horizontal" id="Report">
                        <iframe id="iReport" class="col-lg-12" style="height:660px;"></iframe>
                    </div>

                </div>
            }
        </div>
    </div>

</div>

@section scripts {
    <script src="~/Content/assets/plugins/multi-select/multiselect-js.js"></script>
    <script>
        $('#btnSubmit').on('click', function ()
        {
            var ROLL_NO=$('#ROLL_NO').val();
            var NAME=$('#NAME').val();
            var CLASS=$('#CLASS').val();
            var FATHER_NAME=$('#FATHER_NAME').val();
            var DURING_YEAR = $('#DURING_YEAR').val();
            var JsonData;
            if (JsonData==null) 
            {
                JsonData = '{"ROLL_NO":"' + ROLL_NO + '","NAME":"' + NAME + '","CLASS":"' + CLASS + '","FATHER_NAME":"' + FATHER_NAME + '","DURING_YEAR":"' + DURING_YEAR + '"}';
            }
            $.ajax({
                url:"@Url.Action("InsertBonafideCertificate", "Student")",
                datatype: "json",
                method: "POST",
                data: { BonafideCertificate: JsonData },
                success:function(data)
                {
                    $('#Student_Id').val(data.Student_Id);
                    alert(data.sResult);
                    
                },error:function(error)
                {
                    alert('Failed');
                }
            });
        });
        $('#btnPrint').on('click', function ()
        {
            $("#Report").removeClass("hidden");
            var StudentId = $('#Student_Id').val();
            $('#iReport').attr('src', '../RDLCPages/BonafideCertificate.aspx?sStudentIds=' + $('#Student_Id').val());
        });

    </script>
}


