@model CMS.ViewModel.Model.StudentInfo
    @using CMS.Utility;

@{
    ViewBag.Title = "EditStudentInfomation";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section styles{

    <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="~/Content/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL CSS STYLE ================== -->
 
}
<div class="content" id="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action("ADMIN","DashBoard")">Home</a></li>
        <li><a href="@Url.Action("StudentList","Student")">List Students</a></li>
        <li class="active">Edit Student Details</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Edit Student Details</h1>
    <!-- end page-header -->
    <!-- begin panel -->
    <div class="panel panel-default panel-with-tabs" data-sortable-id="ui-unlimited-tabs-2">
        <div class="panel-heading p-0">
            <div class="panel-heading-btn m-r-10 m-t-10">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-inverse" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            </div>
            <!-- begin nav-tabs -->
            <div class="tab-overflow" data-parsley-validate="true" name="form-wizard">
                <ul class="nav nav-tabs">
                    <li class="prev-button"><a href="javascript:;" data-click="prev-tab" aria-controls="first" class="text-inverse"><i class="fa fa-arrow-left"></i></a></li>
                    <li class="active"><a href="#nav-tab2-1" data-toggle="tab" aria-controls="second">Acadamic Details</a></li>
                    <li class="" id="Personal"><a href="#nav-tab2-2" data-toggle="tab">Personal Details</a></li>
                    <li class="" id="Parents"><a href="#nav-tab2-3" data-toggle="tab">Parents Details</a></li>
                    <li class="" id="Address"><a href="#nav-tab2-4" data-toggle="tab">Address Details</a></li>
                    <li class="" id="Activity"><a href="#nav-tab2-5" data-toggle="tab">Activity Details</a></li>
                    <li class="" id="Certificate"><a href="#nav-tab2-6" data-toggle="tab">Certificate Details</a></li>
                    <li class="" id="AccountInfo"><a href="#nav-tab2-7" data-toggle="tab">Account Details</a></li>
                    <li class="" id="Counseling"><a href="#nav-tab2-8" data-toggle="tab">Counseling Details</a></li>
                    <li class="" id="Incident"><a href="#nav-tab2-10" data-toggle="tab">Incident Details</a></li>
                    <li class="" id="Sibling"><a href="#nav-tab2-11" data-toggle="tab">Sibling Details</a></li>
                    <li class="" id="Talents"><a href="#nav-tab2-12" data-toggle="tab">Talents Details</a></li>
                    <li class="" id="IssueEtc"><a href="#nav-tab2-14" data-toggle="tab">IssueEtc Details</a></li>
                    <li class="" id="Medical"><a href="#nav-tab2-16" data-toggle="tab">Medical Details</a></li>
                    <li class="" id="Qualification"><a href="#nav-tab2-17" data-toggle="tab">Privious Qualification</a></li>

                    <li class="next-button"><a href="javascript:;" data-click="next-tab" class="text-inverse"><i class="fa fa-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="nav-tab2-1" data-parsley-validate="true">
                    @Html.Action("EditStuAcademicInfo", "Student")
                </div>
                <div class="tab-pane fade" id="nav-tab2-2" data-parsley-validate="true">
                    <div id="dvPersonal"></div>
                </div>
                <div class="tab-pane fade" id="nav-tab2-3" data-parsley-validate="true">
                    <div id="dvParents"></div>
                </div>
                <div class="tab-pane fade" id="nav-tab2-4" data-parsley-validate="true">
                    <div id="dvAddress"></div>
                </div>
                <div class="tab-pane fade" id="nav-tab2-5" data-parsley-validate="true">
                    <div id="dvActivity"></div>
                </div>
                <div class="tab-pane fade" id="nav-tab2-6" data-parsley-validate="true">
                    <div id="dvCertificate"></div>
                </div>
                <div class="tab-pane fade" id="nav-tab2-7" data-parsley-validate="true">
                    <div id="dvAccountInfo"></div>
                </div>
                <div class="tab-pane fade" id="nav-tab2-8" data-parsley-validate="true">
                    <div id="dvCounseling"></div>
                </div>
                @*<div class="tab-pane fade" id="nav-tab2-9">
                        <div id="dvPublish"></div>
                    </div>*@
                <div class="tab-pane fade" id="nav-tab2-10" data-parsley-validate="true">
                    <div id="dvIncident"></div>
                </div>
                <div class="tab-pane fade" id="nav-tab2-11" data-parsley-validate="true">
                    <div id="dvSibling"></div>
                </div>
                <div class="tab-pane fade" id="nav-tab2-12" data-parsley-validate="true">
                    <div id="dvTalents"></div>
                </div>
                @*<div class="tab-pane fade" id="nav-tab2-13">
                    <div id="dvClgHistory"></div>
                </div>*@
                <div class="tab-pane fade" id="nav-tab2-14" data-parsley-validate="true">
                    <div id="dvIssueEtc"></div>
                </div>
                <div class="tab-pane fade" id="nav-tab2-15" data-parsley-validate="true">
                    <div id="dvAchievement"></div>
                </div>
                <div class="tab-pane fade" id="nav-tab2-16" data-parsley-validate="true">
                    <div id="dvMedical"></div>
                </div>
                <div class="tab-pane fade" id="nav-tab2-17" data-parsley-validate="true">
                    <div id="dvQualification"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end panel -->
</div>
@section scripts{

<script src="~/Content/assets/plugins/flot/jquery.flot.min.js"></script>
<script src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/plugins/gritter/js/jquery.gritter.js"></script>
<script src="~/Content/assets/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
<script src="~/Content/assets/js/ui-modal-notification.demo.min.js"></script>
<script src="~/Content/assets/plugins/parsley/dist/parsley.js"></script>

<script>
    
    $(document).ready(function () {
          Notification.init();
        handleDatepicker = function () {
            "use strict";
            $("#txtAdmissionDate,#txtsRegisterdate").datepicker({
                todayHighlight: true,
                autoclose: true,
                endDate: new Date(),
                format: "dd/mm/yyyy",
                orientation: "right bottom"
               // 'top': top,
               // 'left': left
            }
            )
        }
        handleDatepicker();

        // Fetch Academic ...
        AcadamicInfo=function()
        {
            $.ajax({
                url:"@Url.Action("FetchAcadamicInfo", "Student")",
                method: "POST",
                dtatype: "html",
                success:function(data)
                {
                    $("#txtRegNo").val(data.RegisterNo);
                    $("#txtRollNo").val(data.RollNo);
                    $("#txtURollNo").val(data.URollNo);
                    $("#txtAdmissionNo").val(data.AdmissionNo);
                    $("#txtAdmissionDate").val(data.AdmissionDate);
                    $("#txtAdmitClass").val(data.AdmittedClass);
                    $("#txtsRegisterdate").val(data.sRegisterDate);
                    $("#txtRemark").val(data.Remarks);
                    $("#ddlBatch").val(data.Batch);
                    $("#ddlClass").val(data.Class);
                    $("#ddlDeprt").val(data.Department);
                    $("#ddlProgram").val(data.Program);
                    $("#txtTcSNo").val(data.TCSerialNo);
                    $("#txtShift").val(data.Shift);
                    $("#txtEmail").val(data.Stu_Email);
                    $("#Role").val(data.Role);
                    $("#UserType").val(data.UserType);
                    if (data.IsLeft=="1") 
                    {
                        $("#chLeft").attr("checked","checked");
                    }
                },error:function(error)
                {
                    alert('Internal Server Error ..!');
                }
            });
      }
        AcadamicInfo();
    });
</script>

<script>

    // Update Academic info ...
    $("#btnEditStudentAcadamic").on("click",function()
    {
        var isValid = true;
        if ($('#nav-tab2-1').parsley().validate() !== true) isValid = false;
        if (!isValid) {
            //gritter-info,danger,success,warning,default
            myAlert('Something went wrong ! Please check your inputs !', 'gritter-warning', '');
            return false;
        }
        var RegisterNo= $("#txtRegNo").val();
        var RollNo= $("#txtRollNo").val();
        var URollNo= $("#txtURollNo").val();
        var AdmissionNo= $("#txtAdmissionNo").val();
        var AdmissionDate= $("#txtAdmissionDate").val();
        var AdmittedClass= $("#txtAdmitClass").val();
        var sRegisterDate= $("#txtsRegisterdate").val();
        var Remarks= $("#txtRemark").val();
        var Batch= $("#ddlBatch").val();
        var Class= $("#ddlClass").val();
        var Department= $("#ddlDeprt").val();
        var Program= $("#ddlProgram").val();
        var TCSerialNo= $("#txtTcSNo").val();
        var Shift= $("#txtShift").val();
        var Email= $("#txtEmail").val();
        var Role = '';
        Role = $("#Role").val();
        var UserType = '';
        var IsLeft=0;
        UserType = $("#UserType").val();
        if ($('#chLeft').attr('checked'))
        {
            IsLeft=$("#chLeft").val();
        }
        else
        {
            IsLeft=0;
        }
        if (Role =='' || UserType =='') 
        {
            alert('please select Role and Type ..!');
            return false;
        }
        var JsonData;
        if (JsonData==null) 
        {
            JsonData='{"IsLeft":"'+ IsLeft +'","UserType":"' + UserType + '","Role":"' + Role + '","Stu_Email":"'+Email+'","RollNo":"'+RollNo+'","URollNo":"'+URollNo+'","AdmissionNo":"'+AdmissionNo+'","AdmissionDate":"'+AdmissionDate+'","AdmittedClass":"'+AdmittedClass+'","sRegisterDate":"'+sRegisterDate+'","Remarks":"'+Remarks+'","Batch":"'+Batch+'","Class":"'+Class+'","Department":"'+Department+'","Program":"'+Program+'","TCSerialNo":"'+TCSerialNo+'","Shift":"'+Shift+'","RegisterNo":"'+RegisterNo+'"}';
        }
        $.ajax({
            url:"@Url.Action("EditAcadamicInfo", "Student")",
            method:"POST",
            datatype:"json",
            data:{str:JsonData},
            success:function(data)
            {
                if (data == "200")                
                    myAlert('Record(s) saved successfully ...!', 'gritter-success', '');
                else if(data=="406")
                    myAlert('Failed to save Records ...!', 'gritter-warning', '');
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });

    // Bind Course By DepartmentID
    $("#ddlDeprt").on("change", function ()
    {
        var Department = $("#ddlDeprt").val();
        
        $.ajax({
            url:"@Url.Action("FetchProgrammeByID", "Student")",
            method: "POST",
            datatype: "html",
            data: { Department: Department },
            success:function(option)
            {
                var select = $("#ddlProgram");
                select.empty();
                select.append('<option value="">-- select --</option>'+option);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });

    // Fetch Class By ShiftID
    $("#Shift").on("change", function ()
    {
        var Shift = $("#Shift").val();
        
        $.ajax({
            url:"@Url.Action("FetchClassByID", "Student")",
            method: "POST",
            datatype: "html",
            data: { ShiftID: Shift },
            success: function (option)
            {
                var select = $("#ddlClass");
                select.empty();
                select.append('<option value="">-select--</option>'+option);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });

</script>
    
<script>
    // Bind Personal Details ...
    $("#Personal").on("click", function ()
    {
        $.ajax({
            url: "@Url.Action("EditStuPersonalInfo", "Student")",
            method: "POST",
            datatype: "json",
            success:function(data)
            {
                $("#dvPersonal").empty();
                $("#dvPersonal").append(data);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });

    // Bind Address Details ...
    $("#Address").on("click", function ()
    {
        $.ajax({
            url: "@Url.Action("EditStuAddressInfo", "Student")",
            method: "POST",
            datatype: "json",
            success:function(data)
            {
                $("#dvAddress").empty();
                $("#dvAddress").append(data);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });

    // Bind Activity Details ...
    $("#Activity").on("click", function ()
    {
        $.ajax({
            url: "@Url.Action("EditStuActivityInfo", "Student")",
            method: "POST",
            datatype: "json",
            success:function(data)
            {
                $("#dvActivity").empty();
                $("#dvActivity").append(data);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });

    // Bind Parents Details ...
    $("#Parents").on("click", function ()
    {
        $.ajax({
            url: "@Url.Action("EditStuParentsInfo", "Student")",
            method: "POST",
            datatype: "json",
            success:function(data)
            {
                $("#dvParents").empty();
                $("#dvParents").append(data);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });

   // Bind Sibling Details ...
    $("#Sibling").on("click", function ()
    {
        $.ajax({
            url: "@Url.Action("EditStuSiblingInfo", "Student")",
            method: "POST",
            datatype: "json",
            success:function(data)
            {
                $("#dvSibling").empty();
                $("#dvSibling").append(data);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });

    // Bind Certificate Details ...
    $("#Certificate").on("click", function ()
    {
        $.ajax({
            url: "@Url.Action("EditStuCertificateInfo", "Student")",
            method: "POST",
            datatype: "json",
            success:function(data)
            {
                $("#dvCertificate").empty();
                $("#dvCertificate").append(data);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });

    // Bind AccountInfo Details ...
    $("#AccountInfo").on("click", function ()
    {
        $.ajax({
            url: "@Url.Action("EditStuAccountInfo", "Student")",
            method: "POST",
            datatype: "json",
            success:function(data)
            {
                $("#dvAccountInfo").empty();
                $("#dvAccountInfo").append(data);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });

    // Bind Counseling Details ...
    $("#Counseling").on("click", function ()
    {
        $.ajax({
            url: "@Url.Action("EditStuCounsellingInfo", "Student")",
            method: "POST",
            datatype: "json",
            success:function(data)
            {
                $("#dvCounseling").empty();
                $("#dvCounseling").append(data);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });

    // Bind Incident Details ...
    $("#Incident").on("click", function ()
    {
        $.ajax({
            url: "@Url.Action("EditStuincidentInfo", "Student")",
            method: "POST",
            datatype: "json",
            success:function(data)
            {
                $("#dvIncident").empty();
                $("#dvIncident").append(data);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });

    // Bind Incident Details ...
    $("#Talents").on("click", function ()
    {
        $.ajax({
            url: "@Url.Action("EditStuTalentsInfo", "Student")",
            method: "POST",
            datatype: "json",
            success:function(data)
            {
                $("#dvTalents").empty();
                $("#dvTalents").append(data);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });


    // Bind ClgHistory Details ...
    $("#ClgHistory").on("click", function ()
    {
        $.ajax({
            url: "@Url.Action("EditStuClgHistoryInfo", "Student")",
            method: "POST",
            datatype: "json",
            success:function(data)
            {
                $("#dvClgHistory").empty();
                $("#dvClgHistory").append(data);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });

    // Bind IssueEtc Details ...
    $("#IssueEtc").on("click", function ()
    {
        $.ajax({
            url: "@Url.Action("EditStuTcIssueInfo", "Student")",
            method: "POST",
            datatype: "json",
            success:function(data)
            {
                $("#dvIssueEtc").empty();
                $("#dvIssueEtc").append(data);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });

    @*// Bind Achievement Details ...
    $("#Achievement").on("click", function ()
    {
        $.ajax({
            url: "@Url.Action("AddStuAchivementInfo", "Student")",
            method: "POST",
            datatype: "json",
            success:function(data)
            {
                $("#dvAchievement").empty();
                $("#dvAchievement").append(data);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });*@

    // Bind Medical Details ...
    $("#Medical").on("click", function ()
    {
        $.ajax({
            url: "@Url.Action("EditStuMedicalInfo", "Student")",
            method: "POST",
            datatype: "json",
            success:function(data)
            {
                $("#dvMedical").empty();
                $("#dvMedical").append(data);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });

    // Bind PriviousQualificationInfo Details ...
    $("#Qualification").on("click", function ()
    {
        $.ajax({
            url: "@Url.Action("EditStuPriviousQualificationInfo", "Student")",
            method: "POST",
            datatype: "json",
            success:function(data)
            {
                $("#dvQualification").empty();
                $("#dvQualification").append(data);
            },error:function(error)
            {
                alert('Internal Server Error ..!');
            }
        });
    });
</script>

}
