@model CMS.ViewModel.Model.StuAcadamicInfo


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Acadamic Details</h4>
    <hr />
    <div class="form-horizontal">

        <div class="col-md-6">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.BATCH, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.BATCH, Model.BATCH, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlBatch", @data_parsley_required = "true" })
                    @Html.ValidationMessageFor(model => model.BATCH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DEPT_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.DEPT_ID, Model.DEPT_ID, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlDeprt", @data_parsley_required = "true" })
                    @Html.ValidationMessageFor(model => model.DEPT_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PROGRAM_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.PROGRAM_ID, Model.PROGRAM_ID, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlProgram", @data_parsley_required = "true" })
                    @Html.ValidationMessageFor(model => model.PROGRAM_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SHIFT, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.SHIFT, Model.SHIFT, "-- Select --", new { @class = "drop-down form-control input-sm", id = "txtShift", @data_parsley_required = "true" })
                    @Html.ValidationMessageFor(model => model.SHIFT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CLASS_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.CLASS_ID, Model.CLASS_ID, "-- Select --", new { @class = "drop-down form-control input-sm", id = "ddlClass", @data_parsley_required = "true" })
                    @Html.ValidationMessageFor(model => model.CLASS_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ADMINSSION_NO, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ADMINSSION_NO, new { htmlAttributes = new { @class = "form-control input-sm", id = "txtAdmissionNo", placeholder = "Enter Admission No", @data_parsley_length = "[3,15]", @data_parsley_type = "alphanum" } })
                    @Html.ValidationMessageFor(model => model.ADMINSSION_NO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ADMISSIONDATE, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="input-group date" id="datetimepicker1">
                        @Html.EditorFor(model => model.ADMISSIONDATE, new { htmlAttributes = new { @class = "form-control input-sm", id = "txtAdmissionDate", placeholder = "Enter Admission Date"} })
                        @Html.ValidationMessageFor(model => model.ADMISSIONDATE, "", new { @class = "text-danger" })
                        <span class="input-group-addon bg-purple"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ADMITTED_CLASS, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.ADMITTED_CLASS, Model.ADMITTED_CLASS, "-- select --", new { @class = "form-control input-sm", id = "txtAdmitClass"})
                    @Html.ValidationMessageFor(model => model.ADMITTED_CLASS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.STUDENTREGISTEREDDATE, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="input-group date" id="datetimepicker1">
                        @Html.EditorFor(model => model.STUDENTREGISTEREDDATE, new { htmlAttributes = new { @class = "form-control input-sm", id = "txtsRegisterdate", placeholder = "Enter Registration Date" } })
                        @Html.ValidationMessageFor(model => model.STUDENTREGISTEREDDATE, "", new { @class = "text-danger" })
                        <span class="input-group-addon bg-purple"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            
            <div class="form-group">
                @Html.LabelFor(model => model.REGISTER_NO, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.REGISTER_NO, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Enter Register No", id = "txtRegNo", @data_parsley_length = "[3,30]", @data_parsley_type = "alphanum" } })
                    @Html.ValidationMessageFor(model => model.REGISTER_NO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ROLL_NO, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ROLL_NO, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Enter Roll No", id = "txtRollNo", style = "text-transform:uppercase", @data_parsley_length = "[3,25]", @data_parsley_required = "true", @data_parsley_type = "alphanum" } })
                    @Html.ValidationMessageFor(model => model.ROLL_NO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UNIVERSITY_ROLLNO, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.UNIVERSITY_ROLLNO, new { htmlAttributes = new { @class = "form-control input-sm", id = "txtURollNo", placeholder = "Enter University Roll No", @data_parsley_length = "[3,30]", @data_parsley_type = "alphanum" } })
                    @Html.ValidationMessageFor(model => model.UNIVERSITY_ROLLNO, "", new { @class = "text-danger" })
                </div>
            </div>

            

            <div class="form-group">
                @Html.LabelFor(model => model.REMARKS, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.REMARKS, 3, 20, new { @data_parsley_length = "[3,100]", @class = "form-control input-sm", id = "txtRemark", placeholder = "Enter Student Remarks" })
                    @Html.ValidationMessageFor(model => model.REMARKS, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.ACADEMIC_MENTOR, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.ACADEMIC_MENTOR, Model.ACADEMIC_MENTOR, "-- Select --", new { @class = "drop-down form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.ACADEMIC_MENTOR, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            <div class="form-group">
                @Html.LabelFor(model => model.STU_EMAIL, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.STU_EMAIL, new { htmlAttributes = new { @class = "form-control input-sm", id = "txtEmail", placeholder = "Ex:Jesus@gmail.com", @data_parsley_type = "email", @data_parsley_length = "[3,50]" } })
                    @Html.ValidationMessageFor(model => model.STU_EMAIL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TC_SERIAL_NUMBER, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.TC_SERIAL_NUMBER, new { htmlAttributes = new { @class = "form-control input-sm", id = "txtTcSNo", placeholder = "Enter Serial No", @data_parsley_length = "[3,45]", @data_parsley_type = "alphanum" } })
                    @Html.ValidationMessageFor(model => model.TC_SERIAL_NUMBER, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Role, Model.Role, "-- Select --", new { @class = "form-control", @data_parsley_required = "true" })
                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UserType, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.UserType, Model.UserType, "-- Select --", new { @class = "form-control", @data_parsley_required = "true" })
                    @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IsLeft, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <input type="checkbox" id="chLeft" value="1" />
                </div>
            </div>
            <div class="form-group pull-right">
                <div class="col-md-12 pull-right">
                    <a class="btn btn-primary" id="btnEditStudentAcadamic">Update</a>
                </div>
            </div>
        </div>
    </div>
}

