@model CMS.ViewModel.ViewModel.StudentViewModel

@{
    ViewBag.Title = "StudentTransferList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section styles{
    <link href="~/Content/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.min.css" rel="stylesheet" />
}
<div class="content" id="content">
    @using (Html.BeginForm())
    { @Html.AntiForgeryToken()
        <ol class="breadcrumb pull-right">
            <li><a href="javascript:;">Home</a></li>

            <li class="active">Student Transfer List </li>
        </ol>
        <h2 class="page-header"> Student Transfer  </h2>
        <div class="panel">
            <div class="panel-heading bg-primary">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Student Transfer List </h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })




                    <div class="col-md-12">
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.ClassYear, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.ClassYear, Model.ClassYear, "-- Select --", new { @class = "drop-down form-control  input-sm" })
                                @Html.ValidationMessageFor(model => model.ClassYear, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.ClassList, "Current Class", htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.ClassList, Model.ClassList, "-- Select --", new { @class = "drop-down dropdown-menu open form-control  input-sm" })
                                @Html.ValidationMessageFor(model => model.ClassList, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.ClassList, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.ClassList, Model.ClassList, "-- Select --", new { @class = "drop-down dropdown-menu open form-control  input-sm", id = "ddlToClassList" })
                                @Html.ValidationMessageFor(model => model.ClassList, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="pull-right col-md-1" id="divIndividualPromotion">
                            <a class="btn btn-success pull-right form-group m-b-5" id="btnIndividualUpgrade" onclick="StudentTransfer()">Transfer</a>
                        </div>

                    </div>


                </div>
                <div class="col-lg-12 m-b-5">
                    <div id="divStudentPromotion">
                        <!--Need to use this fied to bind Student List-->
                    </div>
                </div>

            </div>
        </div>

    }
</div>
@section scripts{
    <script src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/assets/plugins/select2/dist/js/select2.min.js"></script>
    <script src="~/Content/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script>
        $("#ClassList,#ddlToClassList").select2();
    </script>
    <script>
        $('#ClassYear').on('change', function () {
            var vClassYearId = $('#ClassYear').val();
            if (vClassYearId != 0) {
                $.ajax({
                    url: '@Url.Action("GetClassByClassYear", "Student")',
                    data: { sClassYearId: vClassYearId },
                    success: function (option) {
                        $('#ClassList').empty().append(option);
                        $('#ddlToClassList').empty();
                    },
                    error: function (xhr, textStatus, error) {
                        alert(error + "\n");
                    }
                });

            } else {
                alert('Please Select Class Year !!!');
            }
        });
    </script>
    <script>
        $('#ClassList').on('change', function () {
            loadGird();
        });
        function loadGird() {
            var vClassYearId = $('#ClassYear').val();
            var vClassId = $('#ClassList').val();
            if (vClassId != 0 && vClassYearId!=0) {
                $.ajax({
                    url: '@Url.Action("BindStudentToTransfer", "Student")',
                    data: { sClassId: vClassId },
                    success: function (option) {
                        var dvStudentPromotion = $('#divStudentPromotion');
                        dvStudentPromotion.empty();
                        dvStudentPromotion.append(option);
                        $("#StudentList").DataTable({ "bPaginate": false });
                        $("#StudentList_filter").addClass("dataTables_filter pull-right");
                        $(".pagination").addClass("pagination pull-right");
                        BindClass();
                    },
                    error: function (xhr, textStatus, error) {
                        alert(error + "\n");
                    }
                });

            } else {
                alert('Please Select Class Year !!!');
            }
        }
    </script>
    <script>
        BindClass = function () {
            var vClassId = $('#ClassList').val();
            var vClassYearId = $('#ClassYear').val();
            if (vClassYearId!=0) {

                if (vClassId != 0 && vClassYearId != 1) {
                    $.ajax({
                        url: '@Url.Action("GetClassForTransfer", "Student")',
                        data: { sClassId: vClassId },
                        success: function (option) {
                            $('#ddlToClassList').empty().append(option).select2();
                        },
                        error: function (xhr, textStatus, error) {
                            alert(error + "\n");
                        }
                    });

                } else {
                    if (true) {
                        $.ajax({
                            url: '@Url.Action("GetClassByClassYearAndClassLevel", "Student")',
                            data: { sClassYearId: vClassYearId, sClassId: vClassId },
                            success: function (option) {
                                $('#ddlToClassList').empty().append(option);
                            },
                            error: function (xhr, textStatus, error) {
                                alert(error + "\n");
                            }
                        });
                    }
                }
            } else {
                alert('Please Select Class Year !!!');
            }
        }
    </script>
    <script>
        SelectOrUnselect = function () {

            if (AllchkID.checked == true) {
                $('#StudentList tbody tr').each(function () {
                    $(this).find('input[type="checkbox"]').each(function () {
                        $('input[type="checkbox"]').attr("checked", true);
                    });
                });
            }
            else {
                $('#StudentList tbody tr').each(function () {
                    $(this).find('input[type="checkbox"]').each(function () {
                        $('input[type="checkbox"]').attr("checked", false);
                    });
                });
            }
        }
    </script>
    <script>
        function Validate() {
            var validate = 0;
            if (($('#ddlToClassList').val()) == ($('#ClassList').val())) {
                validate = 1;
            }
            return validate;
        }
    </script>
    <script>
        StudentTransfer = function () {
            var StudentId;
            if (($('#ddlToClassList').val()) != 0 && ($('#ClassList').val()) != 0) {
                if (parseInt($('#ddlToClassList').val()) != null) {
                    if (Validate()) {
                        alert('Current class and upgrade class both are same...!!!');
                        return false;
                    }
                    $('#StudentList tbody tr').each(function () {
                        $(this).find('td').each(function () {
                            var chkBox = $(this).find('input[type="checkbox"]');
                            if (chkBox.is(':checked')) {
                                StudentId = '"' + $(this).find('input[type="checkbox"]').attr("cms-studentid") + '"';
                            }
                        });
                    });
                    if (StudentId == null) {
                        alert('Please select the student to upgrade...!!!');
                        return false;
                    }
                }
                var ClassId = $('#ddlToClassList').val();
                var sClassId;
                var JsonData;
                var Search = $('input[type="search"]').val();
                if (Search == '') {
                    JsonData = '{"StudentPromotionList":[';
                    $('#StudentList tbody tr').each(function () {
                        sClassId = ClassId;
                        $(this).find('td').each(function () {
                            var chkBox = $(this).find('input[type="checkbox"]');
                            if (chkBox.is(':checked')) {
                                alert('Success');
                                JsonData += '{"CLASS_ID":"' + sClassId + '",';
                                JsonData += '"' + "STUDENT_ID" + '":"' + $(this).find('input[type="checkbox"]').attr("cms-studentid") + '"},';

                            }
                        });
                    });
                    JsonData = JsonData.slice(0, -1);
                    JsonData +=
                    ']}';
                    alert(JsonData);
                    $.ajax({
                        url: "@Url.Action("UpdateStuClassAndStuCourseInfo", "Student")",
                        method: "POST",
                        data: { sStuClass: JsonData },
                        datatype: "json",
                        success: function (data) {
                            alert(data);
                        }, error: function (xhr, textStatus, error) {
                            alert(error + "\n" + textStatus + error);
                        }
                    });
                }
                else {
                    alert('Please Clear the Search Box...!!!');
                }
            }
            else {
                alert('Please Select The Class...!!!');
            }
        }
    </script>
}