@model CMS.ViewModel.ViewModel.AttendanceViewModel
@using CMS.Utility;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section styles{

    <link href="~/Content/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Attendance</a></li>
        <li class="active">Absentees Entry</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Absentees Entry<small></small></h1>
    <!-- end page-header -->

    <div class="panel panel-primary" id="panel">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" id="btnReload" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Absentees Entry</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="form-group  col-md-12">
                        <div class="col-md-4 " data-step="1" data-intro="Choose Class">
                            @Html.Label("Date", htmlAttributes: new { @class = "col-md-3 control-label " })
                            <div class="col-md-8">
                                @Html.Editor("AttendanceDate", new { htmlAttributes = new { @class = "form-control", placeholder = "Select Date " } })
                            </div>
                        </div>
                        <div class="col-md-4" data-step="2" data-intro="Choose Course">
                            @Html.Label("Class List", htmlAttributes: new { @class = "col-md-4 control-label pull-left" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.Classes, (Model.Classes != null) ? new SelectList(Model.Classes, Common.CP_CLASSES_2017.CLASS_ID, Common.CP_CLASSES_2017.CLASS_NAME) : Enumerable.Empty<SelectListItem>(), "---Select---", new { @class = "form-control  select2" })
                            </div>

                        </div>
                        <div class="col-md-4" data-step="2" data-intro="Choose Course">
                            @Html.Label("Hours", htmlAttributes: new { @class = "col-md-4 control-label " })
                            <div class="col-md-8">
                                @Html.DropDownList("HoursList", Enumerable.Empty<SelectListItem>(), new { @class = "form-control  select2" })
                            </div>

                        </div>
                    </div>
                </div>
                <div id="divAttendanceEntry" class="row col-lg-12"></div>
                <div class="col-lg-12">
                    <a href="#" class="btn-success btn disabled " id="btnSubmit">Submit</a>
                </div>
            }

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Content/assets/plugins/flot/jquery.flot.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    @*<script src="~/Content/assets/plugins/intro-js/intro.js"></script>*@
    <script src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#AttendanceDate").datepicker({
                todayHighlight: true,
                autoclose: true,
                endDate: new Date(),
                format: "dd/mm/yyyy",
                orientation: "right bottom",
                defaultDate: new Date()
            });

            $('#Classes').on('change', function () {
                $('#divAttendanceEntry').empty();

                var inp = $('#Classes').val();
                var attendanceDate = $("#AttendanceDate").val();
                if (attendanceDate!='') {
                     $.ajax({
                    url: "@Url.Action("FetchHoursByStaffId", "Attendance")",
                    async: false,
                    data: { sClassId: inp, sAttendanceDate: attendanceDate},
                    success: function (sResult) {
                        var select = $('#HoursList');
                        select.empty();
                        select.append('<option value="0" >---Select---</option>' + sResult.sResult);

                    },
                    error: function (xhr, textStatus, error) {
                        alert(error + "\n");
                    }

                });
                $('#btnSubmit').addClass("disabled");
                } else {
                    alert('Please choose Attendance Date !!');
                }
            });
            $('#HoursList').on('change', function () {
                BindAttendance();
            });



        });
        $('#btnSubmit').on('click', function () {
            if ($('#search').val() != '') {
                alert('Please Clear Search Box and Try...!');
                return false;
            }
            var attendanceDate = $("#AttendanceDate").val();
            if (attendanceDate == '') {
                alert('Attendance date is missing !!!');
                return false;
            }
            var flag = false;
            var sJson = '{"ATT_ABSENTEE_LIST":[';
            $('#tblAttendance tbody tr').each(function () {
                var AttendanceId;
                var StudentId;
                var SClassId;
                var AttendanceDate = $(this).attr("cms-date");
                var StaffId = $(this).attr("cms-staff-id");
                StudentId = $(this).attr('cms-student-id');
                AttendanceId = $(this).attr('cms-attendance-id');                
                SClassId = $(this).attr('cms-s-class-id');           
                if ($(this).find('#attendanceType option:selected').text().toLowerCase().trim() != 'Present'.toLowerCase() || AttendanceId != '') {
                    sJson += '{"ENTRY_DATE":"' + AttendanceDate + '","STAFF_ID":"' + StaffId + '","ENTRY_ID":"' + StaffId + '","ATTENDENCE_DATE":"' + attendanceDate + '","ATTENDANCE_ID":"' + $(this).attr('cms-attendance-id') + '","COURSE_ID":"' + $('#hdCourseId').val() + '","HOUR_FROM":"' + $('#HoursList').val() + '","HOUR_TO":"' + $('#HoursList').val() + '","STUDENT_ID":"' + StudentId + '","CLASS_ID":"' + $('#hdClassId').val() + '","S_CLASS_ID":"' + SClassId + '","ATTENDANCE_TYPE_ID":"' + $(this).find('#attendanceType option:selected').val() + '","REASON_ID":"' + $(this).find('#reason option:selected').val() + '"},'
                    flag = true;
                }
            });

            if (flag) {
                sJson = sJson.slice(0, -1) + ']}';
                $.ajax({
                    url: "@Url.Action("AttendanceEntry", "Attendance")",
                    async: false,
                    method: 'post',               
                    data: { sJsonString: sJson },
                    dataType :'json',
                    success: function (data) {                               
                        alert('Successful request,Please verify Absentees list !!');
                        BindAttendance();

                    },
                    error: function (xhr, textStatus, error) {
                        alert(error + "\n");
                        $('#btnSubmit').addClass("disabled");
                    }
                });
            } else {
                return false;
            }

        });
        function BindAttendance() {
            $('#divAttendanceEntry').empty();
            $('#btnSubmit').removeClass("disabled");
            var input1 = $('#Classes').val();
            var input2 = $('#HoursList').val();
            var oTable;
            var attendanceDate = $("#AttendanceDate").val();
            if (attendanceDate != '') {
                $.ajax({
                    url: "@Url.Action("LoadStudentsForAttendance", "Attendance")",
                    async: false,
                    data: { sClassId: input1, sHourId: input2, sAttendanceDate: attendanceDate},
                    success: function (sResult) {
                        var select = $('#divAttendanceEntry');
                        select.empty();
                        select.append(sResult);
                        oTable = $("#tblAttendance").DataTable({ "bPaginate": false, "sDom": '<"top">rt<"bottom"flp><"clear">' });
                        $('.dataTables_filter').hide();
                        $('#search').on('keyup', function () {
                            oTable.search(this.value).draw();
                        });
                    },
                    error: function (xhr, textStatus, error) {
                        alert(error + "\n");
                    }

                });
            } else {
                alert('Missing Attendance Date !!!');
            }
        }
    </script>

}





